@charset "UTF-8";
/* CSS Document */
/* Artículo principal ------------------------------------------------------------------------ */
.interior #principal { width: 68%; float: left; margin-bottom: 2em; }
.interior #principal .sep p { margin-bottom: 0.5em; }

/* Textos: títulos, párrafos, listas, listas ordenadas */
.entry { font-size: 1.1em; font-weight: bold; }

.interior #principal h1 { font-size: 3.2em; font-weight: normal; color: #d81e05; margin-bottom: .2em; line-height: 1em; letter-spacing: -.05em; }

.interior #principal h2 { font-size: 2.5em; font-weight: normal; color: #d81e05; margin-bottom: 1em; border-bottom: 1px solid #d6d6d5; line-height: 1em; letter-spacing: -.05em; }

.interior #principal h2 span { padding-right: .25em; }

.interior #principal h3 { font-size: 2.15em; font-weight: normal; color: #d81e05; padding: .4em 0 1em .5em; background: url(../img/icos.gif) no-repeat 0 -460px; line-height: 1em; letter-spacing: -.05em; }

.interior #principal h4 { font-size: 2em; font-weight: normal; color: #000; padding: .5em 0 1em .5em; line-height: 1em; letter-spacing: -.05em; }

.interior #principal p { font-size: 1.6em; line-height: 1.2em; margin: 0 0 1.5em 0; }

.interior #principal form.texto { margin: 0 0 1.5em 0; }

.interior #principal form.texto label { font-size: 1.6em; line-height: 1.2em; }

.interior #principal form.texto input[type=checkbox], .interior #principal form.texto input[type=radio] { margin-top: -.2em; }

.interior #principal p a.FNMT { width: 95%; padding-left: 5%; display: table; height: 5em; }

.interior #principal p a.FNMT span { margin: -55px 0 0 65px; display: block; }

.interior #principal p a.FNMT img { background: url(../img/icos.gif) no-repeat 0 0; width: 50px; height: 75px; }

.interior #principal ul li { position: relative; margin-bottom: 1.4em; }

.interior #principal ul li:before { content: '\2022'; color: #d81e05; position: absolute; top: -.05em; left: -.75em; font-size: 1.5em; }

.interior #principal ul.normal { margin-left: 1em; margin-bottom: 2.5em; }

.interior #principal ul.normal > li { font-size: 1.6em; line-height: 1.2em; margin: 0 0 .3em .35em; }

.interior #principal ul.imagenes > li { display: inline-block; }

.interior #principal ul.imagenes li:before { content: ''; }

.interior #principal ol.numeros { font-size: 1.6em; line-height: 1.2em; counter-reset: li; margin: 0 0 1.5em .75em; }

.interior #principal ol.numeros > li { position: relative; margin: 0 0 1em 2.35em; padding: 0; list-style: none; background: #fff; }

.interior #principal ol.numeros > li:before { content: counter(li); counter-increment: li; position: absolute; top: -3px; left: -2.35em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 1.7em; margin-right: 0; padding: .25em; color: #fff; background: #696969; font-weight: bold; text-align: center; border-radius: 25px; box-shadow: 0 0 15px 3px #fafafa; }

.interior #principal ol.numeros > li strong { display: table; }

#contenido div.sinPest h1.ppal { font-size: 3.2em; font-style: italic; font-weight: normal; color: #d81e05; margin-bottom: .8em; line-height: 1em; letter-spacing: -.05em; clear: both; }

#contenido div.sinPest h1.ppal span { font-size: .7em; }

/* Destacados */
.interior #principal .cajadestico { background: url(../img/bg-dest-ico.gif) no-repeat left bottom; margin-bottom: 2em; border: 1px solid #eee; box-shadow: 1px 2px 2px #aaa; }
.interior #principal .cajadestico .ico-alert { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-alert:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -43px 0; }
.interior #principal .cajadestico .ico-alert p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-alert p + p { padding-top: 0; }
.interior #principal .cajadestico .ico-info { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-info:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -129px 0; }
.interior #principal .cajadestico .ico-info ul { margin-left: 1em; padding-top: .5em; }
.interior #principal .cajadestico .ico-info ul li p { padding-top: 0; }
.interior #principal .cajadestico .ico-info p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-info p + p { padding-top: 0; }
.interior #principal .cajadestico .ico-OK { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-OK:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat 0 0; }
.interior #principal .cajadestico .ico-OK p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-OK p + p { padding-top: 0; }
.interior #principal .cajadestico .ico-error { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-error:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -172px 0; }
.interior #principal .cajadestico .ico-error p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-error p + p { padding-top: 0; }
.interior #principal .cajadestico .ico-reloj { position: relative; padding: 2em 4% 3em 12%; display: inline-block; }
.interior #principal .cajadestico .ico-reloj:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -215px 0; }
.interior #principal .cajadestico .ico-reloj p { margin-bottom: 0; padding-top: .5em; }
.interior #principal .cajadestico .ico-reloj p + p { padding-top: 0; }
.interior #principal .cajadestico .ico-block { position: relative; padding: 2em 4% 3em 12%; display: inline-block; }
.interior #principal .cajadestico .ico-block:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -86px 0; }
.interior #principal .cajadestico .ico-block p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-block p + p { padding-top: 0; }
.interior #principal .cajadestico li p { margin: 0; }

@media only screen and (max-width: 991px) { /* CONTENIDO */
  /* Artículo principal */
  .interior #principal { width: 100%; } }
@media only screen and (min-width: 641px) { .interior #principal .cajadestico div[class^='ico-'] + div[class^='ico-'] { padding-right: 0; padding-left: 8%; margin-right: 8%; margin-left: 16%; border-top: 1px solid #cbcbcb; }
  .interior #principal .cajadestico div[class^='ico-'] + div[class^='ico-']:before { left: 0; } }
@media only screen and (max-width: 640px) { .interior #principal .cajadestico .ico-alert, .interior #principal .cajadestico .ico-OK, .interior #principal .cajadestico .ico-info, .interior #principal .cajadestico .ico-block, .interior #principal .cajadestico .ico-reloj { padding-left: 7.5em; }
  .interior #principal .cajadestico .ico-alert:before, .interior #principal .cajadestico .ico-OK:before, .interior #principal .cajadestico .ico-info:before, .interior #principal .cajadestico .ico-block:before, .interior #principal .cajadestico .ico-reloj:before { left: 2em; }
  .interior #principal .cajadestico div[class^='ico-'] + div[class^='ico-'] { padding-right: 0; padding-left: 5.4641em; margin-right: 4%; margin-left: 2.0359em; border-top: 1px solid #cbcbcb; }
  .interior #principal .cajadestico div[class^='ico-'] + div[class^='ico-']:before { left: -0.2em; } }
@media only screen and (max-width: 535px) { /* Destacados */ }
@media only screen and (max-width: 480px) { /* Destacados */
  .interior #principal .cajadestico .ico-alert:before { left: 2em; }
  .interior #principal .cajadestico .ico-info:before { left: 2em; }
  .interior #principal .cajadestico .ico-info ul { margin-left: 20px; }
  .interior #principal .cajadestico .ico-info ul p { padding-top: 0; }
  .interior #principal .cajadestico .ico-info p { padding-top: 4%; }
  .interior #principal .cajadestico .ico-OK:before { left: 2em; }
  .interior #principal .cajadestico .ico-error:before { left: 2em; }
  .interior #principal .cajadestico .ico-reloj { padding-left: 6.5em; }
  .interior #principal .cajadestico .ico-reloj:before { left: 2em; } }
/* Lateral Derecho */
.interior #lateral { width: 25.5%; float: right; margin-bottom: 2em; font-size: 1.4em; }

.interior #lateral .caja { border: 1px solid #ccc; margin-bottom: 1em; background: #fff; padding: 8%; }
.interior #lateral .caja.roundcorners a { white-space: nowrap; }

.interior #lateral .caja h1 { color: #d81e05; font-size: 1.4em; border-bottom: 1px solid #ccc; padding-bottom: .75em; margin-bottom: .5em; line-height: 1em; }

.interior #lateral .caja h1 span.ico { width: 41px; float: right; }

.interior #lateral .caja h1.ayuda span { background: url(../img/icos.gif) no-repeat -100px 0; height: 35px; margin-top: -.25em; }

.interior #lateral .caja h1.faq span { background: url(../img/icos.gif) no-repeat -150px 0; height: 50px; margin-top: -1em; }

.interior #lateral .caja p { line-height: 1.25em; padding-bottom: 1em; }

.interior #lateral .caja p tel { white-space: nowrap; }

.interior #lateral .caja p.btn { padding: .25em 0 1em 0; display: table; }

.interior #lateral .caja p.btn a.boton { text-decoration: none; float: left; width: auto !important; margin: 0 !important; padding-top: .5em !important; padding-bottom: .5em !important; }

.interior #lateral .caja ol.faq span.desplegable span.respuesta { color: #666; display: none; line-height: 1.45em; }

.interior #lateral .caja ol.faq span.desplegable:hover span.respuesta { display: block; }

.interior #lateral .caja ol.faq span.desplegable span.pregunta { color: #dc291e; cursor: pointer; text-decoration: underline; line-height: 1.45em; }

.interior #lateral .caja ol.faq span.desplegable:hover span.pregunta { text-decoration: none; color: #000; }

.desplegable { display: inline-block; }

.interior #lateral .caja ol.faq { list-style: none; line-height: 1.45em; }

.interior #lateral .caja ol.faq a { text-decoration: none; cursor: pointer; }

/*.interior #lateral .caja ol.faq a span.pregunta{
	display:block;
	text-decoration:underline;
}
.interior #lateral .caja ol.faq a span.respuesta{
	display:none;
	color:#666;
}
.interior #lateral .caja ol.faq a:hover span.pregunta,
.interior #lateral .caja ol.faq a:focus span.pregunta{
	text-decoration:none;
	color:#000;
}
.interior #lateral .caja ol.faq a:hover span.respuesta,
.interior #lateral .caja ol.faq a:focus span.respuesta{
	display:block;
}*/
.interior #lateral .caja ol.faq { counter-reset: li; margin-left: 0; }

.interior #lateral .caja ol.faq > li { position: relative; margin: 0 0 1em 2em; padding: 0; list-style: none; background: #fff; }

.interior #lateral .caja ol.faq > li:before { content: counter(li,decimal-leading-zero); counter-increment: li; position: absolute; top: 0; font-size: .8em; left: -2.5em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 1.75em; margin-right: 0; padding: 0; color: #fff; background: #696969; font-weight: bold; text-align: center; border-radius: 25px; box-shadow: 0 0 15px 3px #fafafa; }

.interior #lateral div#tarjetaTC { background: url(../img/icos.gif) no-repeat 0 -75px; height: 100px; padding: 0; }

.interior #lateral div#tarjetaTC a { width: 100%; height: 100%; display: block; }

.interior #lateral .caja h2 { font-size: 1.3em; clear: both; margin-bottom: .5em; }

.interior #lateral .caja .resumen { font-size: 1em; display: table; margin-top: 1em; }

.interior #lateral .caja .resumen dt { float: left; clear: left; width: 5em; margin-bottom: .5em; padding-right: 1em; text-align: right; font-weight: bold; line-height: normal; }

.interior #lateral .caja .resumen dd { float: left; width: 8em; margin-bottom: .5em; line-height: normal; }

.interior #lateral .caja .resumen dd.doslineas { padding-top: 1.25em; }

.interior #lateral .caja .cambiar { margin-left: 1.5em; }

@media only screen and (max-width: 991px) { /* CONTENIDO */
  /* Plantillas Interiores */
  .interior #lateral { width: 100%; }
  .interior #lateral .caja .resumen dt { width: 40%; }
  .interior #lateral .caja .resumen dd { width: 40%; }
  .interior #lateral .caja .resumen dd.doslineas { padding-top: 0; } }
.queEsArea { background: url(../img/bck_quees.jpg) no-repeat 52% 12em; }
.queEsArea #principal h2 { padding-left: .6em; background: url("../img/bck_title.png") no-repeat 0 0.3em; font-size: 2.1em; border: none; }
.queEsArea #principal .entry { width: 60%; }
.queEsArea #principal .gestion-productos { margin-bottom: 2em; }
.queEsArea #principal .gestion-productos h3 { position: relative; margin: 0 0 .5em; padding: 0 0 0 2.5em; font-size: 1.5em; color: #333; background: none; }
.queEsArea #principal .gestion-productos h3:before { position: absolute; left: 0; content: ""; background-image: url("../img/icos_gestion-pro.png"); background-repeat: no-repeat; }
.queEsArea #principal .gestion-productos h3:focus { outline: 1px dotted #000; }
.queEsArea #principal .gestion-productos li:before { font-size: 1em; position: static; content: ""; }
.queEsArea #principal .gestion-productos > ul > li { display: inline-block; width: 47%; margin-right: 1.5em; padding: 1.5em .2em 1.5em 3.2em; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; vertical-align: top; border-bottom: 1px solid #babbbe; background: url("../img/ico_mas.png") no-repeat 0.5em 1.4em; }
.queEsArea #principal .gestion-productos > ul > li.cur { cursor: pointer; }
.queEsArea #principal .gestion-productos > ul > li.up { position: relative; border-radius: 10px 10px 0 0; background-color: #f0efee; border-bottom: none; background-image: url("../img/ico_menos.png"); }
.queEsArea #principal .gestion-productos > ul > li.op1 h3:before { top: -24px; width: 31px; height: 45px; background-position: 0 0; }
.queEsArea #principal .gestion-productos > ul > li.op2 h3:before { top: -15px; width: 27px; height: 53px; background-position: -247px 0; }
.queEsArea #principal .gestion-productos > ul > li.op2 .desplegable { top: 5em; }
.queEsArea #principal .gestion-productos > ul > li.op3 h3 { padding-left: 3em; }
.queEsArea #principal .gestion-productos > ul > li.op3 h3:before { top: -24px; width: 35px; height: 46px; background-position: -100px 0; }
.queEsArea #principal .gestion-productos > ul > li.op4 h3 { padding-left: 6em; }
.queEsArea #principal .gestion-productos > ul > li.op4 h3:before { top: -26px; width: 84px; height: 43px; background-position: -163px 0; }
.queEsArea #principal .gestion-productos > ul > li.op5 h3:before { top: -22px; width: 30px; height: 46px; background-position: -70px 0; }
.queEsArea #principal .gestion-productos > ul > li.op6 h3:before { top: -22px; width: 28px; height: 45px; background-position: -135px 0; }
.queEsArea #principal .gestion-productos > ul > li.op7 h3 { padding-left: 3em; }
.queEsArea #principal .gestion-productos > ul > li.op7 h3:before { top: -17px; width: 39px; height: 51px; background-position: -31px 0; }
.queEsArea #principal .gestion-productos > ul > li.op7 .desplegable { top: 5em; }
.queEsArea #principal .gestion-productos > ul > li.op8 h3:before { top: -20px; width: 30px; height: 46px; background-position: -278px 0; }
.queEsArea #principal .gestion-productos > ul > li ul.desplegable { position: absolute; left: 0; top: 4em; z-index: 100; width: 100%; background: #f0efee; padding-left: 7em; padding-bottom: 1em; border-radius: 0 0 10px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.queEsArea #principal .gestion-productos > ul > li li { list-style: disc; margin-bottom: .4em; line-height: normal; font-size: 1.6em; }
.queEsArea .det .normal { margin-left: 0; }
.queEsArea .det img { float: left; margin-right: 1em; }
.queEsArea .det div { width: 75%; float: left; }

@media only screen and (max-width: 991px) { .queEsArea { background-position: 100% 12em; }
  .queEsArea .det img { float: none; }
  .queEsArea .det div { float: none; width: 100%; } }
@media only screen and (max-width: 767px) { .queEsArea { background: none; }
  .queEsArea #principal .entry { width: 100%; }
  .queEsArea #principal .gestion-productos > ul > li { width: 100%; }
  .queEsArea #principal { position: static; } }
