.cl, .pasos {
	zoom: 1;
}

.specialdegree{
	background:#ca150c
}


.standardegree{
	background:#ededed
}
.formdegree{
	background:#f6f4eb;
}

#contenido .interior {
	line-height: normal;
}

a.imprimir{
	width:6em;
	cursor:pointer !important;
}

p.ordenar a.imprimir{
	margin-top:-1.2em;
}
p.ordenar a.ordenar{
	margin-right:6.5em;
}


#contenido div.interior article#principal ol.numeros > li{
	list-style:decimal;
    background:transparent;
}
#contenido div.interior aside#lateral div.caja ol.faq > li:before{
	list-style:decimal;
    background:transparent;
}
#contenido div.interior aside#lateral div.caja h1{
	position:relative;
}
#contenido div.interior aside#lateral div.caja h1 span.ico{
	position:absolute;
	top:.25em;
	right:0;
}
#contenido div.interior article#principal ul.solicitud-alta li{
	width:30% !important;
	float:left;
}

#contenido div.interior article#principal ul.solicitud-alta li p{display: inline-block}
#contenido div.interior article#principal ul.solicitud-alta li:hover p, .solicitud-alta .on p{top:170px;}

.C70 .encabezado {
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 );
	background: linear-gradient(top, #fff 1%,#e7e7e7 100%);
}
.C70 .mostrartodas div{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e7e7e7',GradientType=0 );
	background: linear-gradient(top, #f3f3f3 1%,#e7e7e7 100%);
}

#principal .producto tbody tr td{
	background:#eef4f3;
	border-top:1px solid #ededed;
}
#principal .producto table tbody tr.alterno td{
	background:#fff;
}
#principal .producto table tbody tr:hover td,
#principal .producto table tbody tr:hover.mostrarmas td{
	background:#ddd !important;
}

aside#central #seguro{
	width:100%;
}
aside#central #ofertas{
	float:left;
}
aside#central #boletin{
	float:right;
}

.C75 {
	z-index: 100 !important;
}
.C620 {
	z-index: 200;
}
.C620 [role="tooltip"] {
	z-index: 300;
}

.CL93 li .pixel { display: none; }

#principal .serviciosTelefonicos hr{
	margin-top: -8px;
}

.C70 .filaBotonTotal ul li{
	float: left;
}
.C70 .filaBotonTotal ul li .boton{
	width: 97% !important;
}
.C70 .info{
	width: 55%;
}
.C70 .filaBoton {
	10%;
	margin-top:0 !important;
}

#principal .cuadromedico article div a{clear: both;}


div#contenidoInt div.interior.datosBancarios section#principal table.datosProductos .icoError span.pixel,
div#contenidoInt div.interior.datosBancarios section#principal table.datosProductos .icoInfo span.pixel {
	height: 43px;
	width: 43px;
	zoom: 70%;
}
div#contenidoInt div.interior.datosBancarios section#principal table.datosProductos .icoError span.pixel {
	background-position: -172px 0;
}
div#contenidoInt div.interior.datosBancarios section#principal table.datosProductos .icoInfo span.pixel {
	background-position: -128px 0;
}


/*  */
@media print	{
	#contenido .interior #principal  .resumen dd {float: none;width: auto;}
}

/* cambio datos bancarios */
div#contenidoInt div.interior.datosBancarios section#principal form div.botones.nuevaCuenta {margin-top:3em;}
div#contenidoInt div.interior.datosBancarios section#principal  form fieldset table .par td{background-color: #eef4f3;}