.objectshadow {
	position:relative;
	z-index:100;
	box-shadow:0 0 10px 3px #ccc;
}

.specialdegree{
	background:#ca150c
}
.roundcorners {
	border-width:1px !important;

}
.standardegree{
	background:#ededed
}
.formdegree{
	background:#f6f4eb;
}

.C70 .encabezado {
	background:#e7e7e7;
}
.C70 .mostrartodas div {
	background:#e7e7e7;
}

nav, .cl, .pasos { zoom:1 }

.operativaAlta .steps li:after { display:none;   }
.operativaAlta .steps li span { display:block; position: absolute; top: -.3em; left:0; width: 1.4em; height: 1.4em; margin: 0; padding: .5em 0; box-sizing:border-box; background:#767676; border-radius: 30px; color: #fff; font-size: 4em; font-style: italic; font-weight: bold; text-align: center;}

.pasos li:before { background:#767676; }

.operativaAlta .steps li.active span, .pasos li.activo:before { background: #dc291e;}


#contenido div.interior article#principal ul.solicitud-alta li a:hover img, .solicitud-alta .on img{ filter: gray; }

#contenido div.interior article#principal ul.solicitud-alta li p{display: inline-block}
#contenido div.interior article#principal ul.solicitud-alta li a:hover p, .solicitud-alta .on p{top:170px;}

div#contenidoInt div.interior.datosBancarios section#principal table.datosProductos .icoError span.pixel,
div#contenidoInt div.interior.datosBancarios section#principal table.datosProductos .icoInfo span.pixel {
	height: 43px;
	width: 43px;
	zoom: 70%;
}
div#contenidoInt div.interior.datosBancarios section#principal table.datosProductos .icoError span.pixel {
	background-position: -172px 0;
}
div#contenidoInt div.interior.datosBancarios section#principal table.datosProductos .icoInfo span.pixel {
	background-position: -127px 0;
}


#contenido.comunicacionCliente .filaBotonTotal ul li + li {
	text-align: right;
}

#container .ui-keyboard .ui-keyboard-button {min-width: 1.5em;}
#container .ui-keyboard .ui-keyboard-preview {width: 95% !important;}
#container .ui-keyboard .ui-keyboard-button span {font-size: 1em;}

/* Siniestros patrimoniales */

.siniestros.patrimoniales .caja .acepto input#acepto {
	border: none !important;
	margin-top: 0.1em !important;
}

.siniestros.patrimoniales .tiposiniestromatriz ul li label input[type=radio] {
	visibility: visible;
	width: 0px !important;
}


#contenido div.interior article#principal ul.solicitud-alta li + li + li p { margin-left: -190% !important; }

#contenido .interior #principal div.autorizacion-sanitaria .C70{
	display: block;
}
#contenido .interior #principal div.autorizacion-sanitaria div.accordion.accordion-radio{
	display: block;
}

body.popup table.recibos th .ordenarTabla, .body.popup table.recibos th .ordenarTabla{
	margin-top: 0;
	line-height: .2em;
}
body.popup table.recibos th .ordenarTabla a, .body.popup table.recibos th .ordenarTabla a{
	line-height: .2em;
}
body.popup .contenidoModal.autorizacion-sanitaria label, .body.popup .contenidoModal.autorizacion-sanitaria label{
	padding-bottom: 1em;
}



table.general th .ordenarTabla{
	margin-top: -5px;
	line-height: .2em;
}



#contenido .interior #principal .bloqPest .apps-smartphone .des-apli > div + div + div {
	clear: left;
}
#contenido .interior #principal .bloqPest .apps-smartphone .Opc-iph,
#contenido .interior #principal .bloqPest .apps-smartphone .des-apli{
	width: 100%;
}
#contenido .interior #principal .bloqPest .apps-smartphone .Opc-iph ul{
	width: 100%;
}
#contenido .interior #principal .bloqPest .apps-smartphone .Opc-iph ul li{
	width: 19.5%;
}

body #fancybox-wrap, body #fancybox-outer { overflow-x: hidden !important; width: auto !important;
/*	width: 90% !important;*/
}


/* mapeado de coches */
.interior #principal #main .vistas #tab2 .contador {
  right: 57px;
}
.interior #principal #main .secciones-vistas {
  padding-bottom: 1px;
  position: relative;
}
.interior #principal #main .secciones-vistas .seleccion {
  position: relative !important;
}
.interior #principal #main .secciones-vistas .seleccion:after, .interior #principal #main .secciones-vistas .seleccion:before {
  position: relative;
}
.interior #principal #main .secciones-vistas .seleccion:before {
  border: none;
  content: url(../img/bg-flecha-ie.png);
  top: -30px;
}
.interior #principal #main .secciones-vistas .seleccion.tab1:after, .interior #principal #main .secciones-vistas .seleccion.tab1:before {
  left: 8%;
}
.interior #principal #main .secciones-vistas .seleccion.tab2:after, .interior #principal #main .secciones-vistas .seleccion.tab2:before {
  left: 30%;
}
.interior #principal #main .secciones-vistas .seleccion.tab3:after, .interior #principal #main .secciones-vistas .seleccion.tab3:before {
  left: 50%;
}
.interior #principal #main .secciones-vistas .seleccion.tab4:after, .interior #principal #main .secciones-vistas .seleccion.tab4:before {
  left: 70%;
}
.interior #principal #main .secciones-vistas .seleccion.tab5:after, .interior #principal #main .secciones-vistas .seleccion.tab5:before {
  left: 90%;
}
.interior #principal #main .seleccion .secciones ul li input[type="checkbox"]{
	margin-top: 0;
	position: relative;
	top: 3px;
}
/* fin de mapeado de coches */

/* Siniestros */
#contenido .interior #principal form.caja.una-fila label.required{
	width: 40% !important;
}



#contenido .interior #principal .bloqPest .solucion .lateral a{
	max-width: none;
	width: auto;
}
#contenido .interior #principal .siniestros select{
	padding-bottom: 4px;
}
#contenido .interior #principal fieldset.direccion select{
	margin-bottom: 10px;
}


#contenido .interior #principal .siniestros .size29{
	width: 28.5% !important;
}
#contenido .interior #principal .siniestros{
	display: block;
}

body.popup .cajadestico div[class*="ico-"]:before, .body.popup .cajadestico div[class*="ico-"]:before{
	left: 1em;
}
#contenido .interior #principal .bloqPest fieldset.yes-no input[type="radio"]{
	margin-top: .2em;
	vertical-align: text-top;
}
#contenido .interior #principal .bloqPest .lista-seleccion-radio input[type="radio"]{
	vertical-align: text-bottom;
}
#contenido .interior #principal .siniestros input[type="radio"]{
	
}
/* Fin de siniestros */

/*Reembolso médico*/
form.popup INPUT[type='file']{
	padding:0.5em;
	border-color:black;

}

/*Fin Reembolso*/
/*Cliente asistido*/
#contenido .interior #principal .llamamos .caja div.texto input[type=checkbox]{
    /*top: 9px;*/
    margin-top: 0;
    top: 9px;
    background: transparent !important;
}
/*Fin cliente asistido*/
.tableOverflow table thead th .ordenarTabla{
	top: 0;
}




#contenido .interior #principal .bloqPest fieldset.yes-no input[type="radio"]{
	margin-top: 4px;
}
#contenido .interior #principal .bloqPest .vehiculo-contrario fieldset.yes-no input[type="radio"]{
	margin-top: 3px;
}




#contenido .interior #principal .deyde .estiloLista div + div {border-top: 1px solid #ccc;}

#contenido .interior #principal #alta-ttc-form .caja label {width: 45% !important;}
#contenido .interior #principal #alta-ttc-form .caja div.fila span.help {margin-left: 45% !important;}


.text-ico:before{
	background: url(../img/iconos_min.png) no-repeat -30px 0 !important;
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
#contenido.comunicacionCliente .filaBotonTotal ul li + li {
	text-align: left;
}
}
@media only screen and (min-width: 739px) and (max-width: 959px) {
	.twoCols nav.subNav {
		width: 25%;float: left;
	}
	.interior #principal {
		width: 73%;float: left;margin-left: 1%;
	}
}
@media only screen and (min-width: 580px) and (max-width: 720px) {
#contenido.comunicacionCliente .filaBotonTotal ul li + li {
	text-align: right;
}

}
@media only screen and (max-width: 580px) {
#contenido.comunicacionCliente .filaBotonTotal ul li + li {
	text-align: left;
}

}
#sinisterMapLocator_container {
	Z-INDEX: 100; POSITION: absolute; TEXT-ALIGN: center; FILTER: opacity=100; MIN-HEIGHT: 610px; BOTTOM: 0px; DISPLAY: none; BACKGROUND: black; TOP: 0px; RIGHT: 0px; PADDING-TOP: 50px; LEFT: 0px
}

/* tabla cabecera fija */
#contenido .interior #principal .bloqPest .fixed-header table thead th div{
	margin-left: -1px; 
}
#contenido .interior #principal .bloqPest .fixed-header table thead th:first-child div{
	margin-left: 0;
}

article.operacional .tabla .alterno td {
	border-left: 1px solid #d0d0d0;
}
article.operacional .tabla .alterno td.first {
	border-left: none;
}
article.operacional .tabla .alterno td.first + td {
	border-left: 2px solid #d0d0d0;
}