.standardegree{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ }
.formdegree{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f4eb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */ }
.C70 .encabezado{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); background: linear-gradient(top, #fff 1%,#e7e7e7 100%); }
.C70 .mostrartodas div{ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#e7e7e7',GradientType=0 ); background: linear-gradient(top, #f3f3f3 1%,#e7e7e7 100%);  }




/* mapeado de coches */
.interior #principal #main .seleccion {
  filter: none;
}
/* fin de mapeado de coches */

#contenido .interior #principal .bloqPest table.general th {
	filter: none;
}

/* siniestros */
#contenido .interior #principal .bloqPest fieldset.yes-no input[type="radio"]{
	margin-top: .2em;
}
/* fin de siniestros */


/* tabla cabecera fija */
#contenido .interior #principal .bloqPest .fixed-header{
	filter: none;
}

/*Cliente asistido*/
#contenido .interior #principal .llamamos .caja div.texto input[type=checkbox]{
    /*top: 9px;*/
    margin-top: 0;
    top: 9px;
    background: transparent !important;
}
/*Fin cliente asistido*/