@charset "utf-8";
/* CSS Document */

/* Reset general*/
body {
	border-top:.25cm solid #E41B13;
	border: 0;
	background: #fff;
	width: auto;
	height: auto;
	margin:0;
	padding:0;
	float: none !important;
	overflow: visible;
}

.noPrint,
.CL93,
.C10,
.CL95,
.CL94,
.C380,
.CL91 .buzon,
.CL91 .acceso,
.C360,
.C340,
.C640 .acciones,
.C70 .encabezado ul,
.C70 .mostrartodas,
#lateral,
#central {
	display:none !important;
}
#contenido div#contenidoInt,
footer{
	margin-top:.5cm;
	border-top:.25cm solid #E41B13;
	padding-top:.25cm;
}
.total,
.interior #principal {
	width:100% !important;
}

/* Cabecera */
.C400 .CL92{ position:static; float:left; }
.CL92 #teCuidamosPA{ position:static; margin-bottom:10pt; }
.CL91 { width:50%; }
.CL91 .empresa { float:none; width: 100%; }
.CL91 .empresa img  { width:auto }
.CL91 .usuario { width:100%; padding-bottom:10pt; padding-right: 0; }

/* Posición Global */

tbody tr.mostrarmas {
	display: table-row !important;
}

.C70 .C10 {
	display: block !important;
}
.C70.mt {
	margin-bottom: 3.5em;
}
.CL96{
	top:50px;
	font-size: 13px;
	position: absolute;
}
.wrapNav{
	display: none;
}

/* */

/* Posicion global - agente personal */
#lateral {display: block !important;width: 100%; clear: both;float: none;}
#lateral * {display: none !important;}
#lateral .C280 {display: block !important;}
#lateral .C280 * {display: block !important;}
#lateral .C280 p.ag-hor,
#lateral .C280 p.ag-tel {margin-left: 5.5em;}
#lateral .C280.caja {padding: 2%;}
#lateral .C280.caja * {z-index: 102;}


/* consulta producto */

section#contenido .total div.interior.twoCols nav.subNav {display: none !important;}
body.pestTC {background-repeat: repeat-x;} 
.total, .interior #principal {width:100% !important; margin: 0; padding: 0;}
.bloqPest div.roundcorners {display: block;box-shadow: none !important;background-color: transparent;}
div.roundcorners {display: block;box-shadow: none !important;background-color: transparent;}

#principal nav ul.pestGY {width: 100%;}
#principal nav ul.pestGY li {margin: 0;}

#principal nav ul.pestGY a{padding-left: 1em;padding-right: 1em;z-index: 1;}
.pestGY a:after, .pestGY a:before {z-index:-1;}



/*#contenido .interior #principal  .resumen dd {float: none;width: auto;} /* ¿? ie7 */


#contenido .interior #principal .bloqPest .cajadestico .ico-alert:before {width: 140px;height: 130px;}


#contenido .interior #principal .bloqPest .C70 {display: block}


.imprimir{display: none;}
.pestGY{display: none;}


