*[title] {
  border-bottom:none;
  padding-bottom:1px
}
*[title].tooltiplink {
	cursor:pointer;
	cursor:help;
}


*[title]:hover,*[title]:focus {
  background:none;
  border-bottom:none;
}

.tooltipParent {
  outline:0 solid;
  position:relative;
}

.tooltip {
  display:none;
  left:12px;
  position:absolute;
  top:-3.5em;
  z-index:100;
  font-size:1em;
}

.tooltip .ttbox {
  background:#fff;
  border:0.15em solid #333;
  color:#333;
  display:block;
  padding:10px 15px;
  white-space:nowrap;
	-webkit-border-radius:10px;
	   -moz-border-radius:10px;
	     -o-border-radius:10px;
			border-radius:10px;
	-webkit-box-shadow:0 0 15px 3px #666;
	   -moz-box-shadow:0 0 15px 3px #666;
	     -o-box-shadow:0 0 15px 3px #666;
			box-shadow:0 0 15px 3px #666;
}

.tooltip .ttarrow {
  border-bottom:0;
  border-left:.5em solid transparent;
  border-right:.5em solid transparent;
  border-top:1em solid #333;
  bottom:-.9em;
  height:0;
  left:1em;
  overflow:hidden;
  position:absolute;
  width:0;
}

ul a.tooltipParent span.tooltip span.ttbox{
  text-decoration:none !important;
}

.info .tooltip {
  top:-7.5em;
  left:-13.7em !important;
  text-indent:0;
  z-index:100;
  font-size:1.1em;
  line-height:1.25em;
}
.info .tooltip .ttbox{
  width:15em;
  white-space:normal;
}

.info .tooltip .ttarrow{
  left:14em;
}

.ayuda .tooltip {
  top:-6.5em;
  left:-2em !important;
  text-indent:0;
  z-index:100;
  font-size:1.1em;
  line-height:1.25em;
}
.ayuda .tooltip .ttbox{
  width:20em;
  height:4em;
  white-space:normal;
}

.ayuda .tooltip .ttarrow{
  left:2.2em;
}
.fecha .tooltip {
  top:-6.5em;
  left:-2em !important;
  text-indent:0;
  z-index:100;
  font-size:1.1em;
  line-height:1.25em;
}
.fecha .tooltip .ttbox{
  width:20em;
  height:4em;
  white-space:normal;
}

.fecha .tooltip .ttarrow{
  left:2.2em;
}
