.ico { vertical-align:middle }

#contenido .interior #principal .caja{
	.inline {
		label {
			float:none;
			text-align:left;
		}
		input {
			float:none;
			margin-top:0;
		}
	}
}

#contenido div#contenidoInt.atencionCliente{
	background:url(../img/bg-atencionCliente.jpg) no-repeat 60% 8em;
	.interior{
		#principal {
			.copy {
				width:95%;
				font-weight:bold;
				p {
					margin-bottom:0
				}
				.tagLine {
					margin:1.5em 0 .75em;
					letter-spacing:-.05em;
					color:#333;
					font-size:2.2em;
					font-weight:normal;
					span {
						color:$color_mapfre;
					}
				}
			}
			.intro {
				width:70%;
				.normal {
					margin-top:2.4em;
					margin-bottom:2.4em;
					a {
						white-space: nowrap;
					}
				}
			}

		}
	}
}

#contenido .interior #principal .caja div.filaBoton input#acepto {
	margin-top: 0 !important;
	width: 16px !important;
	height: 16px !important;
}

#contenido .interior #principal form.caja {

	.reset {
		position:static;
		font-size:1.45em;
		background:none;
		letter-spacing:0;
		padding:0;
		color:#333;
		span {
			display:block;
			margin:1em 0;
		}
	}
	div.fila{
		span.help {
			clear:both;
			float:none;
			display:block;
			width:auto;
			margin-left:40%;
		}
		.info {
			position:relative;
			margin-left:1em;
			vertical-align:middle;
		}
		.tooltip {
			top:-11em;
			left:-10.5em !important;
			font-size:.9em;
			.ttbox {
				padding:1em;
			}
			.ttarrow {
				left:40%;
				bottom:-1em;
				padding:0;
			}
		}

		.reset{
			font-size:1em;
			span{
				display:inline;
				margin:0;
			}
		}
		select {

			font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
		}
		.noReq{
			width:38.4%;
			margin-right:.2em;
			padding-right:2.2%;
		}
		.respuesta {
			padding:.3em .5em 0 0;
		}
		.date {
			legend {
				> span {
					position:absolute;
					padding-left:3.6em;
					font-weight:bold;
				}
			}
			.wrap {
				margin-left:25.7em;
			}
			input {
				width:10%;
				&[type="button"]{
					width:38px;
					height:34px;
					margin-left:1em;
					border:none;
					background:url("../img/icos.png") no-repeat -200px 0;
					vertical-align:middle;
					cursor:pointer;
					text-indent:-100em;
				}
			}

		}
	}
	.noLbl{
		input {
			margin-left:16.1em;
		}
	}

	.filaRdCh {
		color: #666;

		h2 {
			position:relative;
			padding:0 0 0 2em;
			font-size:1.6em;
			border:none;
			color:#666;
			&:before {
				position:absolute;
				top:-5px;
				left:0;
				width: 25px;
				height:26px;
				line-height:26px;
				background:url("../img/cd.png") no-repeat 0 100%;
				cursor:pointer;
				content:"";
			}
			&.on:before{
				background-position: 0 0;
			}
			&.cur {
				cursor:pointer;
			}
			&:focus {
				border:1px dotted #000;
			}
		}
	}

}


@media only screen and (max-width: 991px) {
	#contenido .interior #principal form.caja {
		input[type="checkbox"]#acepto {
			border-radius: 0px;
			zoom: 0.9;
			width: 16px !important;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

	#contenido {
		div{
			&#contenidoInt{
				&.atencionCliente{
					background:url(../img/bg-atencionCliente.jpg) no-repeat 100% 8em;
					&.registro-online{
						background-position: 100% 0;
						margin-top: 2em;
					}
				}
			}
		}
	}

	#contenido .interior #principal form.caja {
		label#lblAcepto {
			margin-top: 1px;
		}
	}
}



@media only screen and (max-width: 767px) {

	#contenido div#contenidoInt.atencionCliente{
		background:none;
		.interior {
			#principal{
				.intro{
					width:100%;
				}
			}
		}
	}

	#contenido .interior #principal form.caja {
		label#lblAcepto {
			width: 90% !important;
		}
		.error .infoError {
			right: 0 !important;
		}

		label, div.fila .noReq {
			display:block;
			width:100%;
			text-align:left;
		}
		input[type="text"], input[type="password"], select{
			width:100%;
			height:auto;
			padding:.3em .3em .3em .1em;
			@include box-sizing(border-box);
		}
		div.fila span.help, .noLbl input {
			margin-left:0;
		}
		div.fila .date {
			legend {
				span {
					position:static;
					padding-left:0;
				}
			}
			.wrap {
				margin-left:0;
			}
			input {
				width:5em;
			}
		}
	}
	.interior {
		#principal {
			position: static;
		}
	}
	#contenido {
		div{
			&#contenidoInt{
				&.atencionCliente{
					&.registro-online{
/*						margin-top: 0;*/
					}
				}

			}
		}
	}
}

@media only screen and (max-width: 480px) {
	
	#contenido .interior #principal form.caja {

		div.fila {
			@include box-sizing(border-box);
		}
		div.fila .date {
			input {
				width:3em;
			}
		}
		div.fila .date + span.infoError, .error span.infoError {
			position:static;
		}
	}
}
