

/* Artículo principal ------------------------------------------------------------------------ */
.interior #principal{
	width:68%;
	float: left;
	margin-bottom:2em;
	.sep {
		p { margin-bottom:.5em }
	}
}
/* Textos: títulos, párrafos, listas, listas ordenadas */
.entry {
	font-size:1.1em;
	font-weight:bold;
}
.interior #principal h1{
	font-size:3.2em;
	font-weight:normal;
	color: $color_mapfre;
	margin-bottom:.2em;
	line-height:1em;
	letter-spacing:-.05em;


}
.interior #principal h2{
	font-size:2.5em;
	font-weight:normal;
	color: $color_mapfre;
	margin-bottom:1em;
	border-bottom:1px solid #d6d6d5;
	line-height:1em;
	letter-spacing:-.05em;
}
.interior #principal h2 span{
	padding-right:.25em;
}
.interior #principal h3{
	font-size:2.15em;
	font-weight:normal;
	color:$color_mapfre;
	padding:.4em 0 1em .5em;
	background:url(../img/icos.gif) no-repeat 0 -460px;
	line-height:1em;
	letter-spacing:-.05em;
}
.interior #principal h4{
	font-size:2em;
	font-weight:normal;
	color:#000;
	padding:.5em 0 1em .5em;
	line-height:1em;
	letter-spacing:-.05em;
}
.interior #principal p{
	font-size:1.6em;
	line-height:1.2em;
	margin: 0 0 1.5em 0;
}

.interior #principal form.texto{
	margin: 0 0 1.5em 0;
}
.interior #principal form.texto label{
	font-size:1.6em;
	line-height:1.2em;
}
.interior #principal form.texto input[type=checkbox],
.interior #principal form.texto input[type=radio]{
	margin-top:-.2em;
}
.interior #principal p a.FNMT{
	width:95%;
	padding-left:5%;
	display:table;
	height:5em;
}
.interior #principal p a.FNMT span{
	margin:-55px 0 0 65px;
	display:block;
}
.interior #principal p a.FNMT img{
	background:url(../img/icos.gif) no-repeat 0 0;
	width:50px;
	height:75px;
}
.interior #principal ul li{
	position:relative;
	margin-bottom:1.4em;
}
.interior #principal ul li:before{
	content:'\2022';
	color:$color_mapfre;
	position:absolute;
	top:-.05em;
	left:-.75em;
	font-size:1.5em;
}
.interior #principal ul.normal{
    margin-left:1em;
    margin-bottom:2.5em;
}
.interior #principal ul.normal > li{
	font-size:1.6em;
	line-height:1.2em;
	margin:0 0 .3em .35em;
}
.interior #principal ul.imagenes > li{
	display:inline-block;
}
.interior #principal ul.imagenes li:before{
	content:'';
}
.interior #principal ol.numeros{
	font-size:1.6em;
	line-height:1.2em;
	counter-reset:li;
    margin:0 0 1.5em .75em;
}
.interior #principal ol.numeros > li{
	position:relative;
    margin:0 0 1em 2.35em;
    padding:0;
    list-style:none;
    background:#fff;
}
.interior #principal ol.numeros > li:before {
    content:counter(li);
    counter-increment:li;
    position:absolute;
    top:-3px;
    left:-2.35em;
    @include box-sizing("border-box");
    width:1.7em;
    margin-right:0;
    padding:.25em;
    color:#fff;
    background:#696969;
    font-weight:bold;
    text-align:center;
	border-radius:25px;
	box-shadow:0 0 15px 3px #fafafa;
}
.interior #principal ol.numeros > li strong{
	display: table;
}


#contenido div.sinPest h1.ppal{
	font-size:3.2em;
	font-style:italic;
	font-weight:normal;
	color: $color_mapfre;
	margin-bottom:.8em;
	line-height:1em;
	letter-spacing:-.05em;
	clear:both;
}
#contenido div.sinPest h1.ppal span{
	font-size:.7em;
}

/* Destacados */
.interior #principal .cajadestico{
	background:url(../img/bg-dest-ico.gif) no-repeat left bottom;
	margin-bottom: 2em;
	border: 1px solid #eee;
	box-shadow: 1px 2px 2px #aaa;
	.ico-alert {
		display: inline-block;
		padding: 2em 4% 3em 12%;
		position: relative;
		&:before {
			position: absolute;
			top: auto;
			left: 3em;
			width: 43px;
			height: 43px;
			content: "";
			background: url(../img/iconos.png) no-repeat -43px 0;
		}
		p {
			padding-top: .5em;
			margin-bottom: 1em;
			&+p {
				padding-top: 0;
			}
		}
	}
	.ico-info{
		display: inline-block;
		padding: 2em 4% 3em 12%;
		position: relative;
		&:before {
			position: absolute;
			top: auto;
			left: 3em;
			width: 43px;
			height: 43px;
			content: "";
			background: url(../img/iconos.png) no-repeat -129px 0;
		}
		ul {
			margin-left: 1em;
			padding-top: .5em;
			li {
				p {
					padding-top: 0;
				}
			}
		}
		p {
			padding-top: .5em;
			margin-bottom: 1em;
			&+p {
				padding-top: 0;
			}
		}
	}
	.ico-OK{
		display: inline-block;
		padding: 2em 4% 3em 12%;
		position: relative;
		&:before {
			position: absolute;
			top: auto;
			left: 3em;
			width: 43px;
			height: 43px;
			content: "";
			background: url(../img/iconos.png) no-repeat 0 0;
		}
		p {
			padding-top: .5em;
			margin-bottom: 1em;
			&+p {
				padding-top: 0;
			}
		}
	}
	.ico-error{
		display: inline-block;
		padding: 2em 4% 3em 12%;
		position: relative;
		&:before {
			position: absolute;
			top: auto;
			left: 3em;
			width: 43px;
			height: 43px;
			content: "";
			background: url(../img/iconos.png) no-repeat -172px 0;
		}
		p {
			padding-top: .5em;
			margin-bottom: 1em;
			&+p {
				padding-top: 0;
			}
		}
	}
	.ico-reloj{
		position:relative;
		padding:2em 4% 3em 12%;
		display:inline-block;
		&:before{
			position: absolute;
			top: auto;
			left: 3em;
			width: 43px;
			height: 43px;
			content: "";
			background: url(../img/iconos.png) no-repeat -215px 0;
		}
		p {
			margin-bottom:0;
			padding-top: .5em;
			&+p {
				padding-top: 0;
			}
		}
	}
	.ico-block{
		position:relative;
		padding:2em 4% 3em 12%;
		display:inline-block;
		&:before {
			position: absolute;
			top: auto;
			left: 3em;
			width: 43px;
			height: 43px;
			content: "";
			background:url(../img/iconos.png) no-repeat -86px 0;
			
		}
		p {
			padding-top: .5em;
			margin-bottom: 1em;
			&+p {
				padding-top: 0;
			}
		}
	}
	li p{
		margin:0;
	}
}


@media only screen and (max-width: 991px) {

/* CONTENIDO */

/* Artículo principal */
	.interior #principal{
		width:100%;
	}
}

@media only screen and (min-width: 641px) {
	.interior #principal .cajadestico {
		div[class^='ico-'] + div[class^='ico-'] {
			padding-right: 0;
			padding-left: 8%;
			margin-right: 8%;
			margin-left: 16%;
			border-top: 1px solid #cbcbcb;
			&:before {
				left: 0;
			}
		}
	}
}

@media only screen and (max-width: 640px) {
	.interior {
		#principal {
			.cajadestico {
				.ico-alert, .ico-OK, .ico-info, .ico-block, .ico-reloj {
					padding-left: 7.5em;
					&:before {
						left: 2em;
					}
				}
				div[class^='ico-'] + div[class^='ico-'] {
					padding-right: 0;
					padding-left: 5.4641em;
					margin-right: 4%;
					margin-left: 2.0359em;
					border-top: 1px solid #cbcbcb;
					&:before {
						left: -0.2em;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 535px) {
/* Destacados */

}



@media only screen and (max-width: 480px) {
/* Destacados */
	.interior #principal .cajadestico {
		.ico-alert{
			&:before{
				left: 2em;
			}
		}
		.ico-info{
			&:before{
				left: 2em;
			}
			ul {
				margin-left: 20px;
				p {
					padding-top: 0;
				}
			}
			p {
				padding-top: 4%;
			}
		}
		.ico-OK{
			&:before {
				left: 2em;
			}
		}
		.ico-error{
			&:before {
				left: 2em;
			}
		}
		.ico-reloj {
			padding-left: 6.5em;
			&:before {
				left: 2em;
			}
		}
	}
}