
/* Artículo principal */

#contenido div.interior article#principal ul.solicitud-alta{
	width:580px;
	margin:2em auto;
}
#contenido div.interior article#principal ul.solicitud-alta li{
	margin:0 10px 10px 0;
}
#contenido div.interior article#principal ul.solicitud-alta li img{
	width:170px;
	height:170px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
	    -ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}
#contenido div.interior article#principal ul.solicitud-alta li#alta-ttc img{
	background:url(../img/alta.png) no-repeat 0 0;
}
#contenido div.interior article#principal ul.solicitud-alta li#alta-dni img{
	background:url(../img/alta.png) no-repeat -170px 0;
}
#contenido div.interior article#principal ul.solicitud-alta li#alta-sin img{
	background:url(../img/alta.png) no-repeat -340px 0;
}
#contenido div.interior article#principal ul.solicitud-alta li a:hover img, .solicitud-alta .on img{
	position:relative;
	z-index:100;
	-webkit-transform: rotate(-10deg) scale(1.25);
	   -moz-transform: rotate(-10deg) scale(1.25);
		-ms-transform: rotate(-10deg) scale(1.25);
	     -o-transform: rotate(-10deg) scale(1.25);
	        transform: rotate(-10deg) scale(1.25);
}
#contenido div.interior article#principal ul.solicitud-alta li p{
	width:500px;
	padding:15px;
	color:#000;
	background:#F9F9F9;
	border:1px solid #ddd;
}
#contenido div.interior article#principal ul.solicitud-alta li a:hover + p, .solicitud-alta .on p{
	left:0;
	top:185px;
	height:auto;
	overflow:visible;

}
#contenido div.interior article#principal ul.solicitud-alta li#alta-dni p{
	margin-left:-90%;
}
#contenido div.interior article#principal ul.solicitud-alta li#alta-sin p{
	margin-left:-90%;
}

#contenido .interior #principal .caja div.filaBoton input#chkPoliticaPrivacidad {
	margin-top: 0 !important;
	width: 16px !important;
	height: 16px !important;
}

#contenido{
	div.interior{
		article{
			&#principal{
				ul{
					&.solicitud-alta{
						display: table;
						position: relative;
						li{
							display: table-cell;
							text-align: center;
							&:nth-of-type(odd){
								p{
									margin-left: -190% !important;
								}
							}
							&:nth-of-type(even){
								p {
									margin-left: -90% !important;
								}
							}
							&:first-child{
								p{
									margin-left: 10% !important;
								}
							}
						}
					}
				}
				&.registro-unico{
					.opciones{
						list-style: none;
						display: table;
						width: 100%;
						margin-top: 4em;
						margin-bottom: 2em;
						li{
							width: 45%;
							float: left; 
							box-sizing: border-box;
							padding-left: 45px;
							margin-left: 3%;
							display: table-cell;

							&:before{
								content: none;
							}
							a{
								background: #d7d7d7;
								text-decoration: none;
								border-radius: 10px;
								height: 78px;
								display: block;
								position: relative;
								font-size: 14px;
								line-height: 17px;
								color: #494949;
								&:before{
									content: '';
									height: 90px;
									width: 90px;
									background: url(../img/sprite-registro-online.png) no-repeat;
									display: inline-block;
									position: absolute;
									left: -45px;
									top: -6px;
								}
								span{
									margin-left: 70px;
									display: inline-block;
									text-align: center;
									width: 150px;
									position: relative;
									top: 25%;

								}
							}
							&#alta-sms{
								a{
									&:before{
										background-position: 0 -92px ;
									}
								}
								span{
									line-height: 2.5em;
								}
							}
							&.active{
								a {
									background: #d81e05;
									color: #fff;
								}
								&#alta-sms{
									a:before {
										background-position: -92px -92px;
										content: ' ';
									}
								}
								&#alta-ttc{
									a:before {
										background-position: -92px 0;
										content: ' ';
									}
								}
							}
						}
					}
					#alta-ttc-form{
						display: none;
						.leyenda{
							display: inline-block;
							margin-bottom: 0;
							float: right;
							font-size: 1.15em;
						}
						#cajaNumTarjeta{
							position: relative;
						}
						#idCarnet{
							background: #fff;
							border-radius: 10px;
							border: 2px solid #ccc;
							padding: 10px;
							position: absolute;
							top: -50%;
							right: -30%;
							width: 320px;
							&:before{
								content: '';
								height: 0;
								width: 0;
								border-style: solid;
								border-width: 16px;
								border-color: transparent;
								border-left-width: 0;
								border-right-color: #ccc;
								display: inline-block;
								position: absolute;
								top: 50px;
								left: -16px;
							}
							&:after{
								content: '';
								height: 0;
								width: 0;
								border-style: solid;
								border-width: 12px;
								border-color: transparent;
								border-left-width: 0;
								border-right-color: #fff;
								display: inline-block;
								position: absolute;
								top: 54px;
								left: -12px;
							}
							&.hidden{
								display: none;
							}

							p{
								margin-bottom: 0;
								font-size: 14px;
								color: #737373;
							}
							img {
								display: block;
								margin: 0 auto;
							}
						}
					}
					#alta-sms-form{
						display: none;
						.leyenda{
							display: inline-block;
							margin-bottom: 0;
							float: right;
							font-size: 1.15em;
						}
					}
					.title {
						text-align: center;
						margin-top: 1em;

					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1100px) {
	#contenido {
		div.interior {
			article{
				&#principal{
					&.registro-unico {
						#alta-ttc-form {
							#idCarnet{
								right: -37%;
							}
						}
					}
				}
			}
		}
	}

}
@media only screen and (max-width: 1024px) {
	#contenido .interior #principal.registro-unico #alta-sms-form #divPoliticaPrivacidad {
		input[type="checkbox"]#chkPoliticaPrivacidad {
			border-radius: 0px;
			width: 18px !important;
			height: 18px !important;
			margin-top: 0 !important;
		}
	}
}

@media only screen and (max-width: 991px) {
	#contenido {
		div.interior {
			article{
				&#principal{
					&.registro-unico {
						#alta-ttc-form {
							#idCarnet {
								right: auto;
								left: 44%;
								top: -228%;
								&:before{
									top: 100%;
									left: 15px;
									border-right-color: transparent;
									border-top-color: #ccc;
									border-bottom-width: 0;
									border-left-width: 16px;
								}
								&:after{
									top: 100%;
									left: 19px;
									border-right-color: transparent;
									border-top-color: #fff;
									border-bottom-width: 0;
									border-left-width: 12px;
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 767px) {
	#contenido div.interior article#principal ul.solicitud-alta{
		
		width:100%;
		margin-bottom:120px;
	}
	#contenido div.interior article#principal ul.solicitud-alta li p{
		z-index:101;
	}
	.interior {
		#principal {
			position: static;
		}
	}
	#contenido {
		div{
			&.interior {
				article{
					&#principal{
						&.registro-unico {
							.opciones {
								li {
									width: 100%;
									margin-left: 0;
									& + li{
										margin-top: .5em;
									}
									a {
										span {
											margin-left: 50px;
										}
									}
								}
							}
							#alta-sms-form{
								.leyenda{
									display: block;
									text-align: right;
									float: none;
									margin-bottom: 1em;
								}
								#divPoliticaPrivacidad{
									label{
										width: 89% !important;
										margin-bottom: 2em;
									}
								}
							}
							#alta-ttc-form{
								.leyenda{
									display: block;
									text-align: right;
									float: none;
									margin-bottom: 1em;
								}
								#idCarnet{
									position: relative;
									left: 0;
									top: 0;
									max-width: 100%;
									width: auto;
									&:before, &:after{
										content: none;
									}
								}
							}
							.title{
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 640px) {
	#contenido{
		div.interior{
			article{
				&#principal{
					ul{
						&.solicitud-alta{
							display: block;
							width: 100%;
							li{
								display: block;
								text-align: center;
								p {
									display: none !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* ESPECIAL PARA LAS CAJAS */
@media only screen and (max-width: 580px) {
	#contenido div.interior article#principal ul.solicitud-alta li#alta-sin p{
		margin-left:0;
	}
}



@media only screen and (max-width: 535px) {
	#contenido div.interior article#principal ul.solicitud-alta{
		margin-bottom: 0;
	}
	#contenido div.interior article#principal ul.solicitud-alta li{
		margin:0 0 10px 0;
		text-align:center;
	}
	#contenido div.interior article#principal ul.solicitud-alta li a:hover img{
		-webkit-transform:none;
	   -moz-transform: none;
		-ms-transform: none;
	     -o-transform: none;
	        transform: none;
	}
	#contenido div.interior article#principal ul.solicitud-alta li p{
		display: none;
	}
		#contenido div.interior article#principal ul.solicitud-alta li#alta-dni p{
		margin-left:0;
	}
	#contenido div.interior article#principal ul.solicitud-alta li#alta-sin p{
		margin-left:0;
	}

}

@media only screen and (max-width: 480px) {
	#contenido div.interior article#principal ul.solicitud-alta li{
		margin:0 10px 10px 0;

	}

}

@media only screen and (max-width: 360px) {
	#contenido div.interior article#principal ul.solicitud-alta li{
		width: 100%;
	}

}