.generica {
	#lateral {
		float:left;

	}
	#principal {
		float:right;
		h2 {
			padding-left:.6em;
			background:url("../img/bck_title.png") no-repeat 0 .3em;
			font-size:2.1em;
			border:none;
		}
	}
}


#contenido .interior #principal form.caja {
	legend {
		position:static;
		padding-left:0;
		background:none;
		font-size:1.6em;
		color:#333;
		letter-spacing:0;
		font-weight:bold;
	}
	div.fila{
		margin-bottom:1em;
		span.help {
			clear:both;
			float:none;
			display:block;
			width:auto;
			margin-left:40%;
		}
	}
	label {
		float:none;
		display:block;
		width:auto;
		margin-bottom:1em;
		text-align:left;
	}
	fieldset {
		margin-top:2.5em;
		label {
			float:left;
			width:37em;
			margin-bottom:0;
			padding:0;
			line-height:normal;
			font-weight:normal;
		}
		input {
			float:left;
			margin:.2em 1em 0 0;
		}
	}
}

@media only screen and (max-width: 991px) {
	#lateral { display:none }
}

@media only screen and (max-width: 767px){

	#contenido .interior #principal form.caja {

		fieldset{
			label{
				width:auto;
			}
		}
		legend {
			line-height:normal;
		}

		input[type="radio"]{
			width:auto;
		}

		input[type="text"], input[type="password"], select{

			width:100%;
			max-width:100%;
			height:auto;
			padding:.3em .3em .3em .1em;
			@include box-sizing(border-box);

		}

		div.fila {
			@include box-sizing(border-box);
			 span.help {
				margin-left:0;
			}
		}

	}
	.interior {
		#principal {
			position: static;
		}
	}

}

@media only screen and (max-width: 480px) {


}
