@charset "utf-8";
/* CSS Document */

@import "reset";
@import "tooltip";
@import "fonts";

/* COMUNES Y ESTRUCTURA ---------------------------------------------------------------------------------------------------------------------------------------- */

body {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background:#fff;
	color:#333;
	margin:auto;
	font-size:62.5%;
	background:url("../img/bg_body.png") repeat-x 0 -60px;
	&.home {
		background-position:0 -10px;
	}
	&.pestTC, &.home.logado{
		background-image:url("../img/bg_body_pest.png"); 
		background-position:0 0;
	}
	&.popup{
		background:#fff;
	}
}


a:hover { text-decoration: none;}


.roundcorners{
	@include border-radius(10px); 

}
.objectshadow{
	box-shadow:0 0 15px 3px #ccc;
}
/* .objectshadowsmoth{
	box-shadow:0 5px 10px 3px #eee;
} */
.standardegree{
	@include background-image(linear-gradient(#fff, #ededed)); 
}
.formdegree{
	@include background-image(linear-gradient(#f6f4eb, #fff));

}
.specialdegree{
	@include background-image(linear-gradient(left, #ca150c, $color_mapfre));
}
a{
	color:$color_mapfre;
}
a:hover{
	color:#777;
}
form input{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	margin: 0;
}

.printOption {
	display:block;
	text-align:right;
	a {
		font-size:1.3em;
		&+a {
			&.imprimir {
				margin-left: .5em;
			}
		}
	}
}

.back {
	display:block;
	a {
		font-size:1.6em;
	}
}

.flt { float:left }
.frt { float:right }
@include clear(".cl");

.sep {  margin-top:2em;  }

/* Estilos para texto enriquecido o contribuible */

.textoEnriquecido p,
.textoEnriquecido li {
	font-size: 1.4em;
	line-height: 1.4285em;
	margin-bottom: .7142em;
}
.textoEnriquecido ul {
	margin-left: 1.2em;
}
.textoEnriquecido li {
	position: relative;
}
.textoEnriquecido li:before {
	content: '\2022';
	color: $color_mapfre;
	position: absolute;
	top: -.1em;
	left: -.65em;
	font-size: 1.5em;
}

/* Botones y enlaces */

.boton {
	background:$color_mapfre url(../img/icos.png) no-repeat -960px -467px;
	color: #fff;
	height:auto;
	width:auto;
	padding: .4285em 1.4285em .4285em 2.8571em;
	border:none;
	cursor: pointer;
	text-decoration:none;
	display: inline-block;
	line-height: 1.4em;
	border-radius:10px;
	box-shadow:none;
}
.boton:hover {
	background-color:#900 ;
	color: #fff;
}

a.imprimir span.txt {
	text-decoration:underline;
}
a.imprimir span.pixel {
	display: inline-block;
	width:17px;
	height:15px;
	margin:0 0 -3px 6px;
	background:url(../img/icos.png) no-repeat -250px -50px;
}
a.imprimir:hover .txt{
	text-decoration:none;
}

.tableMobileColor{color:#555;}

/* Aside central */

#central {
	width:68%;
	margin-bottom:2em;
	clear: left;
}
#central .t2 {
	font-size:2.5em;
	font-weight:normal;
	margin-bottom:.5em;
	border-bottom:1px solid #d6d6d5;
	line-height:1em;
	letter-spacing:-.05em;
	color:#333;
}
#central .t2 span {
	color: $color_mapfre;
	padding-right:.25em;
}
#central .colum {
	width:48%;
	margin-top:2%;
}

/* Aside lateral */

#lateral {
	width:25.5%;
	float: right;
	margin-bottom:2.8em;
	font-size:1.4em;
	position:relative;
	z-index:101;
}
.posicion #lateral {
	padding-top:0;
}

#lateral .caja {
	border:1px solid #ccc;
	margin-bottom:1em;
	background:#fff;
	padding:8%;
}
#lateral .caja .t1 {
	color:#494949;
	font-size:1.4em;
	border-bottom:1px solid #ccc;
	padding-bottom:.75em;
	margin-bottom:.5em;
	line-height:1em;
}

#lateral .caja p {
	line-height:1.25em;
	padding-bottom:1em;
}
#lateral .caja p.btn {
	padding: 1em 0 0 0;

}
#lateral > .caja:first-child{
	margin-top: 3.2em;
}

/* Principal */

#principal .llamamos .caja #fechahora {
	display: none;
}
#contenido .interior {
	width:100%;
	clear: both;
	line-height:1.25em;
}

#principal {
	position:relative;
	z-index:200;
}
.interior #principal {
	width:68%;
	float: left;
	margin-bottom:2em;
}
.interior #principal .t1{
	font-size:3.2em;
	font-style:italic;
	font-weight:normal;
	color: $color_mapfre;
	margin-bottom:.8em;
	line-height:1em;
	letter-spacing:-.05em;
}

.C400,
#principal,
.C380 {
	width:100%;
}

header{
	&.posicion {
		height:9.5em;
	}
	&.pestTC{
		height:14.1em;
	}
}



.total {
	width:90%;
	max-width:1000px !important;
	margin:auto;
}

/* Contenido */
#contenido{
	#contenidoInt {
		padding-bottom:1.5em;
		text-align:left;
		border-radius:10px;
		&.particulares {
			/*	background:url(../img/bg-particulares.jpg) no-repeat right top;*/
			padding-bottom:3em;
			&>.cl:first-child{
/*				margin-top: 6em;*/
}
}
&.empresas {
	background:url(../img/bg-empresas.jpg) no-repeat right top;
}
&.sinPest {
	border-top:none !important;
	margin-top:4em;
}
&.atencionCliente{
	&.registro-online{
		background-position: 60% 0;
	}
}
&.registro-online{
	&>.C360:first-child{
/*				margin-top: 4em;*/
				/* para cabecera */
				padding-top: 0;
			}
			#principal{
				.faq{
					margin-bottom: 3em;
				}
			}
			.tarjeta-regalo {
				width: 516px;
				border: 1px solid #d7d7d7;
				margin: 20px auto 0;
				padding: 15px;
				overflow: hidden;
				.imagen {
					float: left;
				}
				.texto {
					float: right;
					width: calc(100% - 117px);
					p {
						margin-bottom: 0;
						text-align: center;
						line-height: 1.35em;
					}
				}
			}
		}
		.interior #principal .llamamos {
			.lyndH1{
				margin-top:-3.3em !important;
			}
			.leyenda.lyndH1{
				span{
					margin-right: 0;
				}
			}
			.marcadorojo{
				color:#dc291e;
			}
			.radioahoramastarde{
				text-align: left;
				float: none;
				line-height: 1.6em !important;
				input{
					margin-top: -1px;
				}
			}
			.fila input[type="date"]{
				font-size: 1.6em;
				margin: 0 0 .5em 0;
				border: 1px solid #ccc;
				height: 1.2em;
				padding: 3px 3px 1px 3px;
				width: 25%;
				border-radius: 1px;
				box-shadow: inset 2px 2px 7px 2px #ddd;

			}
			.fila input[type="time"]{
				font-size: 1.6em;
				margin: 0 0 .5em 0;
				border: 1px solid #ccc;
				height: 1.2em;
				padding: 3px 3px 1px 3px;
				width: 25%;
				border-radius: 1px;
				box-shadow: inset 2px 2px 7px 2px #ddd;
			}
		}

	}
}

/* COMPONENTES */

/* CL10 Login particulares y empresas */

.CL10 {
	width:37.5%;
	margin:1% 0 0 1.4%;
	padding-bottom:2em;
	float:left;
	border:1px solid #fff;
	font-size:1.5em;
	clear:both;
}
.CL10 a {
	color:#fff;
}
.CL10 a:hover {
	color:#000;
}
.CL10 legend {
	font-size:1.5em;
	padding:1em 0 .5em 0;
}
.CL10 legend span {
	font-size:.6em;
	white-space:nowrap;
}
.empresas .CL10 legend span {
	display:inline;
}
.CL10 fieldset {
	margin:0 17% 0 10%;
	width:73%;
	color:#fff;
	float:left;
	text-align:left;
}
.CL10 label {
	font-size:.9em;
	display:block;
	margin:.5em 0 0 0;
}
.CL10 input,
.CL10 select {
	float:left;
	width:97%;
	display:block;
	margin:3px 0 0 0;
	background:#fff;
	border:1px solid #ccc;
	height:1.7em;
	padding:2px 3px;
	border-radius:1px;
	box-shadow:inset 2px 2px 7px 2px #ddd;
}
.CL10 select {
	height:2em;
	width:100%;
}
.CL10 input.boton {
	width:30%;
	float:right;
	text-transform:uppercase;
	color:#fff;
	height:2em;
	margin:-2em 0 0 0;
	padding:0 0 0 10px;
	cursor:pointer;
	background:#920000 url(../img/bg-boton.gif) no-repeat 0 0;
	box-shadow:0 0 10px 1px #920000;
}
.empresas .CL10 input.boton {
	margin-top:1.5em;
	position:relative;
	z-index:100;
}
.CL10 a.olvido {
	float:right;
	font-size:.8em;
	margin:.25em 0 0 0;
}
.CL10 span.error, .CL10 .help {
	float:left;
	margin:4px -100px 0 5px;
	position:relative;
}
.CL10 span.error img {
	background:url(../img/icos.gif) no-repeat -75px -50px;
	width:25px;
	height:25px;
}
.CL10 span.error span.texto {
	position:absolute;
	display:block;
	width:22.2em;
	height:1em;
	left:2.5em;
	top:-.7em;
	background:#fff;
	border:3px solid #000;
	color:$color_mapfre;
	font-size:1em;
	padding:1em;
}
.CL10 span.error span.flecha {
	border-bottom:0;
	border-top:0.5em solid transparent;
	border-bottom:0.5em solid transparent;
	border-right:1em solid #333;
	left:-1em;
	height:0;
	overflow:hidden;
	position:absolute;
	width:0;
}
.CL10 input.error {
	border:1px solid #b90000;
	background-color:#f5dd69;
	box-shadow:inset 2px 2px 7px 2px #fc6;
}
.CL10 div{
	width:100%;
	float:left;
}
.CL10 div.directo{
	margin:0;
	width:auto;
}
.CL10 div.directo label {
	margin:0;
}
.CL10 div.dnie {
	padding:1.75em 0 .2em 0;
	background:url(../img/icos.gif) no-repeat 98.5% 15px;
	width:115%;
	.ico {
		position:relative;
		top:-15px;
		left:10px;
		display:inline-block;
		margin-bottom:-25px;
		width:63px;
		height:26px;
		background:url(../img/icos.png) no-repeat -262px -3px;
	}
	a {
		font-size:.85em;
	}
}

.CL10 {
	.alta {
		margin-top:1em;
	}
	.help{
		margin-left:.5em;
		.tooltip {
			top:-6em;
			font-size:.9em;
		}
	}
}
.CL10{
	&#acceso{
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-ms-border-radius: 3px;
		-o-border-radius: 3px;
		border-radius: 3px;
		border: none;
		box-shadow: none;
		padding-bottom: 1em;
		.alta{
			text-align: center;
			margin-top: 2.6em;
		}
		fieldset{
			margin: 0 10%;
			width: 80%;
			legend{
				padding-bottom: 1.5em;
			}
		}
		label{
			margin-bottom: .5em;
		}
		.fila2{
			margin-top: 1.2em;
			margin-bottom: .5em;
			a{
				margin-top: .75em;
				font-size: .9em;
				text-decoration: none;
			}
		}
		.boton{
			width: 44%;
			font-size: 1.1em;
			padding: .25em 0;
			height: 2.25em;
			background: url(../img/bg-boton-xl.gif) no-repeat 0 0;
		}
	}
}



.empresas .CL10 div.dnie {
	font-size:.9em;
	padding:3em 0 1em 0;
	background:url(../img/icos.gif) no-repeat -900px 0;
	margin:-1em 0 0 0;
}
.CL10 div.dnie a {
	float:left;
}
.CL10 div.dnie a.info {
	background:url(../img/icos.gif) no-repeat -50px -50px;
	width:22px;
	height:21px;
	margin:-3px 0 0 5px;
	text-indent:-9999em;
}
.CL10 div.alta a {
	font-size:1.3em;
	width:auto;
}
.CL10 div.alta span {
	font-size:.8em;
	display:block;
	margin:.5em -50px 2em 0;
}

/*  C10 Mensajes (informacion, alerta, error, conformidad) */

.C10 {
	background:#fff url(../img/bg-dest-ico.gif) no-repeat left bottom;
	border: 1px solid #eee;
	margin-bottom: 2em;
	z-index:1000;
}
.C10 div {
	display: inline-block;
	padding: 2em 4% 3em 12%;
	position: relative;
	&:before {
		position: absolute;
		top: auto;
		left: 3em;
		width: 43px;
		height: 43px;
		content: "";
		background: url(../img/iconos.png) no-repeat 0 0;
	}
}
.C10 .ico-alert {
	background-position: 25px 0;
}
.C10 .ico-info {
	background-position: -875px 0;
}
.C10 .ico-OK {
	background-position: -1775px 0;
}
.C10 .ico-error {
	background: none;
	position:relative;
	padding:2em 4% 3em 9em;
	display:inline-block;
	&:before{
		position: absolute;
		top: auto;
		left: 3em;
		width: 43px;
		height: 43px;
		content: "";
		background: url(../img/iconos.png) no-repeat -172px 0;
	}
	
}
.C10 ul {
	margin-left: 1.5em;
}
.C10 p,
.C10 li {
	font-size: 1.6em;
	margin-bottom: .9375em;
}
.C10 {
	p {
		padding-top: .5em;
		&+p {
			padding-top: 0;
		}
	}
}
.C10 li:before {
	top: -.07em;
	left: -.7em;
}
.C10 li {
	text-transform: capitalize;
}

/* C10 integrado en articulo de producto C70 */

.C70 .C10 {
	margin-bottom: 0;
	border: 0;
}

/* CL60 Destacados home */

.CL60 {
	margin-bottom:5em;
	ul {
		width:90%;
		margin:auto;
		border:1px solid #ccc;
		background:#fff;
		display:block;
		@include box-sizing("border-box");
	}
	li {
		float:left;
		width:33%;
		text-align:left;
		margin:1.1em 0;
	}
	a {
		font-size:2em;
		text-decoration:none;
		color:#454545;
		margin:0 2% 0 8%;
		padding:.8em 0 .5em 5px;
		display:block;
		height:3em;
		&:hover {
			color:$color_mapfre;
			text-decoration:underline;
		}
		.txt1 {
			display:block;
			font-weight:bold;
		}
		.txt2 {
			display:block;
			font-size:.7em;
			padding-top:.25em;
		}
	}
	.ico {
		float:left;
		width:40px;
		height:50px;
		margin-bottom:15px;
	}
	.dem {
		border-right:1px solid #ccc;
		.ico {
			background:url(../img/icos.gif) no-repeat -50px 0;
		}
	}
	.con {
		border-right:1px solid #ccc;
		.ico {
			background:url(../img/icos.gif) no-repeat -100px 0;
			width:50px;
		}
	}
	.faq { 
		.ico {
			background:url(../img/icos.gif) no-repeat -150px 0;
		}
	}
}

/* CL60 Destacados home sin demo*/

.CL61 {
	float:right;
	width:58em;
/*	padding-top:24.3em;*/
padding-top:1em;
padding-bottom: 1.5em;
margin-right: 1%;
ul {
	@include box-sizing("border-box");
}
li {
	float:left;
	width:27.7em;
	text-align:left;
	margin:1.1em 1.7em 1.1em 0;
	border:1px solid #ccc;
	background:#fff;

	border-radius:10px;
}
a {
	font-size:2em;
	text-decoration:none;
	color:#454545;
	margin:0 2% 0 8%;
	padding:.8em 0 .5em 5px;
	display:block;
	height:3em;
	&:hover {
		color:$color_mapfre;
		text-decoration:underline;
	}
	.txt1 {
		display:block;
		font-weight:bold;
	}
	.txt2 {
		display:block;
		font-size:.7em;
		padding-top:.25em;
	}
}
.ico {
	float:left;
	width:40px;
	height:50px;
	margin-bottom:15px;
}
.dem {
	border-right:1px solid #ccc;
	.ico {
		background:url(../img/icos.gif) no-repeat -50px 0;
	}
}
.con {
	border-right:1px solid #ccc;
	.ico {
		background:url(../img/icos.gif) no-repeat -100px 0;
		width:50px;
	}
}
.faq { 
	margin-right:0;
	.ico {
		background:url(../img/icos.gif) no-repeat -150px 0;
	}
}
}

/*  C70 Grupo de producto en Posicion Global */

.C70 {
	border:1px solid #dcdcdc;
	background:#fff;
	margin-bottom: 1.5em;
	position:relative;
	.tableMobile {
		display:none;
		padding:1.5em;
		font-size:1.3em;
		dt {
			margin-bottom:.2em;
			font-weight:bold;
			line-height:normal;
		}
		dd {
			margin-bottom:1em;
			line-height:normal;
			dl {
				margin-top:.5em;
			}
		}

	}
}
.C70 .encabezado {
	padding: 0 1.2em;
	border-bottom:1px solid #dcdcdc;
	background-color: #e7e7e7;
	background: -moz-linear-gradient(top, #fff 1%, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#e7e7e7));
	background: -webkit-linear-gradient(top, #fff 1%,#e7e7e7 100%);
	background: -o-linear-gradient(top, #fff 1%,#e7e7e7 100%);
	background: -ms-linear-gradient(top, #fff 1%,#e7e7e7 100%);
	border-radius: 10px 10px 0 0;
}
.C70 h3 {
	font-size: 1.6em;
	height: 2.8125em;
	line-height: 2.8125em;
	font-weight: normal;
	float: left;
	& + .subtitulo {
		float: left;
		padding-left: 35px;
		width: 400px;
		margin-top: -11px;
		margin-bottom: 5px;
		font-style: italic;
		& + ul {
			margin-top: -34px;
		}
	}
}
.C70 {
	.info{
		float:left;
		h3{
			float:none;
		}

		img {
			margin-left:1em;
			vertical-align:middle;
		}
		.show {
			position:absolute;
			left:0;
			top:5.5em;
			width:35.5em;
			z-index:1000;
			p {
				width:19em;
			}
			&:after, &:before {position: absolute; left:10%; bottom:100%;  border: solid transparent; content: " "; height: 0; width: 0; pointer-events: none; }
			&:after { border-color: rgba(212, 229, 242, 0); border-width: 15px; margin-left: -15px; border-bottom-color: #d4e5f2;}
			&:before { border-color: rgba(214, 208, 208, 0); border-width: 19px; margin-left: -19px; border-bottom-color: #d6d0d0;}


		}
		.infoMsg {
			padding:1.5em;
			border-radius:10px;
			border:3px solid #d6d0d0;
			background:#d4e5f2 url("../img/ico_info-2.png") no-repeat 98% 9%;
			h4 {
				margin-bottom:1em;
				font-size:1.5em;
				color:#3f3f3f;
			}
			p {
				margin-bottom:1em;
				color:#3f3f3f;
				font-size:1.5em;
				line-height:normal;
			}
		}
	}
}
.C70 h3 span {
	text-transform:uppercase;
	padding:0;
}
.C70 h3 .pixel {
	display:inline-block;
	background:url(../img/icos.png) no-repeat -745px 0;
	margin:0 .5em -.75em 0;
	width:44px;
	height:23px;
	vertical-align:text-top;
}
.C70#hogar h3 .pixel {
	width:24px;
	height:23px;
	background-position: -836px 0;
}
.C70#vida h3 .pixel {
	width:24px;
	height:23px;
	background-position: -801px 0;
}

.C70#vidaC h3 .pixel {
	width:24px;
	height:23px;
	background-position: -801px 0;
}

.C70#otros h3 .pixel {
	width:27px;
	height:27px;
	background-position: -487px -54px;
}

.C70#salud04 h3 .pixel {
	width:27px;
	height:27px;
	background-position: -523px -54px;
}

.C70#inversion h3 .pixel,
.C70#inversion04 h3 .pixel,
.C70#inversiones-financieras h3 .pixel {
	width:27px;
	height:27px;
	background-position: -563px -54px;
}

.C70#pension h3 .pixel,
.C70#pensiones04 h3 .pixel {
	width:27px;
	height:27px;
	background-position: -603px -50px;
}


.C70#inversion h3 .pixel, .C70#inversion05 h3 .pixel, .C70#inversiones-financieras h3 .pixel {
	width: 27px; height: 27px; background: url("../img/icoGestActivos.png");
}

.C70#pension h3 .pixel, .C70#pensiones05 h3 .pixel {
	width: 27px; height: 27px; background: url("../img/icoGestActivos.png"); 
}


.C70#tc h3 .pixel {
	width:65px;
	height:20px;
	background-position: -638px -53px;
}
.C70#accidentes h3 .pixel {
	width:30px;
	height:30px;
	background-position: -710px -47px;
}

.C70 .encabezado ul {
	font-size: 1.2em;
	float: right;
	text-align: right;
}
.C70 .encabezado li {
	padding-top: .4166em;
}
.C70 .encabezado li.last {
	font-size: 1.1666em;
	position: absolute;
	right: .8571em;
	bottom: .8571em;
}
.C70.mt {
	margin-bottom: 5.5em ;
}
.C70 .tabla {
	padding: 1.3em .5em 0 .5em;
	margin-bottom: 3.5em;
}
.C70 table {
	width:100%;
	color:#555;
}
.C70 thead th {
	font-size: 1.4em;
	padding: 0 5px 10px 0;
	border-bottom: 1px solid #ededed;
	text-align: left;
	position: relative;
}
.C70 thead th.first {
	padding-left: 5px;
}
.C70 tbody tr.alterno {
	background-color:#eef4f3;
}
.C70 td,
.C70 tbody th {
	font-size: 1.4em;
	padding: 8px 5px 8px 0;
	font-weight:normal;
	text-align:left;
	vertical-align: middle;
}
.C70 td.first {
	text-transform: uppercase;
	padding-left: 5px;
}
.C70 td.minuscula {
	text-transform: none;
}
.C70 td.first span {
	font-size: .8571em;
	display: block;
	margin-top: .25em;
}
.C70 td.first a {
	line-height: 1.2;
}
.C70 table tbody tr:hover,
.C70 table tbody tr:hover.mostrarmas {
	background:#ddd !important;
}

.C70 table tbody th span {
	display:block;
}
.C70 th.w1 {
	width: 16%;
}
.C70 th.w2 {
	width: 8%;
	white-space:nowrap;
}
.C70 th.w3 {
	width: 12%;
	white-space:nowrap;
}
.C70 th.w4 {
	width: 8%;
	white-space:nowrap;
}
.C70 th.w5 {
	width: 12%;
	white-space:nowrap;
}
.C70 th.w6 {
	width: 21%;
	white-space:nowrap;
}
.C70 .centrado {
	text-align: center;
}
.C70 .centradov {
	vertical-align: middle;
}
.C70 .mostrartodas {
	position: absolute;
	z-index: 0;
	width: 67em;
	text-align: center;
}
.C70 .mostrartodas div {
	font-size: 1.4em;
	display: inline-block;
	height: 2.3571em;
	line-height: 2.3571em;
	width: 10.5714em;
	color:#333;
	border: 1px solid #dcdcdc;
	cursor:pointer;
	white-space:nowrap;

	border-radius:0 0 10px 10px;
	background-color: #e7e7e7;
	background: -moz-linear-gradient(top, #f3f3f3 1%, #e7e7e7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#f3f3f3), color-stop(100%,#e7e7e7));
	background: -webkit-linear-gradient(top, #f3f3f3 1%,#e7e7e7 100%);
	background: -o-linear-gradient(top, #f3f3f3 1%,#e7e7e7 100%);
	background: -ms-linear-gradient(top, #f3f3f3 1%,#e7e7e7 100%)
}
.C70 .mostrartodas a {
	color:#333;
	text-decoration:none;
}
.C70 .mostrartodas a span {
	white-space:nowrap;
}
.C70 .mostrar .pixel{
	display:inline-block;
	background: url("../img/icos.png") no-repeat scroll -225px -50px;
	width:13px;
	height:9px;
	margin: 1em 0 0 .5em;
}
.C70 .ocultar .pixel{
	display:inline-block;
	background: url("../img/icos.png") no-repeat scroll -225px -65px;
	width:13px;
	height:9px;
	margin: 1em 0 0 .5em;
}
.C70 .mostrartodas div:hover{
	background:#f9f9f9;
}

.C70 .C75 {
	font-size: .8571em;
}

.C70 .C620 > a[aria-describedby] {
	font-size: .8571em;
}

/*  C75 (NOMBRE TEMPORAL) Combo de acciones 'Quiero ir directo a...' */

.C75 {
	position:relative;
	cursor:pointer;
	font-size: 1.2em;
}
.C75 > span {
	display:block;
	color:#000;
	text-decoration:none;
	padding:5px;
	background:#fafafa;
	border:1px solid #eee;
	white-space:nowrap;
	border-radius:5px;
}
.C75 > span .pixel {
	display:inline-block;
	background:url(../img/icos.png) no-repeat -225px -50px; 
	width:13px;
	height:9px;
}
.C75 .irDirecto {
	position:absolute;
	background:#fff;
	padding:5px;
	z-index:9999;
	border-radius:5px;
	box-shadow:0 0 15px 3px #ccc;
}
.C75 .irDirecto li {
	border:none;
	float:none;
}
.C75 .irDirecto li:before {
	content:"" !important;
}
.C75 .irDirecto a {
	padding: 5px 3px;
	float:left;
	width:125px;
	font-size:1em;
}
.C75:hover span + ul.irDirecto {
	top:24px;
	left:23;
	width:145px;
	height:auto;
	overflow: visible;
}

/* CL91 Informacion usuario conectado */

.CL91 {
	padding: 1em 0 1.6em;
	width:51%;
	float:right;
}

.CL91 .buzon {
	font-size:.8em;
}
.CL91 .buzon a {
	color: #333;
	text-decoration: none;
	position: relative;
}
.CL91 .buzon .pixel{
	background-position: 0 0;
	background: url(../img/envelope-red.png) no-repeat;
	display: inline-block;
	height: 16px;
	left: 0;
	margin: 0 2em 0 0;
	width: 26px;
}
.CL91 .buzon span.num {
	background: #fff;
	border-radius: 50%;
	border: 2px solid $color_mapfre;
	color: $color_mapfre;
	font-size: 9.5px;
	font-weight: bold;
	padding: 2px;
	position: absolute;
	right: 10px;
	top: -8px;
}
.CL91 .buzon span.txt {
	line-height:.5em;
}
.CL91 .usuario {
	float:right;
	font-size:1.4em;
	padding:0 1%;
	text-align:right;
	.nombre {
		font-size:1.3em;
	}
}
.CL91 .usuario span.acceso {
	color:#737373;
	font-size: 1.1em;
	display:block;
	padding-top:.5em;
}
.CL91 .empresa {
	width:20%;
	float:right;
	text-align: right;
}

/* CL92 Logos Mapfre y teCuidamos */

.CL92 {
	width:250px;
	position:absolute;
	top:0;
}
.CL92 .tc img{
	margin:5px 0 0 41px;
}
.CL92 .tcpa {
	position:absolute;
	left:227px;
	top:.8em;
}
.CL92 #MAPFRE{
	width:206px;
	height:56px;
	background:url(../img/logos.png) no-repeat 0 -175px;
}
.CL92 #teCuidamos{
	width:145px;
	height:37px;
	background:url(../img/logos.png) no-repeat -284px -175px
}
.CL92 #teCuidamosPA{
	width:179px;
	height:37px;
	background:url(../img/logos.png) no-repeat -285px -114px;
}

.pestTC{
	.CL92 #teCuidamosPA{
		width:179px;
		height:61px;
	}
	&.logado {
		div.procesando {
			position: fixed;
			height: 12em;
			left: 50%; 
			top: 50%;
			margin: -6em 0 0 -9.75em; 
		}
	}
}

/* CL93 Menu recursivo cabecera */

.CL93 {
	font-size: 1.1em;
	display: table;
	width: 100%;
	min-height: 1.6363em;
	height: auto;
}
.CL93 div div a#opciones {
	display:none;
}
.CL93 a {
	color:#000;
	text-decoration: none;
	padding: .4em .9em;
}
.CL93 ul {
	float: right;
	padding: .75em 0;
	background:#e4e4e4;
}
.CL93 li {
	float: left;
	border-left: 1px solid #000;
}
.CL93 li .pixel {
	position:relative;
	left:8px;
	display: inline-block;
	background: url(../img/icos.png) no-repeat -200px -46px;
	width: 22px;
	height: 26px;
	float: left;
	margin: -7px 0 -11px 0;
}

.CL93 li.profile .pixel {
	width:18px;
	height:24px;
	background-position:-307px -47px;
}

.CL93 li:first-child {
	border:none;
}
.CL93 a:hover,
.CL93 a:hover img {
	text-decoration:underline;
}

/* CL94 Pestanias de contenido */

.CL94 {
	width:100%;
	&.noSel {
		border-bottom:2px solid $color_mapfre;
	}
}
.CL94 ul {
	float: right;
	margin: 1em 41px 0 0;
	&.salud{
		clear: right;
	}
}
.CL94 li {
	float: left;
	background: url(../img/bg-pest.png) no-repeat 0 0;
	margin-left: .5em;
}
.CL94 li a {
	color: #666;
	text-decoration: none;
	margin-left: 30px;
	display: block;
	background: url(../img/bg-pest.png) no-repeat 100% 0;
}
.CL94 li a span {
	font-size: 1.9em;
	color:#000;
	background: #e6e6e6;
	display: block;
	margin-right: 30px;
	padding: 13px 10px;
}
.CL94 li a span span {
	font-size: 1em;
	color: $color_mapfre;
	display: inline;
	margin: 0;
	padding: 0;
}
.CL94 li.act {
	background: url(../img/bg-pest-act.png) no-repeat 0 0;
	margin-top: -9px;
}
.CL94 li.act a {
	background: url(../img/bg-pest-act.png) no-repeat 100% 0;
	color: #fff;
}
.CL94 li.act a span {
	color:#fff;
	background: $color_mapfre;
	padding: 18px 10px;
}
.CL94 a:hover {
	color:#000;
}

/*  CL95 Menu horizontal principal */

.posicion .CL95 {
	margin-bottom:-5em;
	a {
		padding:1em 1.9em;
	}
}

.logado {
	.CL95 a {
		padding:1em 1.9em;
	}

}

.pestTC .CL95 {
	background:$color_mapfre;
	a:hover, li.act a {
		background:#494949;
	}
}

.wrapNav {
	min-height:18px;
}
.menuPrip {
	display:none;
	color:#fff;
	padding:.3em .2em;
	text-decoration:none;
	&:hover {
		color:#fff;
	}
}

.CL95 {
	background:#494949;
	float:left;
	padding:0 1.5%;
	margin: 0 0 .4em;
	font-size:1.6em;
	width:97%;
	border-radius:10px;
	box-shadow: 0 5px 5px #ccc;
}
.CL95 li {
	float:left;
	text-align:center;
}
.CL95 a {
	color:#fff;
	text-decoration:none;
	float:left;
	padding:1em 2.5em;
	min-height:2em;
}
.CL95 a.line1 {
	padding:1.5em 1.85em;
	min-height:1em;
}
.CL95 a:hover {
	background:#232323;
}

.CL95 a strong {
	font-weight:normal;
}
.CL95 li.act a {
	background:#232323;
}
header{
	&.pestTC {
		#headerInt {
			display: block;
			nav{
				&.CL94{
					ul{
						position: relative;
						top: -4px;
					}
				}
			}
		}
	}
}
/* CL96 Texto clientes (cabecera acceso) */

.CL96 {
	text-align: right;
	width: 100%;
	padding: 1em 0 1.6em 0;
}
.CL96 h1, .CL96 .title {
	font-size: 3.2em;
	color: $color_mapfre;
	font-weight: normal;
}
.CL96 p {
	font-size: 1.9em;
	font-weight: normal;
	color: #737373;
}

.posicion{
	.group {
		position:relative;
		width:34em;
		.CL92 {
			top:-3.5em;
		}
	}
	.CL96{
		clear:both;
		padding:0;
		h1, .title {
			position:absolute;
			top:1.3em;
			left:.9em;
			font-size:2em;
			font-weight:normal;
			color:#494949;
		}
	}
}

/* C280 Contacto gestor. Acceso desde el portal Mapfre */

.C280 div.imagen {
	display:table;
	margin-bottom:.2em;
}
.C280 img {
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #ccc;
	float: left;
	margin:0 15px 0 0;
	padding: 2px;
}

.C280 {
	.ag-nom {
		font-weight:bold;
	}
	.t1, .ag-tel, .ag-hor, .ag-we { position:relative }
	.t1:before, .ag-tel:before, .ag-hor:before, .ag-we:before { 
		position:absolute;
		left:0;
		background-image:url("../img/icos.png");
		background-repeat:no-repeat;
		content:"";
	}
	.t1 {
		padding-left:1.5em;
		&:before {
			width:23px;
			height:23px;
			background-position:-389px -51px;
		}
	}
	
	.ag-tel {
		margin-top:.4em;
		margin-bottom:.2em;
		padding-left:1.8em;
		&:before {
			width:16px;
			height:16px;
			background-position:-417px -53px;
		}
	}
	
	.ag-hor {
		padding-left:1.8em;
		&:before {
			width:14px;
			height:14px;
			background-position:-439px -53px;
		}
	}

	.ag-we{
		padding-left:1.8em;
		&:before{
			width:16px;
			height:16px;
			background-position:-460px -52px;
		}
	}
	
}

#lateral {
	.C280 {
		p {
			padding-bottom:0;
		}
	}
}


/* C290 Red de oficinas MAPFRE */

.C290 input{
	font-size: 1em;
	width:100%;
	margin-bottom: .5em;
}
.C290 input.boton{
	width: auto;
	margin-bottom: 0;
}

/*  C300 Buzon de clientes MAPFRE  */

.C300 .mss {
	padding:.5em 0;
	border-bottom:1px solid #ccc;
}
.C300 p {
	padding:0 !important;
}
.C300 p.fecha,
.C300 p.de {
	font-weight:bold;
}
.C300 p.num {
	width:auto;
	float:right;
	margin:-3.55em 0 0 0;
}
.C300 p.num a {
	color:#494949;
	text-decoration: none;
	position: relative;
	width: 30px;
	display: inline-block;
	height: 20px;
	z-index: 2;
	text-align: right;
}
.C300 p.num .buzonnumber {
	border: 2px solid #d81e05;
	border-radius: 50%;
	color: #d81e05;
	background: #fff;
	position: absolute;
	padding: 2px;
	font-size: 9.5px;
	right: -3px;
	top: -5px;
	font-weight: bold;
	line-height: 1em;
}
.C300 img#buzonnum {
	width:26px;
	height:16px;
	margin:0;
	background: url("../img/envelope-red.png") no-repeat;
	position: absolute;
	z-index: -1;
	bottom: 0;
	left: 0;
}
.C300 p.irbuzon {
	text-align:right;
	margin:1em 0 0 0;
}

/* C310 Carrusel de campañas, ofertas y cuadro */

.C310 {
	position:relative;
	height:14.25em;
	border:1px solid #ccc;
}

.C310 div {
	position:relative;
	z-index:10;
	padding: 1.2em;
}
.C310 div.textoEnriquecido {
	position:static;
	padding: 0;
	width: 61%;
	p {
		margin-bottom:0;
	}
}

.C310 .fondo {
	position:absolute;
	z-index:0;
	right:0;
	top:0;
	height:142px;
	width:314px;
	background:url(../img/banners.png) no-repeat;
}
#ofertas .fondo{
	background-position: 0 -115px;
}
#boletin .fondo{
	background-position: 0 -277px;
}
#cuadro .fondo{
	background-position: 0 -442px;
}

#cuadro .t2{
	width:7em;

}


/* C320 Modulo Contacto */

.C320 {
	div {
		min-height:10.5em;
		margin-top:-.7em;
		background: url("../img/bg-contacto.png") no-repeat right top;
	}
	p {
		width:9em;
		padding-top:1em;
	}
}

/* C340 Carrusel de campañas y ofertas */

.C340 {
	text-align:center;
	margin:0 auto;
	height:auto;
	z-index:1;
}
.C340 .flex-control-nav{
	margin:0;
	width:auto;
	position:absolute;
	bottom:20px;
	left:17%;
}
.C340 .flex-pauseplay{
	margin:0;
	width:auto;
	position:absolute;
	bottom:20px;
	left:11%;
}
.C340 .flex-caption{
	bottom:10.25em;
}
.C340 .flex-caption-txt{
	padding:.5% 2%;
	position: absolute;
	left: 9%;
	top: 1.3em;
	text-align:left;
	font-size:3.3em;
	line-height:1em;
}
.C340 .flex-caption-txt .txt1{
	color:#E41B13
}
.C340 .flex-caption-txt .txt2{
	font-size:.7em;
}

/* C360 Menu de migas */

.posicion .C360 {
	top:5.6em;
}

.C360 {
	font-size: 1.2em;
	padding: 1.2em 0 2em 0;
	width: 70%;
	clear: both;
	display: table;
	z-index: 111;
	position: relative;
}
.C360 p {
	float:left;
	font-weight:bold;
}
.C360 ol {
	float: left;
	list-style-type: none;
}
.C360 li {
	float: left;
	margin: 0 0 0 .5em;
}
.C360 li:first-child {
	padding: 0;
}

.C360 li:before {
	content: "\003E \0020";
	color: #000;
}

.C360 li:first-child:before {
	content: " ";
}

/* C30 Link de imprimir */
.C30{
	padding: 0;
	margin-top: -4em;
	width: 30%;
	float: right;
	display: inline-block;
	z-index: 111;	
	position: relative;
}


/* C380 Pie de pagina */

.C380 {
	width:100%;
	text-align:left;
	background:#737373;
	display:table;
	position:relative;
	margin-top:0em;
}
.C380 a {
	color:#fff;
	text-decoration:none;
}
.C380 a:hover {
	color:#fae7c0;
}

.C380 .texto {
	display: inline-block;
	margin:2em 0 1em 0;
}
.C380 .texto li {
	display: inline-block;
	font-size:1.1em;
	border-left:1px solid #fff;
	padding:0 10px;
}
.C380 .texto li:first-child {
	padding-left:0;
	border-left:0;
}
.C380 .imagen li {
	display: inline-block;
	margin-right:1.6em;
}
.C380 .imagen li:last-child {
	margin:-.4em 0 0 0;
}
.C380 img#w3c {
	width:87px;
	height:31px;
	background:url(../img/logos.png) no-repeat -285px -42px;
}
.C380 img#vs {
	width:77px;
	height:39px;
	background:url(../img/logos.png) no-repeat -285px -73px;
}
.C380 #logo {
	float:right;
	position:relative;
	top:-11em;
	width:283px;
	height:132px;
	background:url(../img/logos.png) no-repeat 0 -56px;
}

.C380{
	.logos {
		float:right;
	}
}

.patrocinador {
	float: left;
	position:relative;
	top:-6em;
	margin-right:16px;
}

/* C390 Bloque Calcule su seguro MAPFRE */

.C390 {
	float:left;
	width:99.5%;
	border:.25em solid #fff;
	position:relative;
	border:1px solid #ccc;
}
.C390 .t2 {
	margin: .5em;
}
.C390 div {
	position:relative;
	z-index:10;
}
.C390 ul {
	margin-top:0;
}
.C390 ul li {
	font-size:1.4em;
	line-height:1.25em;
	float:left;
	width:18%;
	padding:0 1%;
}
.C390 ul li a {
	display:block;
	padding:.5em 0 .5em 0;
	margin:1em 0 .5em 0;
	text-decoration:none;
	text-align:center;
	color:#333;
	border:1px solid transparent;
}
.C390 ul li a span {
	display:block;
}
.C390 ul li a span span {
	color:#b90000;
}
.C390 ul li .pixel {
	display:inline-block;
	width:50px;
	height:35px;
	display:block;
	margin:auto;
}
.C390 ul li.coche .pixel {
	background:url(../img/icos.png) no-repeat -450px 0;
}
.C390 ul li.hogar .pixel {
	background:url(../img/icos.png) no-repeat -500px 0;
}
.C390 ul li.salud .pixel {
	background:url(../img/icos.png) no-repeat -550px 0;
}
.C390 ul li.vida .pixel {
	background:url(../img/icos.png) no-repeat -600px 0;
}
.C390 ul li.motos .pixel {
	background:url(../img/icos.png) no-repeat -650px 0;
}
.C390 ul li.accidentes .pixel {
	background:url(../img/icos.png) no-repeat -700px 0;
}
.C390 ul li a:hover {
	background-color:#f7f7f7;
	border:1px solid #ccc;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.C390 .fondo {
	display:inline-block;
	position:absolute;
	z-index:0;
	right:0;
	top:0;
	height:115px;
	width:314px;
	background:url(../img/banners.png) no-repeat 0 0;
}

/* C600 Ordenacion de productos */

.C600 {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
}
.C600 li {
	margin: 0 3px 3px 3px;
	padding:0 0.4em;
	font-size: 1.4em;
	height: 2.5em;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;
	cursor:move !important;
}
.C600 li:active{border:1px solid #aaa;	-webkit-box-shadow:0 0 15px 3px #ccc;-moz-box-shadow:0 0 15px 3px #ccc;-o-box-shadow:0 0 15px 3px #ccc;box-shadow:0 0 15px 3px #ccc;}
.C600 li span { position: absolute; margin:10px 0 0 0; }
.C600 img{ width:50px; height:35px; margin-top:.2em; margin-left:1em; padding-left:8px;}
.C600 select{position: absolute; margin:7px 0 0 0; right:10%}
.C600 #s1 img{width:24px; height:23px; background:url(../img/icos.png) no-repeat -836px 0;}
.C600 #s2 img{width:44px; height:23px; margin-top:.5em; background:url(../img/icos.png) no-repeat -743px 0;}
.C600 #s4 img{width:27px; height:27px; margin-top:.4em; background:url(../img/icos.png) no-repeat -523px -54px;}
.C600 #s9 img{width:24px; height:23px; margin-top:.5em; background:url(../img/icos.png) no-repeat -801px 0;}
.C600 #s10 img{width:30px; height:30px; margin-top:0; background:url(../img/icos.png) no-repeat -717px -47px;}
.C600 #s5 img, .C600 #s6 img, .C600 #s7 img, .C600 #s8 img, .C600 #s3 img {  width:27px; height:27px; margin-top:.4em; background-image:url(../img/icos.png); background-repeat:no-repeat }
.C600 #s5 img{background-position: -487px -54px;}
.C600 #s6 img{background-position: -523px -54px;}
.C600 #s7 img{background-position: -563px -54px;}
.C600 #s3 img{background-position: -603px -50px;}
.C600 #s8 img{width:65px; height:20px; background-position: -638px -53px;}

/* C610 Ventana modal  */
#fancybox-content {
	display: inline-block;
	width: 100% !important;
	height: 100% !important;
}
#fancybox-content #fancybox-frame{
	background: #000;
}

#fancybox-outer, #fancybox-frame{ height: 455px !important;}
/*#fancybox-content{
	height: 100%;
}*/
#fancybox-wrap{
/*	width: 90% !important;*/
max-width: 1000px !important;
height: auto !important;
}
#fancybox-wrap.heightL{
	height: 500px !important;
}
#fancybox-wrap.heightXL{
	height: 575px !important;
}
#fancybox-wrap.heightXXL{
	height: 625px !important;
}

/* alto de shadowbox en patrimoniales tipo siniestro */
#fancybox-wrap.altocaja {
	overflow: inherit !important;
	&.centrado {
		padding-top: 25% !important;
	}
	#fancybox-outer, #fancybox-frame {
		height: 300px !important;
	}
}

.C610 {
	position: relative;
}
.body.home.popup { padding: 0 0 2em 0; display: inline-block; background: #fff;}
.body.home.popup  header.cabeceraModal { border-radius: 0; }
.body.home.popup .C610{ display: inline-block; }
.body.home.popup .C610 .cabeceraModal h1{
	border-bottom: none;
}
.C610 .cabeceraModal h1 {
	background:$color_mapfre;
	text-align:left;
	padding:0 5%;
	margin-bottom:2.5em;
	border-bottom:1px solid #ccc;
}
.C610 .cabeceraModal h1 img {
	display: block;
	margin-left:-15px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.C610 .cabeceraModal button {
	font-size: 1em;
	border: 0;
	background-color: transparent;
	padding: 0;
	margin:0;
	display: block;
	width: 3.2em;
	height: 3.2em;
	cursor: pointer;
	position: absolute;
	z-index: 999;
	bottom: -42px;
	right: -7px;

}
.C610 .cabeceraModal button img {
	display: block;
	width: 3.2em;
	height: 3.2em;

}
.C610 .contenidoModal {
	text-align:left;
	width:90%;
	margin:0 5%;
}
.C610 .t1 {
	font-size:2.5em;
	font-weight:normal;
	color: $color_mapfre;
	margin-bottom:.75em;
	border-bottom:1px solid #d6d6d5;
	line-height:1em;
	letter-spacing:-.05em;
}
.C610 p.btn {
	text-align:right;
	clear:both;
	padding-top:1em;
	margin-bottom: 20px;
}
.C610 .boton {
	font-size: 1.4em;
}

/* C620 Alerta y tooltip tabla */

.C620 {
	text-align: center;
	position:relative;
}
.C620 > a[aria-describedby] {
	cursor:help;
	text-decoration:none;
	font-size: 1.2em;
	color:#555;
}
.C620 .pixel {
	display:block;
	background:url(../img/icos.png) no-repeat -286px -50px;
	width: 15px;
	height: 14px;
	margin: 0 auto 3px auto;
}
.C620 [role="tooltip"] {
	text-align: left;
	display:none;
	top:10px;
	left:-100px;
	position:absolute;
	background:#fff;
	padding:10px;
	width:300px;
	z-index:999;
	border:3px solid #ccc;
	border-radius:15px;
	box-shadow:0 0 15px 3px #ccc;
}
.C620 [role="tooltip"] img {
	float:right;
	background:url(../img/icos.png) no-repeat 0 -75px;
	width:75px;
	height:65px;
}
.C620 [role="tooltip"] span,
.C620 [role="tooltip"] a {
	float:left;
	width:225px;
}
.C620 [role="tooltip"] span {
	display: none;
}
.C620 [role="tooltip"] a {
	margin-bottom: .7142em;
}

/* C630 Titulo contenido principal 32px italic */

.C630 {
	font-size:2.2em;
	font-style:italic;
	font-weight:normal;
	color: #494949;
	margin-bottom:.8em;
	line-height:1em;
	letter-spacing:-.05em;
}

/* C640 Bloque encabezado: titulo contenido principal 32px italic + enlaces */

.C640 {
	margin-bottom: 2.5em;
	position: relative;
}
.C640 .C630 {
	margin-bottom: 0;
	display: inline-block;
}
.C640{
	.acciones {
		font-size: 1.4em;
		text-align: right;
		position: absolute;
		right: 0;
		top: 1em;
		li {
			display: inline-block;
			margin-left: 2.1428em;
		}
	}
	.frt {
		position:static;
		padding-top:.3em;
	}
	.misPr {
		position:relative;
		span {
			display:block;
			cursor:pointer;
			color:$color_mapfre;
			text-decoration:underline;
			&:hover { text-decoration:none; }
		}
		span:after {
			display:inline-block;
			width:13px;
			height:9px;
			margin-left:0;
			background:url("../img/icos.png") no-repeat -225px -50px;
			content:"";
		}
		ul {
			width:18em;
			margin-top:.5em;
			padding:.5em;
			border-radius:5px;
			border:2px solid #f0f0f0;
			background:#fff;
			box-shadow:0 0 15px 3px #ccc;
		}
		.show {
			position:absolute;
			z-index:1000;
			top:1em;
			left:0;
		}
		li {
			display:block;
			float:none;
			margin:.8em 0;
			text-align:left;
		}
	}
}

.subNav {
	a {
		text-decoration:none;
		padding:.2em 0 .2em .4em;
		display: block;
		&:hover {
			text-decoration:underline;
		}
	}
	dt {
		padding:.4em .5em;
		background:#737373;
		font-size:1.6em;
		font-weight: bold;
		border-radius:10px 10px 0 0;
		color:#fff;
		margin-top: -10px;
		a {
			color:#fff;
		}
	}
	dd {
		ul {
			margin-top:0;
			margin-bottom: .5em;
			border-radius:0 0 0 0;
			border-bottom: 1px solid #ccc;;
		}
	}
	ul {
		margin-top:.25em;
		padding:1em .75em 1em .75em;
		background:#fcfcfc;
		border:1px solid #ccc;
		border-radius:10px;
		a {
			color:#333;
			font-size:1.4em;
		}
	}
	li {
		margin-bottom:.5em;
		padding: 0;
	}
	dl {
		dt:first-child{
			margin-top: 0px;
		}
		dd:last-child ul{
			border-bottom: 1px solid #ccc;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
		}
	}
}

.twoCols {
	.subNav {
		float:left;
		width:17.7em;
		.sel {
			a {
				
				display:block;
				padding:.2em 0 .2em .4em;
				background:$color_mapfre;
				border-radius:5px;
				line-height: 1.1em
			}
			a {
				color:#fff;
			}
		}
	}

	#principal {
		float:right;
		margin-left:1em;
		padding:0 1em;
		width:78.3em;
	}
	.texto, .wysiwyg {
		p {
			font-size: 1.6em;
			line-height: 1.2em;
			margin: 0 0 1.5em;
		}
	}
}

#tituloSA {
	.title {
		@include formato_titulo_ppal;
	}
}

.subTitlePpal {
	@include formato_subtitulo_ppal;
}

.distributiva {
	.entry {
		position:relative;
		min-height:21.8em;
		margin-bottom:2em;
		background:url("../img/bck_dist-atencion.jpg") no-repeat 0 0;
	}
	.txt {
		position:absolute;
		right:.8em;
		bottom:6em;
		width:22em;
		padding:2em;
		background:#fff;
		border-radius:10px;
		font-size:1.1em;
	}
	a {
		text-decoration:none;
		&:hover {
			text-decoration:underline;
			color:$color_mapfre;
		}
	}
	.title {
		font-size:1.6em;
		color:$color_mapfre;
		line-height:normal;
	}
	p {
		font-size:1.6em;
		line-height:normal;
	}
	li {
		display:inline-block;
		width:28em;
		margin-right:5em;
		margin-bottom:3em;
		vertical-align:top;
		li {
			display:block;
			margin-right:0;
			width:auto;
		}
	}
}

.adobe-survey-feedback-link-overlay-class{

	padding:0px; margin:0px; z-index: 10000; overflow:hidden; position: fixed; _position: absolute; cursor:pointer; width: 28px; top:239px; right: 0px;_top:expression(eval(document.compatMode && document.compatMode=="CSS1Compat") ? documentElement.scrollTop +(documentElement.clientHeight-this.clientHeight) - 239 : document.body.scrollTop +(document.body.clientHeight-this.clientHeight) - 239); -ms-filter: alpha(opacity=80) !important; filter: alpha(opacity=80); -moz-opacity: 0.8; -khtml-opacity: 0.8; opacity: 0.8; bottom: 20px\0/!important; /* ie8 */ top: auto\0/!important; /* ie8 */ }

	.adobe-survey-feedback-link-overlay-class div{padding:0px; margin:0px; background: url(http://survey.122.2o7.net/survey/dynamic/common/pu5tc5nWkzVJNtc0pdV_fDA/feedback_links/white_right_es-ES.png) top left no-repeat;

		filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://survey.122.2o7.net/survey/dynamic/common/pu5tc5nWkzVJNtc0pdV_fDA/feedback_links/white_right_es-ES.png');

	}

	.adobe-survey-feedback-link-overlay-class:hover{-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)'; filter: alpha(opacity=100); -moz-opacity: 1; -khtml-opacity: 1; opacity: 1;}



	#adobe-survey-feedback-link-icon { background: url(https://www.mapfre.com/portal/app/oim/docs/img/btn-ayudanos-a-mejorar.png) no-repeat scroll left top transparent !important; margin: 0; padding: 0; width:98px!important; height:98px!important; position: fixed!important; position: static\0/!important; /* ie8 */ right:5px!important; bottom:20px!important;   cursor:pointer!important; z-index:20000 !important; opacity: 0.8!important; filter: alpha(opacity=80)!IMPORTANT; }
	.adobe-survey-feedback-link-overlay-class { width:138px !important; width: 108px\0/!important; /* ie8 */ } 

/* */
.C70.operacional {
	th {
		&.w1 {
			width: auto;
		}
		&.w2 {
			width: 15%;
		}
		&.w3 {
			width: 20%;
		}
		&.w4 {
			width: 15%;
		}
	}
}

form.popup {
	p.btn {
		font-size: 1em;
		float: right;
		
	}
	input[type="file"] {
		border: 1px solid #eeeeee;
		padding: 1em;
		border-radius: 10px;
	}
}
h3.t2 {
	font-weight: normal;
	color: #dc291e;
	margin-bottom: 1em;
	line-height: 1em;
	letter-spacing: -0.05em;
	padding-left: .6em;
	background: url("../img/bck_title.png") no-repeat 0 0.3em;
	font-size: 2.1em;
	border: none;
}

#fancybox-close{
	display: none !important;
}

body,.body {
	&.popup{
		.cuerpoDetalle {
			margin-top: 3em;
			ul {
				list-style: none;
				margin-left: 0;
				margin: 1em auto;
				li{
					margin-bottom: 0;
					&:before {
						content: "";
					}
				}
			}
			.firma {
				margin-top: 2em;
			}
		}
		.lynd {
			color: #d81e05;
			font-weight: bold;
			margin-left: -1em;
			float: left;
			margin-top: .25em;
		}
		.autorizacion-sanitaria {
			a{
				&.boton{

				}
				&.volver{
					display: block;
					font-size: 1.5em;
					margin-top: 2em;
					&:before{
						content: '<<';
						float: left;
						position: relative;
						margin-right: .3em;
					}
					&+.boton{
						margin-top: -1.5em;
					}
				}
			}
			dl{
				font-size: 1.5em;
				margin-bottom: 1em;
				dt{
					font-weight: bold;
				}
				dd{
					line-height: 1.25em;
					&+dt{
						margin-top: 1.5em;
					}
				}
			}
			form{
				input[type="text"]{
					font-size: 1.6em;
					line-height: 1.2em;
					float: left;
					background: #FFF;
					border: 1px solid #CCC;
					height: 1.2em;
					padding: 3px 3px 1px 3px;
					width: 48%;
					border-radius: 1px;
					box-shadow: inset 2px 2px 7px 2px #DDD;
				}
				label{
					float: left;
					font-size: 1.5em;
					font-weight: bold;
					padding-right: 1em;
					text-align: right;
					width: 45%;
				}
				.fila{
					margin: 1.5em auto;
					display: inline-block;
					width: 100%;
					&.error{
						.error-message{
							clear: both;
							color: #d81e05;
							padding-right: .5em;
							padding-top: .4em;
							text-align: right;
							margin-bottom: 0;
						}
						input[type="text"], select{
							border: 1px solid #d81e05;
						}
					}
					.description{
						clear: left;
						display: inline-block;
						font-size: 1.5em;
						line-height: 1.4em;
						width: 48%;
					}
					select{
						padding: 3px;
						width: 50%;
					}
				}
			}
			h3{
				&.t2{
					background: none;
					padding-left: 0;
				}
			}
			p{
				font-size: 1.5em;
				margin-bottom: 1em;
			}
			.C70{
				clear: both;
				margin-top: 2em;
				display: inline-block;
				width: 100%;
				border: none;
			}
			.datos{
				float: left;
				padding-right: 1em;
				width: 45%;
			}
			.descripcion{
				float: right;
				width: 40%;
				h3{
					font-size: 2em;
					font-weight: normal;
					margin: .5em 0 1em 0;
				}
				p{
					line-height: 1.4em;
				}
			}
			.formulario{
				float: left;
				padding-right: 2%;
				width: 57%
			}
			.mapa{
				float: right;
				width: 50%;
				border: 2px solid #d81e05;
				box-shadow: 1px 1px 4px;
				@include box-sizing("border-box");
				padding: .5em;
				img{
					width: 100%;
				}
				#map_canvas{
					&+a{
						&.linkMapa{
							display: none;
						}
					}
				}
			}
			.controles{
				display: inline-block;
				clear: both;
				width: 100%;
				margin-bottom: 2em;
			}
			.roundcorners.formdegree.objectshadowsmoth{
				display: inline-block;
				padding: 1em;
			}
		}
		&.recibo{
			display: block;
			margin-top: 50px;
			text-align: center;
			.contenidoModal{
				width: 100%;
				margin: 0;
				img{
					width: 100%;
				}
			}
		}
		table{
			&.recibos{
				th {
					background-color: #E7E7E7;
					background: -moz-linear-gradient(top, white 1%, #e7e7e7 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #FFF), color-stop(100%, #E7E7E7));
					background: -webkit-linear-gradient(top, #FFF 1%, #E7E7E7 100%);
					background: -o-linear-gradient(top, white 1%, #e7e7e7 100%);
					background: -ms-linear-gradient(top, white 1%, #e7e7e7 100%);
					padding-left: .25em;
					text-align: center;
					span{
						padding-right: .25em;
					}
					.ordenarTabla {
						width: 7px;
						float: right;
						margin: 0;
						padding: 0;
						a{
							img{
								margin-bottom: .25em;
								display: block;
							}
						}
					}
				}
				th, td {
					padding: 1em .25em 1em .75em;
					border-left: 1px solid #DCDCDC;
					max-width: 9.5em;
					&:first-child{
						border-left: none;
					}
				}
			}
			td{
				vertical-align: middle;
				&.enlace-mapa{
					position: relative;
					div{
						display: inline-block;
						vertical-align: middle;
						width: auto;
						position: absolute;
						right: 7px;
						&:hover{
							span{
								display: inline-block;
								position: absolute;
								z-index: 10000;
								top: -1em;
								right: 0;
								border: none;
								background: #f7f0a2;
								padding: .3em 1em;
								border-radius: 5px;
								box-shadow: 1px 1px 5px;
								min-width: 4.5em;
								text-decoration: none;
							}
						}
						span{
							display: none;
						}
					}
					span {
						float: left;
					}
				}
				&.recomendado{
					img{
						margin-right: .4em;
						vertical-align: middle;
					}
				}
			}
			tr{
				&:hover{
					td{
						text-decoration: underline;
						span{
							text-decoration: underline;
						}
					}
				}
			}
		}
		.tabla{
			&.with-scroll{
				max-height: 35em;
				overflow-y: auto;
			}
		}
		#paginaciones{
			float: right;
			ul{
				li{
					display: inline-block;
					font-size: 1.5em; 
				}
			}

		}
		.cajadestico{
			background: url(../img/bg-dest-ico.gif) no-repeat left bottom;
			margin-bottom: 2em;
			border: 1px solid #EEE;
			box-shadow: 1px 2px 2px #AAA;
			margin-left: 0;
			padding: 0;
			.ico-info{
				padding: 2em 4% 2em 14%;
				display: inline-block;
				position: relative;
				&:before{
					background-position: -129px 0px !important;
				}
			}
			div[class*="ico-"]{
				&:before{
					position: absolute;
					top: 1em;
					left: 3em;
					width: 43px;
					height: 43px;
					content: "";
					background: url(../img/iconos.png) no-repeat;
				}
			}
		}
		.siniestros{
			display: inline-block;
			
			margin-bottom: 1em;
			.boton{
				font-size: 1.5em;;
			}
			.datos{
				font-size: 1.5em;
				margin-bottom: 1em;
			}
			.mapa{
				padding-top: 1em;
				border-top: 1px solid #ccc;
				margin-bottom: 1em;
				width: 100%;
				img{
					max-width: 100%;
				}
				iframe{
					width:  100%;
				}
			}

		}
	}

	.siniestros .ico-info p strong a{
		color: #333;
		text-decoration: none !important;
	}

}


.cal{
	td{
		&.no-selectable{
			color: #bbb;
			background-color: #eee;
			&:hover{
				border-color: #999;
			}
		}
	}
}
.datepicker{
	&.limited{
		.cal{
			td{
				&.disabled{
					color: #aaa;
					&:hover{
						background-color: #ddd;
						border-color: #999;
					}
					&.today{
						&:hover{
							background-color: #fff0c4;
						}
					}
				}
			}
		}
	}
}


/* Nueva home ----------------------------------------------------------------------------------------------------------- */

body {
	&#nueva-home {
		background: url("../img/bg_body.png") repeat-x 0 0 !important;

		header {
			padding-bottom: 77px;
			.cabecera {
				position: static;
				background: none;
				.bloque-logo {
					float: left;
					position: static;
					width: auto;
					top: 0;
					a {
						color: $color_mapfre;
						margin: 0;
						padding: 0;
						font-size: 100%;
						vertical-align: baseline;
						background: transparent;
						img {
							border: 0;
						}
					}
					.logo {
						width: 100%;
						height: 100%;
						position: static;
					}
					.tc {
						#teCuidamos {
							width: 145px;
							height: 37px;
							background: url(../img/logos.png) no-repeat -284px -175px;
							margin: 5px 0 0 41px;
							display: block;
						}
						&:after {
							display: none;
						}
					}
				}
				.menu {
					text-align: right;
					width: auto;
					padding: 0 0 1.6em 0;
					float: right;
					margin: 0;
					font-size: 1.1em;
					ul {
						float: right;
						padding: 0.75em 0;
						background:#e4e4e4;
					}
					li {
						float: left;
					}
					a {
						color:#000;
						text-decoration: none;
						padding: .4em .9em;
						&:hover {
							text-decoration: underline;
							img {
								text-decoration: underline;
							}
						}
					}
				}
				.titulo {
					padding-top: 0px;
					float: right;
					margin-top: -28px;
					width: auto;
					clear: both;
					color: $color_mapfre;
					h1 {
						font-size: 3.2em;
						font-weight: normal;
					}
				}
			}
		}

		section {
			#contenido {
				float: right;
				width: 34%;
				padding-top: 47px;
				#acceso {
					-webkit-border-radius: 10px;
					-moz-border-radius: 10px;
					-ms-border-radius: 10px;
					-o-border-radius: 10px;
					border-radius: 10px;
					-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
					-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
					-ms-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
					-o-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
					box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
					padding-bottom: 20px;
					width: 100%;
					margin: 0;
					fieldset {
						margin: 0 8%;
						width: 84%;
						legend {
							padding-top: 0.9em;
							padding-bottom: 0.9em
						}
						label {
							font-weight: bold;
							font-size: 0.85em;
						}
						.fila2 {
							margin: 0;
							.olvido {
								margin-top: 0.4em;
								margin-bottom: 0.55em;
								font-size: 0.85em;
							}
						}
						.directo {
							float: left !important;
							margin-top: -16px;
						}
						.entrar {
							float: right;
							width: auto;
							padding-top: 2px;
							input {
								height: 2.3em;
								padding: 2px 0px 0px 10px;
								font-size: .85em;
								background: #920000 url(../img/bg-boton.gif) no-repeat -1px 1px;
								letter-spacing: 1px;
								clear: both;
								margin-top: 5px;
								width: 6.5em;
							}
						}
					}
					label {
						margin-top: 0.3em !important;
						margin-bottom: 0.3em !important;
					}
				}

				.dnie {
					padding-top: 1.75em;
					padding-left: 5%;
					padding-right: 5%;
					margin-bottom: 9px;
					clear: both;
					display: inline-block;
					width: 100%;
					@include box-sizing("border-box");
					a {
						&:hover {
							color: #000;
						}
					}
					.acceso {
						float: left;
						font-size: 1.3em;
						padding-left: 5px;
					}
					.iconos {
						float: right;
						a {
							text-indent:-9999em;
							background: url(../img/ico_info-3.png) no-repeat 0 0;
							padding: 11px 10px 10px 11px;
							float: left;
							.tooltip {
								top: -6.5em !important;
								left: -13.5em !important;
								.ttbox {
									border-width: 2px;
									font-size: 1.2em;
									line-height: 1.3em;
								}
							}
						}
						.ico {
							background: url(../img/ico_dnie.png) no-repeat 0 0;
							padding: 21px 30px 20px 31px;
							float: left;
							margin-top: -10px;
							margin-left: 6px;
						}
					}
				}

				.reg {
					clear: both;
					a {
						&:hover {
							color: #000;
						}
					}
					.registro {
						-webkit-border-radius: 10px;
						-moz-border-radius: 10px;
						-ms-border-radius: 10px;
						-o-border-radius: 10px;
						border-radius: 10px;
						-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
						-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
						-ms-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
						-o-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
						box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
						border: 1px solid #ccc;
						background: #f1f1f1;
						text-align: left;
						padding: 10px 21px 13px 16px;
						overflow: hidden;
						color: black;
						h1 {
							font-size: 1.7em;
							color: #494949;
						}
						ul {
							li {
								a {
									font-size: 1.3em;
									float: left;
									padding-top: 9px;
									.ico {
										float: left;
										margin-top: -9px;
									}
								}
								&.carnet {
									display: inline-block;
									padding-top: 8px;
									padding-bottom: 6px;
									.ico {
										background: url(../img/icons-nueva-home.png) no-repeat 0 0;
										padding: 15px 19px 15px 20px;
										margin-right: 10px;
									}
								}
								&.llamar {
									.ico {
										background: url(../img/icons-nueva-home.png) no-repeat -42px 0;
										padding: 11px 10px 12px 10px;
										margin-left: 14px;
										margin-right: 15px;
									}
								}
							}
						}
					}

					.links {
						overflow: hidden;
						padding-top: 20px;
						padding-bottom: 16px;
						padding-left: 5%;
						padding-right: 5%;
						ul {
							li {
								float: left;
								width: 50%;
								text-align: left;
								a {
									font-size: 1.3em;
									padding-top: 10px;
									.ico {
										float: left;
									}
								}
								&.con {
									width: 46%;
									a {
										float: left;
										.ico {
											background: url(../img/icons-nueva-home.png) no-repeat -65px 0;
											padding: 15px 20px 14px 19px;
											margin-right: 12px;
											margin-top: -10px;
										}
									}
								}
								&.faq {
									width: 54%;
									a {
										float: right;
										.ico {
											background: url(../img/icons-nueva-home.png) no-repeat -107px 0;
											padding: 14px 9px 14px 8px;
											margin-right: 9px;
											margin-top: -7px;
										}
									}
								}
							}
						}
					}
				}
			}

			.video {
				float: left;
				width: 66%;
				@include box-sizing("border-box");
				padding-right: 26px;
				h1 {
					font-size: 2.1em;
					font-weight: normal;
					padding-bottom: 27px;
					text-align: left;
					color: #494949;
				}
			}
		}

		footer {
			margin-bottom: -10px;
			padding-bottom: 50px;
			margin-top: 38px;
			.texto {
				margin-top: 9px;
				float: left;
			}
			.imagen {
				position: static;
				margin-left: 0;
				display: inline;
				float: left;
				clear: both;
			}
			.logos {
				float: right;
				width: 445px;
				.patrocinador {
					float: left;
					margin-top: -8px;
					width: auto;
					position: static;
				}
				.logo {
					float: right;
					margin-top: -60px;
					#logo {
						width: 236px;
						height: 132px;
						margin: 0;
						padding: 0;
						background: url(../img/logos.png) no-repeat -114px -217px;
						position: static;
					}
				}
			}
		}
	}
}

/* arreglos */

article.operacional {
	/* excepciones sin bordes */
	&#vidaC, &#inversion {
		.tabla td {
			border-left: none;
		}
	}
	/* fin de excepciones sin bordes */
	.tabla {
		/* fila completa */
		padding-left: 0;
		padding-right: 0;
		/* fin de fila completa */
		th {
			white-space: normal;
			vertical-align: middle;
			line-height: 1.25em;
			padding-right: 0;

			/* anchos */
			&.n-contrato {
				width: 110px;
			}
			&.f-vencimiento {
				width: 110px;
			}
			&.imp-anual {
				width: 110px;
			}
			&.forma-pago {
				width: 110px;
			}
			&.treboles-canjeados {
				width: 110px;
			}
			&.treboles-canjear {
				width: 110px;
			}
			&.avisos {
				width: 110px;
			}
			&.n-cuenta-valores {
				width: 220px;
			}
			/* fin de anchos*/
		}
		/* bordes */
		.alterno td {
			border-bottom: none;
		}
		td {
			border-left: 1px solid #ededed;
			border-bottom: 1px solid #ededed;
			padding-right: 0;
			&.first {
				border-left: none;
			}
			.logo {
				vertical-align: text-bottom;
			}
			&.warning{
				position: relative;
				&>a{
					display: inline-block;
					max-width: 80%;
				}
				&>span{
					max-width: 80%;
				}
				.aviso{
					display: inline-block;
					position: absolute;
					top: 5px;
					right: 5px;
					text-transform: none;
				}
			}
		}
	}
	.tableMobile{
		dd {
			img{
				display: block;
			}
			.logo{
				text-align: bottom;
				display: inline;
			}
		}
	}
}

body{
	&.home{
		&>iframe{
			&:first-child{
				position: absolute;
			}
		}
	}
}

#principal .llamamos {
	p.leyenda.lyndH1{ 
		width: 98.5%;
	}
	.caja .fila{
		margin: 1.5em auto;
		display: inline-block;
		width: 100%;
		&.error{
			&.acepto{
				.error-message{
					width: 40%;
					top: 1.3em;
				}
			}
			.error-message{
				position: absolute;
				top: 1em;
				right: 0;
				font-size: 1.2em;
				font-weight: bold;
				color: #d81e05;
				width: 25%;
			}
			.error-message.calendario{
				width: 15%;
			}
		}
	}
}		
.interior #principal .llamamos h1.title.wphoneDato{
	padding-bottom: 20px !important;
}
#principal.registro-unico .caja .fila{
	&.error{
		.error-message{
			top: 1em;
			font-size: 1.2em;
			font-weight: bold;
			color: #d81e05;
		}
	}
}
#contenido .interior #principal .caja div.texto .acepto input[type=checkbox] { position: relative; top:11px; margin-top:0 !important;}

#contenido .interior #principal.registro-unico .caja div.roundcorners{
	width: 93%;
}

/* Siniestros Patrimoniales */
#contenido .interior #principal .siniestros.patrimoniales .bloqPest .listados-danios-vehiculo fieldset legend{
        font-size: 1.6em;
}
#principal .siniestros.patrimoniales .C70 .bloqPest ul li{
        margin-bottom: 0.2em;
    }
#contenido .interior #principal .siniestros.patrimoniales {
    .fila.causante {
		input[type="radio"],
		input[type="checkbox"],
		input[type="button"] {
			width: 18px !important;
			height: 18px !important;
		}
	}
	.bloqPest {
		.listados-danios-vehiculo fieldset, .fila.acepto {
			input[type="checkbox"] {
				width: 18px !important;
				height: 18px !important;
				margin-top: 0;
				border-radius: 0 !important;
			}
			legend.bloque-caja-tit {
				font-size: 1.7em !important;
			}
		}
		p.bloque-caja-tit {
			color: #000 !important;
			font-weight: bold !important;
			border-top: 1px solid #ccc;
			width: 100%;
			padding-top: 10px !important;
			position: relative;
			left: -13px;
		}
		.fila:first-child p.bloque-caja-tit{
			border-top: 0px;
		}
		.caja .fila input.sizeXS {
			width: 92px !important;
		}
		.caja .fila select.sizeXS{
			width: 92px !important;
		}
		.caja .fila select.sizeXL {
			width: 51% !important;
		}
		.caja .fila input.sizeXL {
			width: 51% !important;
		}
		.caja .fila select.sizeL{
			width: 37% !important;
		}
//		.caja .fila input.sizeL { 
//			width: 37% !important;
//		}
		input + input.disabled {
			margin-left: 1% !important;
		}
		.resumen {
			&.tab {
				@include box-sizing("border-box");
				&.mas {
					border-top: 1px dashed #ddd;
					margin-top: 0 !important;
					padding-top: 15px;
					+ .resumen {
						border-top: 1px dashed #ddd;
						margin-top: 0 !important;
						padding-top: 15px;
					}
				}
			}
			.mas-facturas {
				margin-left: 66px;
			}
		}
		#acNombreVia_list{
			width: 37%;
			left: 55%;
		}
		#acPoblacion_list{
			width: 46.7%;
		}
	}
}

.popup {
	.C610 .cabeceraModal h1 img{
		margin-left: 0;
	}
	.siniestros.patrimoniales {
		margin-left: 30px !important;
		.filaBotonTotal {
			padding: 1.5em;
			margin-top: -2em;
			margin-right: 0;
			ul {
				width: 100%;
				margin-top: 2em;
				margin-left: auto;
				margin-right: auto;
				text-align: center;
				li {
					width: 49.5%;
					margin-left: 1em;
					margin-right: 1em;
					display: inline;
					text-align: right;
					&:first-child {
						text-align: left;
					}
				}
			}
			&.cerrar {
				margin-top: 2em;
			}
		}
	}
	.llamamos{
		width: 96%;
		.interiorModal{
			height: 100%;
			overflow: hidden;
		}
		.C70{
			margin-bottom: 2.7em;
			display: inline-block;
			width: 100%;
			border: none;
			div.cajadestico{
				width: 100%;
				margin-left: 0;
				background: url(../img/bg-dest-ico.gif) #fff no-repeat left bottom;
				margin-bottom: 2em;
				border: 1px solid #eee;
				box-shadow: 1px 2px 2px #aaa;
				padding: 0;
				line-height: normal;
				display: block;	
				div:first-child{
					p{
						float: none;
						padding-left: 25%;
						margin-top: 0;
					}
				}
				.ico-info, .ico-error, .ico-x, .ico-message {
					padding:1em 4% 1em 14%;
					display:inline-block;
					position: relative;
					&:before {
						position: absolute;
						top: auto;
						left: 3em;
						width: 43px;
						height: 43px;
						content:"";
						background:url(../img/iconos.png) no-repeat;
					}
					p {
						font-weight: normal;
						font-size: 1.7em;
						line-height: 1.3em;
						padding-top: 0.5em;
					}
				}
				.ico-info:before{
					background-position: -129px 0px;
				}
				.ico-error:before{
					background-position: -172px 0px;
				}
				.ico-x:before{
					background-position: -258px 0px;
				}
				.ico-message:before{
					background-position: -301px 0px;
				}
			}
		}

		h1.title{
			margin-bottom: 1em;
			padding: 0 !important;
			border-bottom: 1px solid #D6D6D5;
			color: #dc291e;
			font-size: 2.5em;
			font-weight: normal;
			letter-spacing: -0.05em;
			line-height: 1em;
			background: none !important;
			span{
				padding-right: 5em;
			}
		}
		p.leyenda.lyndH1{
			margin-top: -3.3em !important;
			width: 96.5%;
			text-align: right;
			padding: 0.25em 0 0.5em 0.8em;
			font-size: 1.5em;
			border: none;
			font-weight: bold;
			float: left;
			span{
				margin-right: 0;
				color: #d81e05;
			}
		}
		form.caja{
			display: table;
			width: 100%;
//			margin-bottom: 3em;
.roundcorners{
	width: 92%;
	padding: 4%;
	position: relative;
	margin-bottom: 1.5em;
	border: 2px solid #fff;

	.fila{
		width: 100%;
		display: table; 	
		padding: 0.6em 0;
		label{
			font-size: 1.6em;
			font-weight: bold;
			line-height: 1.2em;
			width: 40%;
			float: left;
			text-align: right;
			padding: 0.2em 0.45em 0 0;
			margin: 0;
		}
		input[type="text"]{
			font-size: 1.6em;
			line-height: 1.2em;
			float: left;
			margin: 0 0 0.5em 0;
			background: #fff;
			border: 1px solid #ccc;
			height: 1.2em;
			padding: 3px 3px 1px 3px;
			width: 56%;
			border-radius: 1px;
			box-shadow: inset 2px 2px 7px 2px #ddd;
		}
		input[type="tel"]{
			font-size: 1.6em;
			line-height: 1.2em;
			float: left;
			margin: 0 0 0.5em 0;
			background: #fff;
			border: 1px solid #ccc;
			height: 1.2em;
			padding: 3px 3px 1px 3px;
			width: 56%;
			border-radius: 1px;
			box-shadow: inset 2px 2px 7px 2px #ddd;
		}
		span{
			font-size: 1.6em;
			line-height: 1.2em;
			float: left;
			padding: 0.3em 0.5em 0 0.5em;
			color: #333;
		}
		span.lynd{
			font-size: 1em;
			line-height: 0.75em;
			float: none;
			color: #d81e05;
			padding: 0;
			margin: 0;
		}	
		&.error{
			.error-message{

				float: left;
				font-size: 1.2em;
				font-weight: bold;
				color: #d81e05;
				width: 100%;
				text-align: center;
				padding-top: 6px;
			}
			input{
				border: 1px solid #d81e05;
			}
		}
		textarea{
			width: 57%;
			background: #fff;
			border: 1px solid #ccc;
			height: 7em;
			font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
			font-size: 1.6em;
			padding: 2px 3px;
			border-radius: 1px;
			box-shadow: inset 2px 2px 7px 2px #ddd;
			@include box-sizing("border-box");
		}
		.marcadorojo{
			color: #dc291e;
		}
		.radioahoramastarde{
			text-align: left;
			float: none;
			line-height: 1.6em !important;
			input{
				margin-top: -1px;
			}
		}					
	}
	#fechahora{
		display: none;
		.date{
			input{
				width: 2em;
				&#diaN_h {
					width: 1.5em;
				}
			}
			input#anyoN_h{
				width: 2.5em;
			}
			input[type="button"]{
				width: 38px;
				height: 34px !important;
				margin-left: 1em;
				border: none;
				background: url(../img/icos.png) no-repeat -200px 0;
				vertical-align: middle;
				cursor: pointer;
				text-indent: -100em;
			}
			.fecha {
				padding-left: 1px;
				padding-right: 6px;
			}
		}
	}
	.texto{
		margin: .5em 0 1em 0;
		display: table;
		width: 100%;
		input[type="checkbox"]{
			position: relative;
			top: 11px;
			margin-top: 0 !important;
			float: left;
			margin: 0.75em 0 0 0;
			height: auto;
			padding: 2px 3px;
			width: 5%;
			border: none;
			background: #fff !important;
			box-shadow: inset 0 0 0 0 #fff;

		}
		label{
			width: 90%;
			float: left;
			text-align: left;
			padding: 0.5em 0 0 0;
			margin: 0;
		}
	}
	.filaBoton{
		input.boton{
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			float: right;
			margin-top: 10px;
		}
	}
}
}
.horario{
	padding: 0 0 0.5em 0.8em;
	font-size: 1.5em;
	border: none;
	font-weight: bold;
	width: 100%;
	float: left;
}
.filaBotonTotal.cerrar{
	.boton{
		margin-bottom: 20px;
		margin-top: 10px;
	}
}
}	
}

#contenido .interior #principal .siniestros.patrimoniales{ 

	.caja{
		#codPostal, #localidad, #provincia, input#tipoVia, #calle, #numero{
			width: 70%;
		}
		label{
			width: 20%;
		}
		#importe-factura label{
			width: 40%;
		}
	}
	.bloqPest .caja .listados-danios-vehiculo {
		fieldset ul li label{
			width: 89%;
		}
		.ancho100 {
			input{
				width: 25%;
			}
			input#localidad{
				width: 25%;
			}
			label{
				width: 40%;
			}
			.fila {
				input + label {
					width: 15%;
				}
			}
		}
	}
	h3.cur{
		font-size: 20px !important;
	}
}
.siniestros.patrimoniales {
	.tab {
		padding-left: 2em !important; 
	}

	.visible-wp {
		display: none;
	}
	margin-left: 0 !important;
	textarea {
		overflow: auto;
		resize:none;
	}
	a[href^='tel'] {
		padding-bottom: 0 !important;
	}
	.break-all {
		word-break: break-all;
		margin: 0 !important;
	}
	.break-word {
		word-break: break-word;
		margin: 0 !important;
	}
	.break-wp{
		word-wrap: break-word;
	}
	.no-break-word{
		white-space: nowrap;
		margin: 0 !important;
	}
	.no-phone a {
		text-decoration: none;
		color: #333 !important;
	}
	.phone {
		line-height: normal !important;
		margin: 0 !important;
		white-space: nowrap;
		text-decoration: none;
		color: #333 !important;
	}
	.descargapdf{
		font-size: 1.6em;
		display: block;
		clear: both;
		line-height: 2em;
		margin-bottom: 1em;
		margin-left: 1.5em;
		word-break: break-all;
	}
	.bloqPest {
		p.obligatorio {
			font-weight: normal !important;
			margin-top: -49px !important;
		}
		p a {
			display: inline-block;
		}
		.capaAlerta .no-ico {
			padding-left: 4% !important;
			&:before {
				display: none;
			}
			p {
				width: 100% !important;
			}
		}
		.apps-smartphone .Opc-iph{
			width: 100%;
			ul {
				display: list-item !important;
				li{
					margin: 18px !important;
					max-width: none !important;
					.img-subtitle{
						width: 100%;
						height: 60px;
						text-align: center;
						p {
							width: 100% !important;
							padding: 0px!important;
							margin-right:0px!important;
						}
					}
					.vinculo-inf{
						width: 100%;
						text-align: center;
						p {
							width: 100%!important;
							padding: 0px!important;
							margin-right:0px!important;
							float: none!important;
						}
						.muestramovil{
							display: none;
						}
						.muestrapc{
							display: inline;
						}
					}
				}
			}
		} 
	}

	.caja {
		margin-bottom: 15px !important;
		label[for="danoCausados"] {
			width: auto !important;
		}
		h3{
			background: none !important;
		}
		.roundcorners{
			padding: 2% 4% !important;
			margin-bottom: 0.5em !important;
		}
		.causante {
			span {
				padding-left: 0 !important;
			}
			label {
				float: none !important;
				line-height: 1.9em !important;
				margin-left: 15px !important;
			}
			input {
				margin-top: -5px !important;
				margin-left: -1px !important;
				margin-bottom: 0 !important;
			}
		}
		.anadir {
			display: block;
			font-size: 1.5em;
			margin-top: .5em;
			margin-bottom: .5em;
			&:before{
				content: '+';
				float: left;
				position: relative;
				margin-right: .3em;
			}
		}
		.eliminar {
			position: absolute;
			right: 30px;
			top: 15px;
		}
		#bloque-tercero-perjudicado, #bloque-datos-perjudicado, #bloque-tercero-causante, #bloque-datos-causante, #reparado-no, #reparado-en-parte, #bloque-formulario, #importe-reparacion, #importe-reparacion-leyendinf, #bloque-datos-perjudicado-otro, #anadir-perjudicado, #bloque-datos-causante-otro, #anadir-causante {
			display: none;
		}
		.fila {
			input.disabled {
				padding-bottom: 4px !important;
				margin-top: -3px !important;
			}
			fieldset{
				min-height: auto !important;
				.estiloLista {
					background-color: #fff !important;
					width: 10px;
				}
				&.direccion {
					position: relative;
					.estiloLista {
						&#acNombreVia_list {
							left: 67%;
						}
						top: 29px !important;
						margin: 0 0 0 -2px !important;
					}
				}
			}
			input.euro-dcha-caja{
				margin-right: 5px !important;
			}
			.tamano-adjunto {
				display: block;
				float: none !important;
				font-style: italic;
				padding: 0 !important;
				line-height: 0 !important;
				margin-top: -15px;
			}
		}
		.desplegable {
			h3 {
				padding-left: 32px !important;
				font-size: 16px !important;
				color: #666 !important;
				line-height: 12.5px !important;
				margin-bottom: 0 !important;
			}
			.caja {
				border: none !important;
				box-shadow: none !important;
				background: transparent !important;
				padding-top: 0 !important;
				padding-bottom: 0 !important;
				margin-bottom: 0 !important;
				.fila {
					height: 52px;
					p {
						padding: 0 !important;
						margin: 0 !important;
						font-weight: bold !important;
						float: left !important;
					}
					a {
						float: right;
						position: relative;
						bottom: 15px;
					}
				}
			}
		}
		.filaBoton {
			margin-top: 0 !important;
		}
		.roundcorners.formdegree.objectshadowsmoth {
			.resumen {
				margin-top: 0.5em !important;
				padding-bottom: 0 !important;
				dt {
					width: auto !important;
					display: inline !important;
					text-align: left !important;
					padding-right: 4px;
					font-weight: bold !important;
				}
				dd {
					width: auto !important;
		    		// max-width: 70% !important;
		    		display: inline !important;
		    		text-align: left !important;
		    		padding-left: 0 !important;
		    		font-weight: normal !important;
		    	}
		    }
		    div.fila{
		    	padding-left: 0 !important;
		    }
		}

	}
	
	
	.botones {
		.boton {
			float: right;
		}
	}
	.ancho100 {
		width: 100% !important;
	}
	.datepicker {
		top: 30px;
	}
	.fila.botones input {
		width: auto !important;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
	}

	.tiposiniestromatriz{
		display: inline-block;
		padding-bottom: 40px;
		ul{
			width: 100%;
			text-align: justify;
			li{
				text-align: center;
				padding: 5px;
				width: 134px;
				display: inline-block;
				label{
					position: relative;
					display: inline-block;
					cursor: pointer;
					a .titulo {
						color: #333;
					}
					input[type=radio]{
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 1;
						visibility: hidden;
						border: none;
						outline: none;
					}
					.titulo{
						font-size: 1.5em;
						display: inline-block;
						margin-top: 5px;
						line-height: 1.2em;
						height: 36px;
					}
					.icon {
						width: 134px;
						display: inline-block;
						font-size: 6em;
						color: $color_mapfre;
						padding: 5px;
						@include box-sizing("border-box");
						&.selected {
							color: #ac0404;
							border: 2px solid #ac0404;
							margin: -2px;
						}
					}
					.asistencia-informatica {
						position: relative;
						display: block;
					}
					.ExtLinkIcon {
						position: absolute;
						top: 13px;
						right: 10px;
					}
					/*img{
						z-index: 2;
						position: relative;
						&.selected{
							border: 2px solid #d81e05;
							margin: -2px;
						}
						&.ExtLinkIcon {
							position:absolute;
							top:15px;
							right: 10px;
						}
					}*/
				}
				a.tooltiplink{
					font-size: 1.5em;
					display: block;
					margin-top: 5px;
					line-height: 1.5em;
					.tooltip {
						top: 2.2em !important;
						left: -4.3em !important;
						.ttarrow {
							border-top: none;
							border-bottom: 1em solid #333;
							top: -0.9em;
							left: 8.0455em;
						}
					}
					&.left {
						.tooltip {
							left: 0 !important;
							.ttarrow {
								left: 3.8em;
							}
						}
					}
					&.right {
						.tooltip {
							left: -9em !important;
							.ttarrow {
								left: 12.8em;
							}
						}
					}
					img#checkdanos13{
						margin-bottom: -3px !important;
					}
				}
			}
		}
		& + .botones.botonaceptar {
			overflow: hidden !important;
			.volver {
				margin-top: 10px !important;
				display: inline-block !important;
			}
		}
	}
}
table.fondos th{
	text-align: center;
}
div.suscripciones a{    
	float: right;
	font-size: 1.4em;
	margin-top: 0.7em;
}

#contenido .interior #principal .suscripciones form input.boton {
	float: none !important;
}

@media only screen and (max-width: 409px) {
	div.suscripciones{
		margin-top: 20px; 
		text-align: center;
		a{    
			float: none;
			display: block;
		}
	}
	#contenido .interior #principal .suscripciones form input.boton {
		margin-top: 20px !important;
	}
	#contenido .interior #principal .siniestros.patrimoniales .bloqPest p .descargapdf{
		margin-left: 0;
	}

}
@media only screen and (max-width: 540px) {
	.popup{
		.llamamos{
			form.caja{
				.roundcorners{
					.fila{
						label{
							width: 98%;
							text-align: left;
						}
						input[type="text"]{
							width: 98%;
						}
						input[type="tel"]{
							width: 98%;
						}
						textarea{
							width: 100%;
						}
						&.acepto{
							label{
								width: 95%;
							}
						}
					}
				}
			}
		}	
	}
}

@media only screen and (max-width: 767px) {
	body.pestTC.noscroll {
		position: fixed;
	}
	#contenido #contenidoInt.registro-online {
		.tarjeta-regalo {
			width: calc(100% - 32px);
			margin: 20px 0 0;
		}
	}
	#contenido .interior #principal .siniestros.patrimoniales {
		.fila.botones.botonaceptar input {
			width: auto !important;
		}
		input[type="radio"]{
			width: 16px !important;
			height: 16px !important;
		}
		.bloqPest .listados-danios-vehiculo fieldset {
			margin-bottom: 0 !important;
		}
		.caja div.filaBoton label#lblAcepto {
			width: 87% !important;
		}
	}
	#principal .siniestros.patrimoniales .bloqPest p.centrado-movil{
		text-align: center;
		margin: auto;
		margin-bottom: 7.5px;
		a.descargapdf{
			margin-top: 15px !important;
		}
	}
	.siniestros.patrimoniales .bloqPest .capaAlerta .no-ico p.cuadro-WP{
		width:260px !important;
	}

	.siniestros.patrimoniales {
        .bloqPest ul li{
            margin-bottom: 0.2em;
        }
		article.C70 {
			margin-bottom: 0 !important;
		}
		dt {
			width: 46% !important;
		}
		dd {
			width: 51% !important;
		}
		.listados-danios-vehiculo fieldset ul li label {
			width: 88% !important;
		}
		.hidemovil {
			display: none;
		}
		.caja {
			.ancho100{
				input{
					margin-bottom: 0 !important;
				}
			}
			.causante {
				:nth-child(2) {
					margin-left: 0 !important;
				}
			}
			#bloque-datos-causante, .listados-danios-vehiculo {
				fieldset .fila {
					padding-left: 0 !important;
				}
				.eliminar {
					right: 15px;
					top: 15px;
				}
				.volver {
					margin-bottom: 0 !important;
				}
			}
			.roundcorners div.fila{
				padding: 0.5em 0 !important;
			}
		}
	}

	div.suscripciones {  
		margin-top: 30px;
	}
	.C70.mt .tabla table tbody tr.mostrarmas[aria-expanded="true"]{
		display: table-row !important;
	}
}

@media only screen and (max-width: 1025px) and (min-width: 990px){
	#contenido .registro-online .interior #principal form.caja input[type="checkbox"]#acepto{
		margin-top: 0px;
		height: 16px !important;
		width: 16px !important;
		border-radius: 0px !important;
	}
}
@media only screen and (max-width: 1180px) and (min-width: 900px){
	#principal .llamamos .caja .fila.error .error-message.calendario{
		top: 0.4em;
	}
}

@media only screen and (max-width: 991px) {
	header{
		&.pestTC {
			#headerInt {
				nav{
					&.CL94{
						ul{
							top: 0;
						}
					}
				}
			}
		}
	}
	#contenido{
		#contenidoInt{
			.wrapNav{
				.CL95{
					margin-top: -7px !important;
				}
			}
		}
	}
	#contenido .registro-online .interior #principal form.caja input[type="checkbox"]#acepto{
		margin-top: 0px;
		height: 18px !important;
		width: 18px !important;
	}

	#contenido .interior #principal .siniestros.patrimoniales .caja div.filaBoton div.acepto input[type="checkbox"]#acepto {
		margin-top: 0 !important;
		width: 18px !important;
		border-radius: 0 !important;
		&.iphone {
			margin-top: 1px !important;
		}
	}
	
	#contenido #principal .siniestros.patrimoniales .capaAlerta .cajadestico div:first-child.no-ico {
		padding-left: 4% !important;
	}
	.siniestros.patrimoniales {
		.listados-danios-vehiculo fieldset ul li label {
			width: 87% !important;
		}
		.capaAlerta .cajadestico div:first-child {
			padding: 2em 4% 2em 18% !important;
		}
		.caja {
			.acepto {
				#acepto {
					margin-top: 0 !important;
				}
			}
			
			.causante{
				span {
					width: 100%;
					padding-bottom: 15px !important;
				}
			} 
		}
	}
	#principal .llamamos .caja .fila.error{
		&.acepto{
			.error-message{
				width: 30%;
				top: 1.3em;
			}
		}
		.error-message.calendario{
			width: 10%;
		}
	}
	
}
@media only screen and (max-width: 991px) and (min-width: 768px) {
	#contenido div#contenidoInt.atencionCliente.registro-online,
	#contenido div#contenidoInt.registro-online > .C360:first-child {
		margin-top: 0 !important;
	}

	.pestTC.logado{

		#headerInt {
			top: -35px;
			.group{
				.logo {
					img {
						width: 180px;
					}
				}
				.tcpa{
					left: 188px;
					img {
						width: 115px;
					}
				}
			}
			.CL96{
				&.frt{
					h1{
						top: 45px;
					}
				}
			}
		}
		#contenido {
			#contenidoInt {
				.wrapNav {
					margin-top: -3em;
					.CL95{
						float: none;
						display: inline-block;
						width: 100%;
						@include box-sizing("border-box");

					}
				}
			}
		}
		.user-bubble{
			max-width: 50%;
		}
	}


}

@media only screen and (min-width: 768px) {
	body, body.home {
		background:url("../img/bg_body.png") repeat-x 0 -77px;
		background-color: #fff;
	}

	#headerInt.total .group .reg-online + .CL96 {
		padding-bottom: 3px;
		.title, h1 {
			font-size: 2.5em;
			position: relative;
			right: 82px;
			top: -17px;
			height: 29px;
			display: inline-block;
		}
	}

	/* cabecera tooltip usuario */
	header.pestTC{
		height: 12.1em;
		#headerInt{
			position: relative;
			.CL91{
				display: none;
			}
			.CL94{
				&.cl{
					margin-top: 40px;
				}
			}
		}
		.CL93{
			.total{
				position: relative;
			}
		}
		#opcionesul{
			@include box-sizing("border-box");
			height: 35px;
			padding-top: 13px;
			position: relative;
			z-index: 10;
			.messages{
				margin-left: 1em;
				margin-right: 1em;
				margin-top: -3px;
				a{
					display: inline-block;
					height: 16px;
					padding: 0;
					position: relative;
					width: 26px;
				}
				.pixel{
					background-position: 0 0;
					background: url(../img/envelope-red.png) no-repeat;
					height: 16px;
					left: 0;
					margin: 0;
					width: 26px;
				}
				.num{
					background: #fff;
					border-radius: 50%;
					border: 2px solid #d81e05;
					color: #d81e05;
					font-size: 9.5px;
					font-weight: bold;
					padding: 2px;
					position: absolute;
					right: -7px;
					top: -8px;
				}
			}
		}
		.user-bubble{
			background: #fff;
			border-radius: 10px;
			padding: .9em;
			position: absolute;
			right: 305px;
			z-index: 50;

			-webkit-box-shadow: 0 3px 5px -3px #c1c1c1;
			box-shadow: 0 3px 5px -3px #c1c1c1;
			&:before{
				content: '';
				width: 0;
				height: 0;
				display: inline-block;
				position: absolute;
				right: -29px;
				border-color: transparent;
				border-left-color: #fff;
				border-width: 15px;
				border-style: solid;
				top: 10px;
			}

			span{
				color: #2f2f2f;
				font-size: 16px;
				font-weight: bold;
				line-height: 21px;
				display: block;
				&.nombre{
					color: #5f5f5f;
					font-size: 14px;
					line-height: 21px;
					text-transform: uppercase;
				}
				&.acceso{
					color: #333333;
					font-size: 12px;
					line-height: 15px;
					font-weight: normal;
					span{
						display: inline-block;
						font-size: 12px;
						line-height: 15px;
						font-weight: normal;
					}
				}
			}
		}
	}
	#contenido{
		#contenidoInt{
			.wrapNav{
				.CL95{
					margin-top: -5px;
				}
			}
		}
	}
	/* fin  cabecera tooltip usuario */
	
}
@media only screen and (max-width: 767px){
	.user-bubble{
		display: none !important;
	}
	.siniestros.patrimoniales {
		.bloqPest .apps-smartphone .Opc-iph .vinculo-inf{ 
			.muestrapc {
				display: none !important
			}
			.muestramovil {
				display: block !important;
			}
		}
		.centrado_movil {
			width: 100% !important;
			text-align: center !important;
			& + p {
				width: 100% !important;
			}
		}
		.caja .fila {
			fieldset{
				.estiloLista {
					&#acNombreVia_list {
						left: 62.8% !important;
					}
				}
			}
		}
	}
	body.pestTC #sb-container #sb-wrapper {
		left: 12.5% !important;
		width: 75% !important;
	}
}

@media only screen and (max-width: 720px){
	.popup .siniestros.patrimoniales {
		margin-left: 5% !important;
		.filaBotonTotal {
			ul li {
				width: 11em;
				display: inline;
				margin-top: 1em;
				text-align: center !important;
			}
		}
	}
	.siniestros.patrimoniales {
		.estiloLista {
			left: 36.7% !important;
		}
	}
}
@media only screen and (max-width: 535px){
	#contenido {
		.interior {
			#principal {
				.siniestros{
					&.patrimoniales {
						.bloqPest{
							.caja .fila{
								select.sizeXS{
									width: 100% !important;
								}
								select.sizeL{
									width: 100% !important;
								}
								input.sizeXL{
									width: 100% !important;
								}
								input.sizeL{
									width: 100% !important;
								}
							}
						}
						.caja {
							.date {
								input[type='tel']{
									.W2em {
										width: 2em !important;
									}
									.W3em {
										width: 3em !important;
									}
								}
							}
							.fila input + input.disabled { 
								margin-left: 0 !important;
							}
							.fila {
								fieldset{
									&.direccion {
										.estiloLista {
											left: 2px !important;
											width: 99.8% !important;
											&.wp {
												margin-left: -2px !important;
												width: 99.5% !important;
											}
										}
									}
									.estiloLista {
										left: 5.6% !important;
										width: 90%;
										&.wp {
											margin-left: 0px !important;
											width: 90%;
										}
										&#acDireccion_list {
											top: 59px !important;
										}
										&#acNombreVia_list {
											top: 97px !important;
										}
									}
									input.euro-dcha-caja{
										width: 85% !important;
										&+p{
											width: 95%;
											line-height: 30px;
										}
									}
								}
							}
						}
					}
				}
			}
		}
		#contenidoInt {
			.interior #principal .llamamos{
				.fila input[type="date"]{
					font-size: 1.6em;    
					margin: 0 0 .5em 0;
					border: 1px solid #ccc;
					height: 1.2em;
					padding: 3px 3px 1px 3px;
					width: 50%;
					border-radius: 1px;
					box-shadow: inset 2px 2px 7px 2px #ddd;
				}
				.fila input[type="time"]{
					font-size: 1.6em;    
					margin: 0 0 .5em 0;
					border: 1px solid #ccc;
					height: 1.2em;
					padding: 3px 3px 1px 3px;
					width: 50%;
					border-radius: 1px;
					box-shadow: inset 2px 2px 7px 2px #ddd;
				}
			}
			&.registro-online {
				.imagen, .texto {
					float: none !important;
					width: 100% !important;
					text-align: center;
				}
				.imagen {
					padding-bottom: 10px;
				}
			}
		}
	}
}
@media only screen and (max-width: 480px){
	body{
		&.home{
			header{
				&.C400{
					min-height: 9em;

				}
			}
		}
		&.pestTC #sb-container #sb-wrapper {
			left: 0 !important;
			width: 100% !important;
		}
	}
	#contenido .interior #principal .siniestros.patrimoniales .caja .date {
		input[type='tel'][id^='diaN'].W2em {
			width: 2em !important;
		}
		input[type='tel'][id^='mesN'].W2em {
			width: 2.5em !important;
		}
		input[type='tel'][id^='anyoN'].W3em {
			width: 3em !important;
		}
	}
	#contenido .interior #principal .llamamos .caja .date {
		input[type='tel'][id^='diaN'].W2em {
			width: 2em !important;
		}
		input[type='tel'][id^='mesN'].W2em {
			width: 2.5em !important;
		}
		input[type='tel'][id^='anyoN'].W3em {
			width: 3em !important;
		}
	}
	#contenido .interior #principal .siniestros.patrimoniales .bloqPest .documentos-seleccionados{
		padding-left: 0 !important;
		padding-right: 0 !important;

		span{
			vertical-align: middle !important;
			max-width: 170px !important;
		}
		.fila{
			margin-right: 0;
		}
		img.icono-doc-movil{
			width: 25px;
			height: 30px;
				/*content: url('../img/clip.png');*/
			}
		}
		.siniestros.patrimoniales {
			.datepicker {
				top: 65px !important;
			}
			.causante{
				strong {
					position: relative;
				}
				span.lynd {
					position: absolute;
					bottom: -13px !important;
					right: -5px !important;
				}
			}
			.listados-danios-vehiculo {
				p.error-message {
					width: 100% !important;
				}
			}
		}
	}
	@media only screen and (max-width: 580px){
		#contenido .interior #principal .siniestros.patrimoniales{
			.bloqPest .apps-smartphone .Opc-iph ul li{
				width: 36% !important;;
				div {
					width: 100%;
					text-align: center;
					img{
						float: none;
					}
				}
				.vinculo-inf{
					height: 10px !important;
				}
			}
			.tiposiniestromatriz li {
				padding: 5px 0;
			}
			.caja div.roundcorners.accordion.desplegable .caja.f0{
				padding-left: 6%;
			}
		}
		.morningStar{
			#MasterMiddle{
				#MainDiv {
					.container{
						width: 100%;
						margin-left: 0;
						float: none;
					}
				}
			}
		}
	}
	div.suscripciones { margin-bottom: 3em; height: 100%; overflow: hidden; }

	@media only screen and (min-width: 1181px){
		#contenido .interior #principal .siniestros.patrimoniales .caja .label-importerep {
			width: 300px !important;
			padding-left: 90px !important;
		}
	}


	@media only screen and (max-width: 1180px) and (min-width: 900px){ 
		#contenido .interior #principal .siniestros.patrimoniales .caja .label-importerep {
			width: auto !important;
			padding-left: 5% !important;
		}
	}
	@media only screen and (max-width: 900px) and (min-width: 768px){
		#contenido .interior #principal .siniestros.patrimoniales .caja .label-importerep {
			width: auto !important;
			padding-left: 0 !important;
		}
		#contenido .interior #principal .siniestros.patrimoniales .caja .fila input.euro-dcha-caja { width:auto !important;}
	}
	@media only screen and (max-width: 767px){
		#contenido .interior #principal .siniestros.patrimoniales .caja .label-importerep {
			width: auto !important;
			padding-left: 0 !important;
			margin-bottom: .5em;
		}
		#contenido .interior #principal .siniestros.patrimoniales .caja .fila input.euro-dcha-caja {
			width:90% !important;
			display: inline-block !important;
			float: left !important;
			& + span {
				float: left !important;
			}
		}
		#contenido .interior #principal .caja div.fila span.lynd { margin-left:0 !important;}
	}

	@media only screen and (max-width: 1030px) and (min-width: 500px){
		#contenido .interior #principal .siniestros.patrimoniales .caja .fila{
			fieldset{
				min-height: 20px !important;
			}
			input.euro-dcha-caja{
				width: auto;
			}
		}
	}
	#contenido .interior #principal .caja {
		margin-bottom: 0em !important;
	}

	@media only screen and (min-width: 320px) and (max-width: 480px){
		#contenido .interior #principal .siniestros.patrimoniales .bloqPest .documentos-seleccionados{
			a{
				float: right;
			}
			span{
				padding-left: 5px !important;
				max-width: 70% !important;
			}
			img{
				vertical-align: top !important;
			}
		}
	}
	@media only screen and (max-width: 440px){
		#contenido .interior #principal .siniestros.patrimoniales .caja div.roundcorners.accordion.desplegable .caja.f0{
			padding-left: 8%;
		}
	}

	.roundcorners{
		.banner{
			width: 100%;
			margin-bottom: 2.7em;
			.parrafo{
				height: 30px;
				background-color: #6c6c6c;
				width: 100%;
				display: table;
				p{
					font-size: 1.3em;
					color:white;
					padding-bottom: 0 !important;
					padding-top: 8px !important;
				}						
			}
			.siteimage{
				height:98px;
				width: 100%;
				background: url('../img/banner.png') 0 0;
				display: table;
				a{
					display: table-cell;
					vertical-align: middle;
					div{
						float:right;
						margin-right:1em;
						height: 59px;
						background: #d81e05;
						border-width: 0px;
						width: 129px;
						color:white;
						text-align: center !important;
						.text{
							font-size: 1.3em !important;
							font-weight: bold !important;
							padding:22px 0px 0px 0px !important;
							width: 100% !important;
						}
					}
				}

			}
		}

	}

/*Estilo popup*/
.modal-shadow {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
}

.modal-shadow .modal-box {
	background-color: #FFF; 
	width: 100%;
	height: 100%;
	border-radius: 5px;
	position: fixed;
	box-sizing: border-box;
	z-index: 10;
	padding-top: 5%; 
}
.modal-shadow .modal-box h3 {
	font-style: italic;
	color: #d81e05;
	text-align: center;
	font-size: 32px;
	margin: 15px 0;
}

.modal-shadow .modal-box p {
	color: #656565;
	font-size: 18px;
	margin: 5px 0;
}


.box-button {
	margin: 30px 0; 
}
.box-button a{
	text-decoration: none;
	display: block;
	margin: auto;
	margin-top: 20px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 18px;
	border: 0;
	cursor: pointer;
	border-radius: 10px;

}
.box-button button{
	display: block;
	margin: auto;
	margin-top: 20px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 18px;
	border: 0;
	cursor: pointer;
	border-radius: 10px;

}

.box-button .aceptar {
	width: 62px;
	background-color: #d81e05;
	color: #fff;
}
.box-button .aceptar:hover{
	background-color: #ad1501;
}
.box-button .cancelar {
	background-color: transparent;
	color:#d81e05;
	font-size: 16px;
}
.box-button .cancelar:hover {
	text-decoration: underline;
}
/* SÃ³lo para IE9 */
@media all and (min-width:0\0) and (min-resolution:.001dpcm) {
/*    .modal-shadow .modal-box {
        min-width: inherit;
        top: 0;
        left: 0;
    }*/
    .box-button button{
    	width: 300px;
    } 
}
/* SÃ³lo para IE8 */
@media \0screen {
	.box-button button{
		width: 300px;
	}

}
@media (max-width: 480px) {
	.modal-shadow .modal-box h3 {
		font-size: 22px;
	}
	.modal-shadow .modal-box {
		min-width: 100%;
		width: 100%;
	}
	.box-button {
		margin:30px 0;
	}
	.modal-shadow .modal-box p {
		font-size: 14px;
	}
	.box-button button{
		margin-top: 10px;
		padding: 5px 20px;
		width: auto;
		font-size: 14px;
	}
}
