.generica {
	#lateral {
		float:left;

	}
	#principal {
		float:right;
		h2 {
			margin-bottom:0;
			padding-left:.6em;
			font-size:2.1em;
			border:none;
		}
		.info {
			padding:0 0 0 .8em;
			font-size:1.8em;
			font-weight:bold;
			background:url("../img/bck_title.png") no-repeat 0 .3em;
		}
		
	}
}

#contenido .interior #principal {
	.C70 {
		margin-bottom:2.7em;
		h2 {
			color:#333;
			min-height:2em;
			line-height:2em;
			span {
				padding:0 0 1em;
				background-color:transparent;
			}
			font-weight: normal;
		}
		a {
			font-size:1em;
		}
		.tabla {
			margin-bottom:1em;
		}
		.pixel {
			display:inline-block;
			background:url(../img/icos.png) no-repeat -745px 0;
			margin:0 .5em -.75em 0;
			width:44px;
			height:23px;
			vertical-align:text-top;
		}

		&#hogar .pixel {
			width:24px;
			height:23px;
			background-position: -836px 0;
		}
		&#vida .pixel {
			width:24px;
			height:23px;
			background-position: -801px 0;
		}
		&#inversion .pixel {
			width:33px;
			height:32px;
			background-position: -563px -54px;
		}
		&#otros .pixel {
			width:33px;
			height:32px;
			background-position: -487px -54px;
		}
		&#salud04 .pixel {
			width:30px;
			height:32px;
			background-position: -523px -54px;
		}
		&#tc .pixel {
			width:65px;
			height:20px;
			background-position: -638px -53px;
		}
		&#pension .pixel {
			width:33px;
			height:32px;
			background-position: -603px -50px;
		}
		&#accidentes .pixel {
			width:20px;
			height:30px;
			background-position: -720px -47px;
		}
	}
	
	.tableMobile {
		label, input[type="text"] {
			float:none;
		}
	}
	.caja {
		label, input[type="text"] {
			width:auto;
			padding:0;
			font-size:1em;
			font-weight:normal;
		}
	}
}

.filaBoton {
	padding-top:1.5em;
	border-top:1px solid #d6d6d5;
}




@media only screen and (max-width: 991px) {
	#lateral { display:none }
}

@media only screen and (max-width: 767px){

	.interior {
		#principal {
			position: static;
		}
	}

}

@media only screen and (max-width: 480px) {


}
