#principal {
		float:right;
		h2 {
			margin-bottom:0;
			padding-left:.6em;
			font-size:2.1em;
			border:none;
		}
		p {
			padding:.25em 0 .5em .8em; 
			font-size:1.5em;
			border: none;
			font-weight: bold;
			width:100%;
			float: left;
			span{
				margin-right:.5em;
				font-weight: normal;
				line-height: 1.5em;
			}
			&.fnn {
				float:none;
			}
		}
		.solicitudReembolso, .autorizacion-sanitaria, .siniestros {
			p{
				&.error-message{
					clear: both;
					color: #d81e05;
					text-align: center;
				}
			}
			.C70 {
				border: none;
				th {
					&.w50 {
						width: 50%;
					}
				}
				#contenido .interior  & div.cajadestico {
					width: 100%;
					margin-left: 0;
					.ico-info, .ico-error{
						padding-bottom: 1em;
						&:before {
							top: auto;
						}
						p {
							font-size: 1.5em;
						}
						li {
							a {
								font-size: 1em;
								margin-top: 0;
							}
						}
					}
					a {
						font-size: 1.5em;
						margin-top: 1em;
						display: inline-block;
					}
				}
				.bloqPest{
					ul {
						font-size: 1.5em;
						margin-left: 1em;
						padding-top: .5em;
						li {
							position: relative;
							line-height: 1.2em;
							margin-bottom: 1em;
							&:before{
								content: '\2022';
								color: #dc291e;
								position: absolute;
								top: -0.05em;
								left: -0.75em;
								font-size: 1.5em;
							}
						}
						ul {
							font-size: 100%;
							li {
								margin-bottom: 0;
								&:before{
									content: "-";
									color: #000000;
									font-size: 1em;
								}
							}
						}
					}
					article {
						border: 1px solid #ededed;
						padding: 15px;
					}
					.botonera {
						margin-top: 5em;
						text-align: right;
					}
					#contenido .interior & .descargapdf {
						font-size: 1.6em;
						display: block;
						clear: both;
						line-height: 2em;
						margin-bottom: 1em;
						margin-left: .5em;
					}
					header.encabezado {
						@include border-radius(10px 10px 0 0);
						border: 1px solid #eee;
					}
					div.tabla {
						@include border-radius(0 0 10px 10px);
						border: 1px solid #eee;
						float: none;
					}
					#contenido .interior & .fila{
						a {
							font-size: 1.5em;
							&.boton {
								margin-top: .2em;
							}
						}
						&.acepto{
							a{
								font-size: 1em;
							}
						}
					}
					header {
						&.encabezado {
							h2 {
								font-size: 1.5em;
								margin-top: .5em;
								margin-bottom: .5em;
								#contenido .interior & span {
									padding-left: 5px;
								}
							}
						}
					}
					.tabla {
						margin-bottom: 0;
						width: 98.5%;
						table {
							width: 98%;
							margin: 0 auto 1.5em auto;
						}
					}
					#contenido .interior & .boton {
						&.shadow {
							margin-bottom: 0;
						}
					}

				}
			}
			p {
				float: none;
				padding-left: 0;
				font-weight: normal;
			}
			h2 {
				clear: both;
				line-height: 1em;
				margin: 1em 0;
				padding: 0;
			}
			#contenido .interior & {
				.resumen {
					line-height: 1.2em;
					margin-top: 0;
					padding-bottom: 1em;
					margin-left: 0;
					.separado {
						margin-top: 1.5em;
					}
					li:before{
						content:"";
					}
				}
				.divCheckCuentaDiferente {
					label {
						font-weight: normal;
						width: 90%;
						float: none;
						text-align: left;
						padding-top: 0;
						vertical-align: top;
						display: inline-block;
					}
				}
			}
			#contenido .interior & #divCuentaDiferente {
				.leyenda {
					margin-top: 0;
				}
			}
			.bloqPest {
				fieldset.roundcorners.formdegree.objectshadowsmoth {
					&+div.cajadestico.roundcorners.objectshadowsmoth{
						margin-top: 3em;
					}
				}
			}
			#contenido .interior & #nuevaCuenta {
				label {
					font-weight: normal;
					width: 100%;
					vertical-align: middle;
					float: none;
				}
			}
			.cajadestico {
				display: block;
				margin-top: 2em;
				margin-bottom: 2em;
			}
			.resumen {
				display: inline-block;
				width: 100%;
			}
		}
		#contenido .interior  & .siniestros{
			.fila.error{
				p{
					&.error-message{
						padding-top: 0;
					}
				}
			}
			.C70 {
				div{
					&.cajadestico{
						.ico-error{
							p{
								padding-top: 0;
								margin-bottom: 0;
							}
						}
					}
				}
			}
			.vistas{
				.menu-tabs{
					margin-top: 1em;
				}
			}

		}
		.autorizacion-sanitaria{
			.C70{
				#contenido .interior & div{
					&.cajadestico{
						a{
							font-size: 1em;
							margin-top: 0;
                            display: inline;
						}
					}
				}
			}
		}
		.datepicker{
			right: 0;
		}
		
	}
#contenido .interior #principal {
	.C70 {
		margin-bottom:2.7em;
		display: inline-block;
		width: 100%;
		h2 {
			color:#333;
			min-height:2em;
			line-height:2em;
			span {
				padding:0 0 1em;
				background-color:transparent;
			}
			font-weight: normal;
		}
		.info{
			float: left;
			width:67%;
		}
		a {
			font-size:1em;
		}
		.enlaceAccion{
			float: right;
			font-size: 1.4em;
			margin-top: -1.6em;
			margin-right: 1.25em;

		}
		.filaBoton {
			padding:.5em 1.5em 1.5em 1.5em;
			margin-top: -4em;
			float: right;
			clear: both;
		}
		.filaBotonTotal .boton {
			float:none !important;
			width: 80%;
			margin-left: 10%;
			white-space: normal;
			text-align: left;

		}
		.filaBoton input.boton {
			white-space: normal;
			
		}
		p.bono {
			margin-top: 0.5em;
		}
		p.bono a:before {
			background: url(../img/icos.png) no-repeat -332px -51px;
			width: 22px;
			height: 33px;
			padding-left: 1em;
			display: block;
			float: left;
			content: "";
			margin-top: -1em;
			margin-right: 0.5em;
		}
		div.cajadestico{
			background:url(../img/bg-dest-ico.gif) #fff no-repeat left bottom;
			margin-bottom: 2em;
			border: 1px solid #eee;
			box-shadow: 1px 2px 2px #aaa;
			
			margin-left: 2em;
			padding: 0;
			.ico-info, .ico-error {
				padding:1em 4% 1em 14%;
				display:inline-block;
				position: relative;
				&:before {
					position: absolute;
					top: auto;
					left: 3em;
					width: 43px;
					height: 43px;
					content:"";
					background:url(../img/iconos.png) no-repeat;
				}
				p {
					font-weight: normal;
					font-size: 1.7em;
					line-height: 1.3em;
					padding-top: .5em;
				}
				.primero{}

			}
			.ico-x, .ico-message {
				padding:2em 4% 3em 14%;
				display:inline-block;
				position: relative;
				&:before {
					position: absolute;
					top: auto;
					left: 3em;
					width: 43px;
					height: 43px;
					content:"";
					background:url(../img/iconos.png) no-repeat;
				}
				p {
					font-weight: normal;
					font-size: 1.5em;
					line-height: 1.3em;
					padding-top: .5em;
				}
			}
			.ico-info:before{
				background-position: -129px 0px;
			}
			.ico-error:before{
				background-position: -172px 0px;
			}
			.ico-x:before{
				background-position: -258px 0px;
			}
			.ico-message:before{
				background-position: -301px 0px;
			}

			+ .filaBoton{
				margin-top: -6.5em;
			}
		}
	}
	.bloqPest .cajadestico{
			background:url(../img/bg-dest-ico.gif) #fff no-repeat left bottom;
			margin-bottom: 2em;
			border: 1px solid #eee;
			box-shadow: 1px 2px 2px #aaa;
			padding: 0;
		.ico-alert {
			display: inline-block;
			padding: 2em 4% 3em 14%;
			position: relative;
			&:before {
				position: absolute;
				top: auto;
				left: 3em;
				width: 43px;
				height: 43px;
				content: "";
				background: url(../img/iconos.png) no-repeat -43px 0;
			}
			
			ul {
				clear:both;
				list-style:disc;
				font-size: 1.5em;
				margin-left: 2em;
				margin-bottom: 1em;
				li{
					line-height:1.5em;
				}
			}
			p {
				font-weight: normal;
				padding-bottom: 0;
				padding-top: .5em;
				
				&+p {
					padding-top: 0;
				}
			}

		}
	}
	.filaBoton.vidaColectivos {
		float: right;
		margin-top: -4.5em;
	}
	.enlaceAccion.fondoInversion{
		float:right;
		font-size: 1.4em;
		margin-top: -2.5em;
	}
	.filaBoton.fondoInversion {
		float:right;
	}
	.filaBoton.consultaRecibo {
		float: right;
		margin-top: -3em;
	}
	#duplicadoFiscal, #posicionTrimestral {
		margin-bottom: 2em;
		input.boton {
			float: left !important;
			margin-top: -0.4em !important;
		}
		select {
			margin-left: 1em;
			margin-right: 1em;
			margin-bottom: 1em;
		}
		.roundcorners {
			padding-bottom:5em;
		}
		a.descargapdf{
			font-size: 1.6em;
			display: block;
			clear: both;
			line-height: 2em;
			margin-bottom:0em;
		}
	}
    .patrimoniales{
        .bloqPest .no-form{margin: 0;}
    }
	.bloqPest {
		a.descargapdf {
			&:before{
				background: url(../img/icos.png) no-repeat -332px -51px;
				width: 12px;
				height: 33px;
				padding-left: 1em;
				display: block;
				float: left;
				content: "";
				margin-right: 0.5em;
			}
		}
		.ico-alert.fondosInversion {
			p {
			}
		}
		&.recibos{
			dl.resumen dd a {
				float:right;
				margin-right: 3em;
				&.fnn{
					float: none;
				}
			}
		}
		&.talleres, &.cuadromedico{
			article {
				clear: both;
				img {
					float: left;
					margin-right: 1em;
					border: 1px solid #ededed;
				}
				div{
					width: 75%;
					float: left;
					p {
						font-weight: normal;
					}
					&.ico-info{
						display: inline-block;
						padding: 2em 4% 3em 16%;
						position: relative;
						&:before {
							position: absolute;
							top: auto;
							left: 3em;
							width: 43px;
							height: 43px;
							content: "";
							background: url(../img/iconos.png) no-repeat -129px 0;
						}
						p {
							padding-top: .5em;
							&+p {
								padding-top: 0;
							}
						}
					}
				}
				a {
					padding-left: 0.8em;
					font-size:1.5em;
					&:after{
						background:url(../img/consulta.png) no-repeat right;
						content:"";
						padding-right: 2em;
						padding-bottom: 1em;
						padding-top:1.5em;
					}
				}
				.cajadestico {
					width: 100%;
					margin-left: 1em;
				}
				&>p {
					margin-bottom: 0em;
					padding-bottom: 0.3em;
					padding-left: 0;
					margin-top: 1em;
				}

			}
		}
		&.talleres {
			article {
				&>p {
					font-weight: bold;
				}
			}
		}
		&.cuadromedico {
			article{
				border-radius: 10px;
				border: 1px solid #ededed;
				padding:  5em;
				display:inline-block;
				margin-bottom: 2em;
			}
		}
		&.redoficinas {
			img {
					float: left;
					margin-right: 1em;
					border: 1px solid #ededed;
					margin-left: 5em;
					margin-top: 1em;
			}
			div {
				float: left;
				label {
					font-size: 1.5em;
					padding-left: 0.8em;
				}
				form {
					input[type="button"] {

					}
					div {
						float: none;
						padding-left: 0.9em;
						margin-top: 2em;
					}
				}
			}
			article {
				border: 1px solid #ededed;
				padding: 5em 0 5em 0;
				display: inline-block;
				border-radius: 10px;
				margin-bottom:2em;
				width: 100%;
			}

		}
		&.ofertas {
			padding-left: 4em;
			padding-top: 1em;
			display: inline-block;
			margin-bottom: 3em;
			img {
				float: left;
				margin-right: 1em;
				margin-bottom: 20px;
			}
			article{
				div {
					width: 72%;
					float: left;
					p {
						font-weight: normal;
						padding-left: 0;
						&.titulo {
							color: #dc291e;
							font-weight: bold;
							width: 100%;
							border-bottom: 1px dotted black;
						}
					}
				}
				img {
					clear: both;
				}
			}
			.bannerPrincipal {
				background: url(../img/bgBannerPrincipal.jpg) no-repeat top left;
				padding-left: 22em;
				width: 68%;
				ul {
					li {
						font-size: 1.5em;
						padding-bottom: 1em;
						padding-left: 1.5em;
						font-weight: bold;
						color: #555555;
						line-height: 1.2em;
						&.down {
							background: url(../img/flechDown.gif) no-repeat left .2em;
						}
						&.up {
							background: url(../img/flechUp.gif) no-repeat left .2em;
						}
					}
					&.secundario {
						list-style-type: none;
						color: #D31010;
						font-size: .9em;
						font-weight: bold;
						padding-left: 4.5em;
						li {
							padding-bottom: .5em;
							padding-left: .8em;
							background: url(../img/bgFlecha.gif) no-repeat left .3em;
							font-size: 1.2em;
						}
					}

				}
				h3[role="heading"]{
					background: none;
					margin-bottom: .5em;
					padding-top: 1.5em;
					color: #000000;
				}
				.botones {
					float: right;
					margin-top: -3em;
					margin-right: 1em;
				}
					
			}
		}
		&.rentingCoches {
			p {
				float: none;
				font-weight: normal;
			}
			.banner {
				width: 100%;
				margin-bottom: 1em;
			}

		}
		.modificarCuenta{
			margin-top: -2.5em;
			z-index: 100;
			position: relative;
		}

	
		.apps-smartphone {
			width: 100%;
			margin-bottom: 2em;
			p{
				padding-left: 0;
			}
			.Opc-iph {
				display: inline-block;
				clear: both;
				margin-top: 1em;
				ul {
					margin:0;
					display: inline-block;
					padding-left: 0;
					li{
						margin:0;
						font-size: 1em;
						display: inline-block;
						float: left;
						max-width: 19.5%;
						&:before{
							content: none;
						}
						p {
							font-size: 1.5em;
							padding-left: 0;
							width: 90%;
						}
						img{
							max-width: 100%;
						}

					}
				}
			}
			.des-apli{
				display: inline-block;
				clear: both;
				margin-bottom: 2em;
				h4{
					background: #f0f0f0;
					font-size: 2em;
					font-weight: bold;
					line-height: 1em;
					margin-bottom: 1em;
					padding: .5em;
				}
				&>div{
					border: 1px solid #000;
					float: left;
					padding: .2em;
					width: 47%;
					max-width: 364px;
					margin: 0 .5em 1em .7em;
					&:nth-child(2n){
						clear: left;
					}
				}
				h5{
					color: #fff;
					font-size: 1.5em;
					padding: 1em 0 1em 1em;
					span{
						display: block;
						padding-top: .2em
					}
				}
				ol{
					font-size: 1.5em;
					padding-left: 40px;
					margin-bottom: 1.5em;
					li{
						margin-top: .5em;
						line-height: 1em;
						font-weight: bold;
						a{
							font-weight: normal;
						}
					}
				}
				p{
					font-weight: bold;
					padding-left: 4%;
					width: 96%;
				}
				.ios{
					background: url("../img/bg-ios.gif") no-repeat scroll right transparent;
				}
				.andro{
					background: url("../img/bgandr.gif") no-repeat scroll right transparent;
				}
				.BB{
					background: url("../img/bgBB.gif") no-repeat scroll right transparent;
				}
				.bidi, .bidi-1{
					text-align: center;
				}
				.bidi{
					margin-bottom: 1px;
				}
				.bidi-1{
					display: inline-block;
					padding-bottom: 2em;
					padding-top: 1em;
					width: 100%;
				}
			}
		}
		.fondo-blanco{
			background: #fff;
			&.roundcorners{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding: 0;
				width: 100%;
				&.con-padding{
					padding: .5em;
				}
				.C70{
					margin-bottom: 0;
				}
			}
			p{
				padding: 1em;
			}
			.form{
				box-sizing: border-box;
				padding: 1.5em 1.5em 0 1.5em;
				width: 100%;
				.label, label{
					margin-top: 0;
					width: 25%;
				}
				select{
					padding: 3px 0;
					&+select{
						margin-left: 1%;
					}
				}
				.sizeXL{
					width: 51%;
				}
				.boton{
					margin-top: -3.6em !important;
				}
				.fila:last-child{
					padding-bottom: 0;
				}

			}
		}
		div.borde-gris{
			border: 1px solid #dcdcdc;
			p{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}
		legend{
			&.label{
				color: #333;
				font-size: 1.6em;
				font-weight: bold;
				line-height: 1.2em;
				width: 40%;
				float: left;
				padding: .2em .45em 0 0;
				margin: 2em 0 1em 0;
				position: relative;
				text-align: right;
				top: 0;
				background: none;
				&.sizeS{
					width: 20%;
				}
			}
		}
		fieldset{
			&.yes-no{
				input[type="radio"]{
					float: left;
					height: 1.2em;
					margin-top: .4em;
					margin-left: 0;
					font-size: 1.5em;
					&+label{
						margin-left: .4em;
					}
				}
				&.ancho-total{
					legend{
						max-width: 75% !important;
						text-align: left;
						font-weight: normal;
						width: auto !important;
						margin-bottom: 0;
					}
					div{
						display: inline-block;
					}
				}
				label{
					text-align: left;
					width: auto !important;
				}
				&.campo{
					.radios{
						margin-right: 1%;
						width: 25%;
						display: inline-block;
						float: left;
					}
				}
				&.no-bold{
					label{
						font-weight: normal;
					}
				}
			}
			&.direccion{
				select, input{
					margin-right: 1%;
					&:last-child{
						margin-right: 0;
					}
				}
			}
		}
		select{
			&.sizeM{
				width: 16%;
			}
			&.sizeL{
				width: 25%;
			}
		}
		.fila{
			.volver{
				margin-left: 0;
				font-size: 1.5em;
				&:before{
					content: "<<";
					display: inline-block;
					padding-right: .5em;
					text-decoration: none;
				}
			}
			&.fila-mitad{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				float: left;
				width: 50%;
				span{
					&.error{
						color: #d81e05;
						display: block;
						text-align: center;
						width: 100%;
					}
				}
				.fila{
					padding-top: 0;
					padding-left: 0;
					padding-bottom: 0;
				}
			}
			fieldset{
				&.date{
					position: relative;
					&+.boton{
						position: relative;
					}
				}
			}
		}
		.info-list{
			display: inline-block;
			margin-bottom: 1em;
			&+.info-list{
				margin-top: 1em;
			}
			p{
				font-weight: bold;
				margin-bottom: 0;
				padding-bottom: 0;
			}
			ul{
				padding-top: 0;
				li{
					margin-bottom: .1em;
				}
			}
		}
		div{}
		.lista-seleccion-radio{
			label{
				margin-left: .25em;
				float: none;
				width: auto;
			}
			.fila{
				div{
					margin-left: 2.5em;
					.subgrupo-selectores{
						margin-top: .5em;
						margin-bottom: 1.2em;
						label{
							font-weight: normal;
						}

						.fila{
							margin-left: 0;
							padding: 0; 
						}
					}
				}
				.info.icon-inform{
					float: none;
					img{
						margin-left: 0;
					}
				}

			}
			input[type="radio"]{
				margin-top: 0;
				vertical-align: baseline;
			}
			a{
				&.boton{
					margin-bottom: 0 !important;
				}
			}
			.yes-no{
				label{
					float: left;
				}
			}
		}
		.no-form{
			width: 100%;
			display: inline-block;
			margin: .5em 0;
			input[type="checkbox"]{
				float: none;
				vertical-align: baseline;
			}
			label{
				float: none;
				font-weight: normal;
				padding-top: 0;
				display: inline-block;
				width: auto !important;
				text-align: left;

			}
			select{
				float: none;
				width: auto;
			}
			&+p{
				margin-top: 1.5em;
			}
			.required{
				&:after{
					float: none;
					position: relative;
					right: 0;
				}
			}
			textarea{
				margin-top: .5em;
			}
		}
		#capaIBAN{
			input[type="text"]{
				width: 3em;
				&+input[type="text"]{
					margin-left: .5em;
				}
			}
		}
		#capaCCC{
			display: none;
			input[type="text"]{
				&.ancho-total{
					width: 50%;
				} 
			}
			p{
				font-size: 1.4em;
				&.instrucciones{
					font-size: 1.4em;
					font-style: italic;
					margin-left: 41%;
					width: 50%;
				}
				&.info{
					width: 50%;
				}
			}
		}
		.desplazado-izquierda{
			legend, label{
				&.required{
					width: 30% !important;
				}
			}
			#capaCCC{
				p{
					margin-left: 33%;
				}
			}
		}
		.tres-inputs{
			input[type="text"]{
				width: 21%;
				&+input[type="text"]{
					margin-left: 1%;
				}
			}
		}
		.contenedor-horario{
/*          margin-top: 1em;
			max-height: 36em;
			overflow: auto;*/


		}
		.table-container{
			height: 300px;
			overflow-y: auto;
		}
		table{
			&.general{
				border: 1px solid #dcdcdc;
				margin: 1em 0;
				width: 100%;
				th{
					background: #ffffff; /* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlN2U3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e7e7e7)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #ffffff 0%,#e7e7e7 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e7e7e7',GradientType=0 ); /* IE6-8 */

					border: 1px solid #dcdcdc;

					font-weight: bold;
					padding: 1em .5em;
					text-align: center;
				}
				td{
					font-weight: normal;
					vertical-align: middle;
					text-align: left;
					padding: 1em .25em 1em 1em;
					border-right: 1px solid #dcdcdc;
					span{
						&.contador{
							float: left;
							margin-right: .5em;
						}
						&.texto{
							float: left;
							width: 85%;
						}
					}
				}
				label{
					font-size: 1em;
					font-weight: normal;
					line-height: 1em;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					width: 85%;
				}
				tr{
					&.alterno{
						background-color: #EEF4F3;
					}
					&.oculto{
						display: none;
						td{
							text-align: center;
							span{
								display: inline-block;
								width: 75%;
							}
						}
					}
					&.visible{
						display: table-row;
					}
				}
				&.horario{
					margin-top: 0;

					th{
						line-height: 1.5em;
						font-size: 1.2em;
						max-width: 12.5%;
						word-break: break-word;
					}
					td{


						padding: 1em .25em;
						text-align: center;
					}
					.disponible{
						color: #03AF39;
						font-size: .85em;
						width: 100%;
					}
					.no-disponible{
						color: #D91D02;
						font-size: .85em;
						width: 100%;
					}
 


					/*width: 100%;
					tbody, thead{
						display: block;
					}
					tbody{
						height: 285px;
						overflow: auto;
						td{
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							padding: 1em 3px;
							width: 13%;
							&:first-child{
								width: 9%;
							}
						}
					}
					thead{
						tr{
							display: block;
							position: relative;
							th{
								-webkit-box-sizing: border-box;
								-moz-box-sizing: border-box;
								box-sizing: border-box;
								padding: 1em 3px;
								width: 13%;
								&:first-child{
									width: 9%;
								}
							}
						}
					}*/



				}
				&.no-cabecera{
					border: none;
					tbody{
						border: none;
					}
					td{
						border: none;
						&+td{
							border-left: 1px solid #DCDCDC;
						}
					}
				}
			}
		}


		.fixed-header{
			border: 1px solid #ececec;
			border-bottom: none;
			padding-top: 6em;
			position: relative;
			overflow-y: hidden;


			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e7e7e7+17,ffffff+17,ffffff+100,ffffff+100 */
			background: #ffffff; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjE3JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-linear-gradient(top,  #ffffff 0%, #e7e7e7 17%, #ffffff 17%, #ffffff 100%, #ffffff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  #ffffff 0%,#e7e7e7 17%,#ffffff 17%,#ffffff 100%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  #ffffff 0%,#e7e7e7 17%,#ffffff 17%,#ffffff 100%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#777777',GradientType=0 ); /* IE6-8 */



			table {
				border-spacing: 0;
				border-left: none;
				margin-top: -5px !important;
				width:100%;
				background: #ffffff;
				thead{
					th {
						height: 0;
						line-height: 0 !important;
						padding: 0;
						color: transparent;
						border: none;
						position: static;
						
						&:first-child{
							div{
								border-left: none;
								padding-top: 2.25em
							}
						}
						div{
							position: absolute;
							top: 0;
							line-height: normal;
							color: #000;
							border-left: 1px solid #dcdcdc;
							font-weight: bold;
							padding: 1em .5em;
							text-align: center;
							height: 60px;
							font-size: 12px;
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							-ms-box-sizing: border-box;
							box-sizing: border-box;
						}
					}
				}
			}
		}




		ul{
			&.estrellas{
				margin-left: 2.25em;
				margin-top: 1em;
				li{
					&:before{
						content: '';
						background: url(../img/bullet-estrella.png) no-repeat;
						height: 19px;
						left: -1.5em;
						margin-right: 1em;
						position: absolute;
						top: 0px;
						width: 21px;
					}
				}
			}
		}
		.recomendado{
			background: #d81e05;
			border-radius: 10px;
			display: inline-block;
			margin-bottom: 2em;
			width: 100%;
			span{
				color: #FFF;
				display: block;
				font-size: 1.5em;
				padding: .75em 0;
				text-align: center;
			}
			.solucion{
				border-color: #d81e05;
				float: left;
				margin-bottom: 0;
			}

		}
		.solucion{
			background: #fff;
			border: 1px solid #dcdcdc;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
			border-radius: 10px;
			display: inline-block;
			margin-bottom: 2em;
			padding: 3%;
			position: relative;
			width: 100%;
			a{
				font-size: 1.5em;
			}

			h4{
				font-size: 1.75em;
				font-weight: bold;
			}
			ul{
				&.estrellas{
					width: 85%;
				}
			}
			.lateral{
				float: left;
				width: 30%;

				position: absolute;
				top: 3%;
				right: 3%;
				height: 94%;
				padding-top: 1.25em;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;

				img{
					margin-bottom: 1.5em;
					width: 100%;
					max-width: 190px;
					max-height: 190px;
					&+a{
						position: relative;
						bottom: auto;
					}
				}
				a{
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					margin-bottom: 0;
					width: 100%;
					max-width: 190px;
					position: absolute;
					bottom: 20px;


				}
			}
			.listado{
				float: left;
				width: 70%;
			}
		}
		.listados-danios-vehiculo{
			display: inline-block;
			width: 100%;
			fieldset{
				box-sizing: border-box;
				float: left;
				width: 50%;
				min-height: 72px;
				legend{

					background: none;
					color: #333;
					font-size: 1.5em;
					font-weight: bold;
					padding-bottom: .5em;
					padding-left: 0;
					position: relative;
					top: 0;

				}
				ul{
					display: inline-block;
					margin-left: 0;
					padding-top: 0;
					width: 100%;
					li{
						display: inline-block;
						width: 100%;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						&:before
						{
							content: none;
						}
						label{
							-webkit-box-sizing: border-box;
							-moz-box-sizing: border-box;
							box-sizing: border-box;
							font-size: 1em;
							font-weight: normal;
							float: left;
							margin-left: 1%;
							text-align: left;
							width: 89%;

							padding-top: 0;

						}
						input[type="checkbox"]{
							float: left;
							margin-bottom: .5em;
						}
						.boton{
							font-size: 1em !important;
							margin-left: 1%;
						}
					}

				}
			}
		}
		.documentos-seleccionados{
			padding: 3em;
			.fila{
				span{
					float: none;
					word-break: break-all;
					max-width: 50%;
					display: inline-block;
				}
				img{
					vertical-align: middle;
				}
				p{
					float: left;
					width: auto;
				}
				input[type="button"]{
					margin-top: -2px !important;
				}
			}
		}
		.adjuntar-boton{
			p{
				display: inline-block;
				float: left;
				width: auto;
			}
		}
		p{
			.descargapdf{
				font-size: 1em !important;
				display: inline-block !important;
			}
		}
		.formdegree{
			.documentos-seleccionados{
				padding: 0 3em;
			}
		}

		.calendario-no-popup{
			position: relative;
			display: inline-block;
			width: auto;
			.datepicker{
				background: none;
				border: none;
				border-radius: 0;
				display: block;
				float: left;
				position: relative;
				.month-wrap{
					border: none;
					background: #fff;
					border-radius: 0;
				}
				abbr{
					border-bottom: none;
					cursor: pointer;
				}
				.disponible{
					background: #23983d;
					color: #fff;
					cursor: pointer;

				}
				.no-disponible{
					background: #d81e05;
					color: #fff;
				}
				.cal{
					margin-top: 2px;
					background: #fff;
					td{
						border-color: #fff;
						font-weight: normal;
					}
					th{
						border-bottom: 1px solid #d81e05;
					}
				}
				.bn_prev, .bn_next{
					img{
						margin-top: 5px;
						margin-left: 4px;
					}
				}
			}
			.legend{
				font-size: 1.5em;
				float: left;
				display: inline-block;
				margin-left: 2em;
				margin-top: 5em;
				.disponible{
					margin-bottom: 1em;
					&:before{
						background: #23983d;
						content: '';
						height: 10px;
						width: 10px;
						float: left;
						position: relative;
						margin-right: 1em;
						top: 1px;

					}
				}
				.no-disponible{
					&:before{
						background: #d81e05;
						content: '';
						height: 10px;
						width: 10px;
						float: left;
						position: relative;
						margin-right: 1em;
						top: 1px;
					}
				}
			}
		}



	}
	.siniestros{
		display: inline-block;
		width: 100%;

		margin-bottom: 2em;
		.caja{
			margin-bottom: 0;
			.fila{
				input[type="text"], select{
/*                  width: 25%;*/
				}
				.volver{
					line-height: 1.5em;
				}
			}
			input[type="text"], 
			input[type="password"], 
			input[type="tel"], 
			input[type="email"], 
			input[type="number"], 
			select{
				line-height: normal;
			}
			input[type="text"], 
			input[type="password"], 
			input[type="tel"], 
			input[type="email"], 
			input[type="number"]{
				padding-top:4px;
				padding-bottom: 2px;
			}

		}
		h3{
			float: none;
			height: 1.1em; 
		}
		.C70{
			div{
				&.cajadestico{
					a{
						font-size: 1em;
						margin-top: 0;
                        display: inline;
					}
				}
			}
		}
		p{
			font-size: 1.5em;
			&.destacado{
				font-size: 1.6em;
				line-height: 1em;
			}
			&.direccion{
				span{
					display: block;
					float: none;
					font-size: 1em;
				}
			}
			&.titulo{
				font-size: 1.8em;
			}
			span{
				&.telef {
					float: none !important;
					margin: 0 !important;
					padding: 0 !important;
					font-size: inherit !important;
					color: inherit;
					a{
					
						font-size: 1em !important;

						text-decoration: none !important;
					}

					
				}
			}
			img{
				vertical-align: middle;
			}
		}
		ul{
			&.punto-rojo{
				font-size: 1.5em;
				position: relative;
				li{
					margin-bottom: 1em;
					line-height: 1.2em;
					margin-left: 1em;
					&:before{
						content: '\2022';
						color: #D81E05;
						position: absolute;
						left: -.1em;
						font-size: 1.2em;
						float: left;
						
					}
				}
			}
			&.con-formulario{
				display: inline-block;
				width: 100%;
				li{
					clear: both;
					margin: .5em 0;
					display: inline-block;
					width: 100%;
					&>input{
						float: left;
					}
					&>label{
						float: left;
						padding-top: 0;
						width: auto;
					}
					.roundcorners{
						clear: both;
					}

				}
			}
			&.no-bullet{
				margin: 1em 0;
				li{
					margin-bottom: 0;
					&:before{
						content: none;
					}
				}
			}
		}
		.app-map{
			.C70{
				background: none;
				width: 95%;
				margin: 0 auto;
				display: block;
				&+h3{
					margin-top: 2em;
				}
			}
			h3{
				background: none;
				font-size: 1.75em;
				letter-spacing: 0;
				color: #333;
				/*margin-bottom: 2em;*/
			}
			.fila, .no-form{
				width: 95%;
				margin: 0 auto;
				label{
					font-size: 1.5em;
				}
			}
			textarea{
				width: 100%;
				padding: 0;
			}


		}
		.boton{
			white-space: normal;
		}
		select{
			padding-bottom: 3px;
			padding-top: 3px;
			width: 25%;
			height: 30px;
		}
		input{
			box-sizing: border-box;
			height: auto !important;
			width: 25%;
			&[type="radio"], &[type="checkbox"], &[type="button"]{
				width: auto;
			}
			&[type="text"], &[type="tel"], &[type="number"]{
				height: 30px !important;
			}

		}
		.size75{
			width: 75% !important;
		}
		.size51{
			width: 51% !important;
		}
		.size50{
			width: 50% !important;
		}
		.size29{
			width: 29% !important;
		}
		.size20{
			width: 20% !important;
		}
		.size12{
			width: 12% !important;
		}
		.size10{
			width: 10% !important;
		}
		.form30{
			label, .label{
				width: 30% !important;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				margin-right: 1.5%;
			}
			.fila{
				.nueva-linea{
					padding-left: 31%;
					width: auto;
					display: block;
					clear: both;
				}
			}
			.no-form{
				label{
					width: auto !important;
				}
			}
			.yes-no{
				label{
					margin-right: 0;
				}
			}
		}
		.form20{
			label, .label{
				width: 20% !important;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.no-form{
				label{
					width: auto !important;
				}
			}
			.yes-no{
				label{
					margin-right: 0;
				}
			}
		}
		.borde-inferior{
			border-bottom: 1px solid #ccc;
		}
		.buscador-fecha{
			input{
				&+input{
					margin-left: 1em;
				}
			}
			.boton{
/*              float: none !important;
				margin-left: 2em !important;*/
				margin-top: -2.5em !important;
				margin-right: 2em !important;
			}
		}
		.buscador-direccion{
			select{
				&+select{
					margin-left: 1em;
				}
			}
		}
		.mini-mapa{
			display: inline-block;
			margin: .5em 0;

			width: 100%;
			.mapa, .direccion{
				float: left;
				display: inline-block;
				
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
			.direccion{
				width: 60%;
				span{
					font-size: 1.5em;
					font-weight: bold;
				}
				ul{
					&.no-bullet{
						margin-top: 0;
					}
				}
			}
			.mapa{
				padding-right: 2%;
				width: 40%;
				iframe{
					width: 100% !important;
				}
			}
		}
		.formdegree{
			&+ .formdegree{
				margin-top: 4em;
			}
		}
		.calendario-no-popup{
			margin-left: 20%;
		}
		.disabled{
			color: #bbb;
		}
		fieldset{
			&.date{
				&+.boton{
					margin-top: -2.5em;
				}
				.hora{
					margin-left: 1em;
					float: none;
					width: 4em !important;
				}
			}
		}
		.cajadestico{
			line-height: normal;
		}
		.html-legend{
			text-align:left;
			background: none;
			font-weight: bold;
			&:before{
				content: '\2219';
				color: #d81e05;
				font-size: 2em;
				float: left;
				position: relative;
				top: 50%;
				left: -15px;
				width: 0;
			}
		}
		.lightbox{
/*          font-size: 1.5em;*/
			line-height: 1.5em;
/*              float: right;*/
		}
		.lista-seleccion-radio{
			.lightbox {

				vertical-align: top;
			}
		}
		table{
			&.general{
				tbody{
					tr{
						&:hover{
							cursor:pointer;
						}
						.no-disponible{
							&:hover{
								cursor: auto;
							}
						}
					}
				}
			}
		} 

	}
	.paso-mobile{
		display: none;
	}
	form.caja div.fila .date input[type="button"] {
		width: 38px;
		height: 34px !important;
		margin-left: 1em;
		border: none;
		background: url("../img/icos.png") no-repeat -200px 0;
		vertical-align: middle;
		cursor: pointer;
		text-indent: -100em;
	}
	form.caja div.fila .date input {
		width: 3em;
	}
	div.bloqPest p.obligatorio {
		font-weight: bold;
		float: right;
		width: auto;
		margin-top: -3em;
		span.lynd {
			font-size: 1em;
			line-height: .75em;
			float: none;
			color: #dc291e;
			padding: 0;
			margin: 0;
		}
	}
	.caja {
		.inline div.fila {
			width: auto;
			float: left;
			padding-top: 0;
			label {
				float: none;
				vertical-align: middle;
			}
		}
		textarea#comentarios {
			width: 100%;
		}
	}
	.clip {
		font-size: 1.5em;
		line-height: 1.5em;
		display: inline-block;
		&:before {
			content: "";
			float: left;
			height: 24px;
			width: 30px;
			background: url(../img/clip.png) no-repeat;
		}
	}
	dd a.clip {
		font-size: 1em;
	}
	.cubo {
		vertical-align: middle;
		display: inline-block;
	}
	.solicitudReembolso .caja .fila input.boton.flt {
		float: left !important;
	}
	
	.recibos {
		#divCuentaDiferente{
			margin-top: 1em;
			margin-left: 1.5em;
			input[type="radio"] {
				float: none;
			}
			#capaCCC {
				p {
					font-size: 1em;
					padding-left: 0;
				}
				.literales {
					padding-left: 2em;
					margin-top: 0;
					.literal {
						margin-right: 3%;
						display: inline-block;
						min-width: 9%;
					}
				}
			}
			.fila {
				margin-top: .5em;
				margin-bottom: .5em;
			}
			#capaIBAN, #capaCCC{
				input[type="text"]{
					&.sizeXS{
						width: 9%;
					}
				}
				label{
					margin-right: .25em;
				}
			}
		}
	}

	#divCuentaDiferente {
		display: none;
		a {
			font-size: 1.5em;
		}
		#capaCCC {
			display: none;
			.literalTit{
				top: -1.5em !important;
				position: relative;
			}
			br.saltoOc{
				display: none;
				clear: both;
			}
			span{
				display: inline-block;
				width: 7%;
				margin-right: 1em;
				label {
					&.literal {
						font-weight: normal;
						width: auto;
						min-width: 8.05%;
						text-align: left;
						margin-right: 1%;
						margin-top: -.25em;
						margin-left: .1em;
						padding: 0;
					}
					&.literalOc {
						display: none;
						line-height: 1.5em;
					}
				}
				label, input[type="text"] {
					display: block;
					width: 85%;
				}
			}
			span.DC{
				width: 3%;
			}
			span.Cta{
				width: 16%;
			}
			.literales {
				span{
					width: 39%;
				}
				p{
					&.error-message{
						padding-left: 0; 
						font-size: 1.5em;
					}
				}
			}
			p {
				padding-left: 15%;
				width: auto;
			}
		}
		#capaIBAN, #capaCCC {
			input[type="text"] {
				margin-left: 1%;
				&.sizeXS{
					width: 10%;
					&.sinMargenIzquierdo{
						margin-left: 0;
					}
				}
			}
		}
	}
	#pagoTarjetaOK, #pagoPaypalOK {
		header {
			padding: 0;
			@include border-radius(0);
			background: none;

			h2 {
				margin:0 0 .3em 0;
				color:#b90000;
				font-family:Verdana, Geneva, sans-serif;
				font-size:38px;
				font-weight:bold;
				letter-spacing:-.1em;
				font-style:italic;
				line-height: 38px;
				span {
					font-size:18px; 
					letter-spacing:0;
				}
			}
		}
		div {
			&.cajadestico {
				margin-top: 2.5em;
			}
			dl {
					width: 100%;
				display: inline-block;
			}
		}
		p {
			float: none;
			text-align: center;
			margin-bottom: 0;
		}
		.filaBotonTotal {
			ul {
				width: 65%;
				margin-left: auto;
				margin-right: auto;
				li {
					width: 49.5%;

					margin-left: auto;
					margin-right: auto;
					.boton {
						margin-bottom: .3em;
					}
				}
			}
		}
	}
	#pagoPaypalOK{
		header{
			img{
				margin-bottom: .75em;
			}
		}
	}
	table{
		&.talleres{
			th{
				text-align: left !important;
			}
			.seleccionada{
				background-color: #dcdcdc !important;
				label{
					font-weight: bold !important;
				}
				&.seleccionada-detalle{
					display: none;
					&.visble{
						display: table-row;
					}
					td{
						padding-left: 3.5em !important;
					}
					ul{
						li{
							line-height: 1.4em;
							width: 90%;
						}
					}
				}
			}
			label{
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				padding-left: 1em;
				padding-top: 0;
				text-align: left;
				width: 90%;
			}
			.icon-ok{
				background: url(../img/ico-ok-small.png) no-repeat;
				display: inline-block;
				height: 21px;
				text-indent: -9999px;
				width: 21px;

			}
		}
	}
	.tooltip-informacion{
		width: auto !important;
		position: relative;

		float: none !important;
		display: inline-block;
		margin: 0 0 -5px 0 !important;


		&.derecha{
			.infoMsg{
				background-image: none;
				margin-left: 0 !important;
				top: -20px;
				left: 44px !important;
				width: 28.5em;
				&:before, &:after{
					border-bottom-color: transparent;
					border-right-color: #ccc;

					left: -19px;
					top: 15px;
				}
				&:before{
					
				}
				&:after{
					border-right-color: #D4E5F2;
					top: 19px;
					left: -15px;
				}
			}
			img{
				margin-left: 0;
			}
			span[role="heading"]{
				padding: 0;
			}
		}
	}
	a{
		&.tooltInf{
			&:focus{
				outline: transparent;
			}
		}
	}
}
.no-margin-bottom{
	margin-bottom: 0 !important;
}
.no-margin-top{
	margin-top: 0 !important;
}
.no-margin-left{
	margin-left: 0 !important;
}
.no-padding-bottom{
	padding-bottom: 0 !important;
}
.no-padding-top{
	padding-top: 0 !important;
}
.margin-bottom-1em{
	margin-bottom: 1em !important;
}
.centrado{
	text-align: center !important;
}
.texto-rojo{
	color: #d81e05;
}
.tabla{
	display: inline-block;
	float: right;
}
.block{
	display: block !important;
}
.C620.aviso {
	width:10em;
	margin: -3em 0 0 0;
	padding: 0;
	font-size:1.2em;
	float: left;
	.avisoMsg[role="tooltip"] a {
		font-size:1.3em;
	}
}
.C620 > a[aria-describedby] {
	cursor:help;
	text-decoration:none;
	font-size: 1.3em;
	display: inline-block;
	color:#555;
}
.C620 .pixel {
	display: inline-block;
	background:url(../img/icos.png) no-repeat -286px -50px;
	width: 15px;
	height: 14px;
	padding:3px;
	margin: 0 auto -6px auto;
}
.C620 [role="tooltip"] {
	text-align: left;
	display:none;
	top:10px;
	left:-100px;
	position:absolute;
	background:#fff;
	padding:10px;
	width:300px;
	font-size: 1.2em;
	z-index:999;
	border:3px solid #ccc;
	border-radius:15px;
	box-shadow:0 0 15px 3px #ccc;
}


.filaBotonTotal{
	padding:1.5em;
	margin-top: -2em;
	margin-right: 0;
	ul {
		margin-top: 2em;
		li {
			display: inline-block;
			width: 33%;
			text-align: center;
			.boton {
				width: 80%;
			}
		}
		li:first-child {
			text-align: left;
		}
		li:last-child {
			text-align: right;
		}
	}
}

/**/

/* Tabs */
.pestGY {
	float: left;
	list-style: none;
	font-size: 1.2em;
	margin: 1em 0 2em 0;
	padding: 0;
	border-bottom: 2px solid #e41b13;
	width: 100%;
	li {
		float: left;
		margin: 0 .4em 0 0;
		padding: 0;
	}
	a {
		float: left;
		position: relative;
		min-height: 2.5em;
		max-width: 9em;
		margin: 0;
		padding: .5em 2em 0;
		text-decoration: none;
		color: #555;
		border-radius: 10px 10px 0 0;
		background: #efefef;
		text-align: center;
		font-size: 1.2em;
		line-height: 1.1em;
		&:hover{
			background: #efefef;
		}
		&:before {
			right: 0;
			background-position: -89px 0;
		}
		&:after, &:before {
			display: block;
			content: "";
			position: absolute;
			top: 0;
			width: 29px;
			height: 40px;
			background-image: url("../img/bck_pests.gif");
			background-repeat: no-repeat;
		}
		&:after {
			left: 0;
			background-position: -60px 0;
		}
	}
	.on {
		position: relative;
		padding: 0;
		a {
			background: #e41b13;
			color: #fff;
			&:before {
				background-position: -29px 0;
			}
			&:after {
				background-position: 0 0;
			}
		}
	}
}
/* Fin tab */

/* resumen */
#contenido .interior #principal {
.resumen {
	font-size: 1.5em;
	margin-top: 1em;
	padding-bottom: 2em;
	dt {
		float: left;
		clear: left;
		width: 39%;
		text-align: right;
		line-height: normal;
	}
	dd {
		float: left;
		width: 59%;
		line-height: normal;
		font-weight: bold;
		padding-left: 2%;
		a{
			font-weight: normal;
		}
		a.descargapdf:before {
			background: url(../img/icos.png) no-repeat -332px -51px;
			width: 12px;
			height: 33px;
			padding-left: 1em;
			display: block;
			float: left;
			content: "";
			margin-right: 0.5em;
		}
		&.descarga li {
			line-height: 38px;
		}
	}
	&.documentacion{
		a{
			font-weight: normal;
		}
		.boton {
			font-size: 1em;
			margin-bottom: 1em;
			margin-top: 0.3em;
		}
		dt{
			padding-top: 0.5em;
		}
		dd.descarga{
			padding-top: 0.5em;
			margin-bottom: 0.8em;
		}
	}
}

}
/* fin de resumen */

/* lista */
.interior #principal ul.listado,
.interior #principal .bloqPest.detalleOfertas ul{

	padding-left: 0.8em;
	margin-bottom: 2em;
	li {
		position: relative;
		margin-bottom: 1.4em;
		&:before {
			content: '\2022';
			color: #dc291e;
			position: absolute;
			font-size: 1.5em;
			left: -0.75em;
		}
	}
	&>li{
		font-size: 1.5em;
		line-height: 1.2em;
		margin: 0 0 .3em 2.35em;        
	}
}

/* fin de lista */
.interior #principal {
	div.recibos{
		p{
			margin-top: 1em;
			&:first-child{
				margin-top:0;
			}
		}
	}
	div.bloqPest{
		h2{
			padding-left: 0;
		}
		p{
			line-height: 1.2em;
			margin-bottom: .5em;
			font-weight: normal;
			&.paginador{
				float: right;
				text-align: right;
				padding-right: 1em;
				margin-bottom: 0;
				font-size: 1.3em;
				margin-top: -1em;
			}
		}
	}
	div.roundcorners.formdegree.objectshadowsmoth.caja {
		p {
			font-weight: normal;
			line-height: 1.2em;
			padding-bottom: 1em;
				font-size: 1.3em;
				width: auto;

		}
		dd, dt {
			margin-bottom:1em;
		}
	}
	h1.title {
		margin-bottom: 1em;
		padding: 0 !important;
		border-bottom: 1px solid #D6D6D5;
		color: #dc291e;
		font-size: 2.5em;
		font-weight: normal;
		letter-spacing: -0.05em;
		line-height: 1em;
		background: none !important;
	}
	h1.title span {
		padding-right: 4em;
	}
	h3 {
		font-weight: normal;
		color: #dc291e;
		margin-bottom: 1em;
		line-height: 1em;
		letter-spacing: -0.05em;
		padding-left: .6em;
		background: url("../img/bck_title.png") no-repeat 0 0.3em;
		font-size: 2.1em;
		border: none;
		&.cl {
			clear: both;
		}
	}
	h2 + h3{
		margin-top:1.5em;
	}
}

.encabezado div[role="heading"] div {
	width: 45%;
	float: left;
	padding: 1.5em 0 1.5em 2em;
	font-size: 1.6em;
	font-weight: bold;
	+ div {
		border-left: 1px solid #dcdcdc;
	}
}
.tablaDatos{
	float: none;
	padding: .5em;
}
.tablaRedonda{
	border-radius: 10px;
	width: 100%;
		thead tr{
			padding: 0 1.2em;
			border-bottom:1px solid #dcdcdc;
			background-color: #e7e7e7;
			background: -moz-linear-gradient(top, #fff 1%, #e7e7e7 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#e7e7e7));
			background: -webkit-linear-gradient(top, #fff 1%,#e7e7e7 100%);
			background: -o-linear-gradient(top, #fff 1%,#e7e7e7 100%);
			background: -ms-linear-gradient(top, #fff 1%,#e7e7e7 100%);
			th{
				font-weight: bold;
				padding: 1em 1.5em;
				&.derecha{
					text-align: right;
					padding-right:0.5em;
				}
			}
		}
		td{
			padding: 0.5em 0.5em 0.5em 1.5em;
			vertical-align: top;
			line-height: 1.2em;
			&.first {
				padding-left: 1.5em;
			}
			&.derecha{
				text-align: right;
			}
		}
		tr{
			&.first{
				border:1px solid red;
			}
		}
		&.vidaColectivos {
			td, td.first{
				padding-left: 1.5em;
			}
			td.derecha {
				padding-left: 0.5em;
			}
		}
}
.ancho-fijo{
	tr{
		.first{
				width: 75%;
		}
	}
}

#contenido .interior #principal div.consultaPatrimoniales {
	margin-top: 2em;
	p{
		font-weight: normal;
		font-size: 1.6em;
		line-height: 1.2em;
	}
}

#contenido .interior #principal {
	div.bloqPest {
		&.recibos .leyenda, .leyenda{
			text-align: left;
			font-weight: normal;
			margin-top: -1.5em;
		}
		.leyenda{
			float:none;
		}
		&.recibos .leyenda {
			&:before{
				content:"";
				width:15px;
				height: 14px;
				background: url(../img/icos.png) no-repeat -286px -50px;
				float: left;
				padding-right: 5px;
			}
		}
		span#paginaciones {
			float:right;
			margin-bottom: 2em;
			ul {
				li {
					display: inline;
					font-size: 1.5em;
				}
			}
		}
	}
}


/***/
fieldset {
	legend {
		font-weight: normal;
		color: #dc291e;
		margin-bottom: 1em;
		line-height: 1em;
		letter-spacing: -0.05em;
		padding-left: .6em;
		background: url("../img/bck_title.png") no-repeat 0 0.3em;
		font-size: 2.1em;
		border: none;
	}
	table {
		margin-left: auto;
		margin-right: auto;
		th {
			font-weight: normal;
		}
		td {
			font-weight: bold;
			padding-left: 1em;
		}
	}
	ul li {
		margin-top: 0.2em;
		margin-bottom: 0.2em; 
	}
	&.generales td {
		font-weight: normal;
	}
}


table{
	&.recibos, &.talleres {
		th, td {
			padding: 1em .25em 1em 1em;
			border-left: 1px solid #dcdcdc;
			&:first-child{
				border-left: none;
			}
		}
		th {
			background-color: #e7e7e7;
			background: -moz-linear-gradient(top, #fff 1%, #e7e7e7 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#fff), color-stop(100%,#e7e7e7));
			background: -webkit-linear-gradient(top, #fff 1%,#e7e7e7 100%);
			background: -o-linear-gradient(top, #fff 1%,#e7e7e7 100%);
			background: -ms-linear-gradient(top, #fff 1%,#e7e7e7 100%);
			padding-left: .25em;
			span{
				padding-right: .25em;
			}
			.especial{
				margin-top: 1em;
			}
		}
		td{
			label{
				font-size: 1em !important;
				font-weight: normal !important;
				width: 100%;
			}
			input[type=checkbox],
			input[type=radio]{
				float:left;
				margin-top: 0;
			}   
			.tarjeta, .paypal{
				display: inline-block;
				margin-right: 10px;
			}   
			.datos{
				display: inline-block;
				width: 100%;
				vertical-align: top;
				margin-top: -6px;
				.W3{
					width: 3%;
				}
				.W5{
					width: 5%;
				}
				.W15{
					width: 15%;
				}

				input[type=text]{
					font-size:1em;
					line-height:1.2em;
					margin:0 0 .5em 0;
					background:#fff;
					border:1px solid #ccc;
					height:1.2em;
					padding:3px 3px 1px 3px;
					border-radius:1px;
					box-shadow:inset 2px 2px 7px 2px #ddd;
					&.disabled {
						background-color:#E8E8E8;
						color:#858585;
					}
				}
			}
		}
	}
	th{
		.ordenarTabla{
			width:7px;  
			float: right;
			margin:0; 
			padding:0; 
			a{
				img{
					margin-bottom:.25em;
					display:block;
				}
			}
		}
	}
	&.general{
		td{
			label{
				float: none !important;
				padding-top: 0 !important;
			}
			input[type="radio"]{
				margin-top: 0;
			}

		}
		&.talleres{
			label{
				float: left !important;
			}
		}
	}

}

.pendiente {
	span {}
	a:after{
		padding-left:15px;
		background: url(../img/icos.png) no-repeat -286px -50px;
		content:"";
		margin-left: 1em;
	}
}

/*  */
#barraEstadoPasos {
	margin: .2em auto .75em auto;
	float: left;
	width: 100%;
	text-align: center;
	padding: 0 0 1.5em 0;
	display: table;
	font-size: 1.2em;
	ul {
		margin: 0 -1em 0 0;
		padding: 0;
		list-style: none;
		width: 100%;
		margin: auto;
		li {
			float: left;
			font-size: 1.1em;
			padding: 0 .1em;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
	}
	img {
		width: 98%;
	}
	&.p9  {
		ul li {
			width: 11.1%; 
		}
	}
	&.p8  {
		ul li {
			width: 12.5%; 
		}
	}   
	&.p7  {
		ul li {
			width: 14.2%; 
		}
	}   
	&.p6  {
		ul li {
			width: 16.6%; 
		}
	}
	&.p5  {
		ul li {
			width: 20%; 
		}
	}   
	&.p4  {
		ul li {
			width: 25%; 
		}
	}
	&.p3  {
		ul li {
			width: 33.3%; 
		}
	}
}
.infoPasos {
	clear:both;
	margin-left: .8em;
	.title {
		clear: both;

		margin-bottom: 1em;
		padding:0 !important;
		border-bottom: 1px solid #D6D6D5 !important;
		
		font-size: 2.5em;
		font-weight: normal;
		letter-spacing: -.05em;
		line-height: 1em;
		background:none !important;
		&:before{
			color: #666;
			content: '>';
			float: left;
			left: -0.5em;
			position: relative;
			width: 0;
		}
		span {
			padding-right: .25em;
			color: #666;
			background: none repeat scroll 0 0 #fff;
		}   
	}
}

#contenido {
	.interior {

		&.twoCols #principal .solicitudReembolso .cajadestico .ico-error {
			display: inline-block;
			position: relative;
			padding: 2em 4% 3em 15%;

			&:before {
				background: url(../img/iconos.png) no-repeat -172px 0;
				content: "";
				width: 43px;
				height: 43px;
				top: auto;
				left: 3em;
				position: absolute;
			}
			p {
				font-size: 1.5em;
				&+p{
					padding-top: .2em;
				}
			}
		}
		&.twoCols #principal .solicitudReembolso .cajadestico p.unaFila {}
	}
	&.comunicacionCliente {
		margin-top: 3.3em;
		#principal {
			float: left;
			width: 50%;
			h1 {
				font-size: 3.2em;
				line-height: 100%;
				margin: 1.5em 0 .5em 0;
			}
			p {
				line-height: 1.1em;
				font-weight: normal;
				padding: .5em 0;
			}
			.roundcorners {
				margin: 2em 0;
				padding: 0 2em 2em 2em;
				background: #ffffff;
				border: 1px solid #ddd;
			}
		}
		.filaBotonTotal {
			ul {
				li {
					width: 49%;
				}
			}
		}
		.interior {
			display: inline-block;
			background: url(../img/bgComClientes.png) no-repeat right -30px;
		}
	}
	.resumen.rojo {
		dt {
			font-weight: bold;
		}
		dd {
			color: #dc281e;
		}
	}
}




#divComentarios {
	width: 94%;
	@include border-radius(10px);
	border: 1px solid #eee;
	padding: 3%;
	margin-bottom: 1em;
	p {
		padding: 0;
	}
}


.twoCols #principal  .cajadestico .ico-OK {
	padding: 2em 4% 3em 12%;
	display: inline-block;
	position: relative;
	&:before{
		content: "";
		background: url(../img/iconos.png) no-repeat 0 0;
		height: 43px;
		width: 43px;
		position: absolute;
		top: auto;
		left: 3em;
	}
	p {
		margin-top: .5em;
		margin-bottom: .1em;
		padding-top: 0;
		padding-bottom: 0;
		&+p {
			margin-top: .2em;
		}
	}
}

.tableMobile {
	border: 1px solid #eee;
	border-radius: 0 0 10px 10px;
	#dtPreguntaIBAN, #ddPreguntaIBAN, #dtIBAN, #ddIBAN, #dtCCC, #ddCCC{
		display: none;
	}
	#ddIBAN{
		.sizeXS{
			width: 13.55%;
		}
	}
	#ddCCC{
		p{
			font-size: 1em;
		}
		label{
			width: 31%;
			display: inline-block;
			padding-left: .8em;
			text-align: right;
		}
		input[type="text"]{
			margin-left: .8em;
		}
	}
}
.tableOverflow{
	width: 100%;
	overflow: auto;
	table{
		thead{
			th{
/*              white-space: nowrap*/
				padding-right: 1em;
				span{
					max-width: 100px;
				}
				.ordenarTabla{
					position: absolute;
					top: 1em;
					right: 3px;
				}
			}
		}
		tbody{
			td{
				width: auto;
/*              min-width: 8em;*/
			}
		}
	}
}

/* Tabla de recibos pendientes */
.tarjetas{
	display: inline-block;
	margin-left: .5em;
}
.paypal-logo{
	display: inline-block;
	margin-left: 4.95em;
	vertical-align: middle;
}
.leyenda-tabla{
	font-size: .8em !important;
	background:none;
	display: inline-block;
	width: 95% !important;
}

#principal .tableMobile .leyenda-tabla {
	float: none;
}
#justificantePago {
	background: url(../img/justificantePago.png) no-repeat right 0;
	width: 17em;
	margin: 0 auto;
	min-height: 130px;
	padding-top: 3em;
	padding-right: 170px;
	text-align: right;
	p {
		width: auto;
		margin-bottom: 0;
		float: none;
		padding-bottom: 0;
	}
	a {
		font-size: 1.4em;
	}
}

#contenido #principal {
	.capaAlerta {
		.cajadestico {
			div:first-child {
				display: inline-block;
				padding: 2em 4% 3em 12%;
				position: relative;
				&:before {
					position: absolute;
					top: auto;
					left: 3em;
					width: 43px;
					height: 43px;
					content: "";
					background: url(../img/iconos.png) no-repeat;
				}
				&.ico-info:before {
					background-position: -129px 0;
				}
				&.ico-OK:before {
					background-position: 0 0;
				}
				&.ico-block:before {
					background-position: -86px 0;
				}
				&.ico-error:before {
					background-position: -172px 0;
				}
				p {
					float: none;
					padding-left: 0;
				
					margin-top: 0;
					padding-top: .5em;
					&+p {
						padding-top: 0;
					}
				}
				ul {
					font-size: 1.5em;
					margin-left: 1em;
					li {
						position: relative;
						line-height: 1.2em;
						margin-bottom: 1em;
						&:before{
							content: '\2022';
							color: #dc291e;
							position: absolute;
							top: -0.05em;
							left: -0.75em;
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
}





#contenido .interior #principal .caja div.roundcorners.cajadestico {
	.ico-OK {
		padding-left: 9.5%;
		padding-top: 0;
		&:before {
			left: 0;
		}
		p {
			margin-top: 0;
			padding-top: .5em;
			&+p {
				padding-top: 0;
			}
		}
	}
}
/*  */


#contenido {
	.interior {
		#principal {
			.caja {
				input[type="text"]{
					&.w2em{
						width: 2em;
					}
				}
			}
			#numAtestadoRow{
				display: none;
			}
		}
	}
}

/* faq */
dl.faq{
	margin-top:4em;
	dt {
		display:block;
		margin:.5em 0;
		padding:.3em 0 0 0;
		font-size:1.6em;
		line-height:1.3em;
		color:$color_mapfre;
		cursor:pointer;
		span {
			display:block;
			margin-left:2em;
			padding-bottom:.4em;
			border-bottom:1px solid #d6d6d5;
		}
		&:hover {
			text-decoration:none;
		}
		&:before {
			float:left;
			margin:0 .7em 0 0;
			width: 25px;
			height: 25px;
			content:"";
			background:url("../img/bck_panels.png") no-repeat 0 0;
		}
		&.up {
			span { border:none; }
			&:before {
				background-position:0 -25px;
			}
		}
		&:focus {
			border:1px dotted #000;
		}

	}
	dd {
		margin-left:2.8em;
		padding-left:1em;
		border-bottom:1px solid #d6d6d5;
	}
	.wysiwyg{
		ul {
			margin:2em;
			font-size:1.6em;
			ul {
				margin:1em 2em;
				font-size:1em;
			}
		}
		li{
			position: relative;
			margin-bottom: 1.4em;
			line-height: 1.1em;
			&:before {
				position: absolute;
				left: -.75em;
				top: -.05em;
				color: $color_mapfre;
				content:'\2022';
				font-size: 1.5em;
			}
		}
	}
}
/* fin faq*/
/* accordion-radio */
.accordion-radio{
	display: inline-block;
	margin-bottom: 2em;
	margin-top: 2em;
	width: 100%;
	div[role="heading"]{
		border-bottom: 1px solid #D6D6D5;
		display: inline-block;
		padding: .75em 0;
		width: 100%;
		&.on{
			border-bottom: none;
		}
		label{
			float: none !important;
			font-weight: normal !important;
		}
		input[type="radio"]{
			margin-top: -3px;
		}
	}
	div[role="tabpanel"]{
		div{
			display: inline-block;
		}
	}
}
/* fin accordion-radio */
/* icono gt */
.icon-gt{
	background: url(../img/icos.gif) no-repeat 0 -467px;
}
/* fin icono gt */
/* offscreen */
.offscreen {
	top: -9999em !important;
	position: absolute !important;
}
/* fin offscreen */
/* autorizacion sanitaria */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	-webkit-appearance: none; 
	margin: 0; 
}
input[type='number'] {
	-moz-appearance:textfield;
}
#contenido .interior #principal div.autorizacion-sanitaria {
	&.confirm{
		.infoPasos{
			.title{
				margin-top: 1em;
				border-bottom: none !important;
			}
		}
		.cajadestico{
			ul{
				list-style: none;
				margin-left: 1em;
			}
			.ico-alert{
				padding-left: 12%;
			}
		}
	}
	div{
		&.cajadestico{
			&.roundcorners{
				p {
					font-size: 1.5em;
				}
				li{
					p{
						font-size: 1em;
						padding-top: 0;
					}
				}
			}
		}
	}
	div {
		&.accordion {
			&.accordion-radio{
				div[role="heading"]{
					color: #333;
					font-size: 1em;
					label{
						font-weight: normal;
					}

				}
				div[role="tabpanel"]{
					.fila{
						input[type="radio"]{
							height: 100%;
							margin-top: -3px;
						}
						label{
							float: none;
							font-weight: normal;
						}
					}
					p {
						margin-bottom: 0;
						padding-bottom: 0;
					}
					.roundcorners{
						padding-top: 1%;
						padding-bottom: 1%;
					}
				}
			}
		}
	}

	h1{
		margin-bottom: 0;
	}
	legend{
		color: #333;
		font-size: 1.6em;
		font-weight: bold;
		line-height: 1.2em;
		width: 40%;
		float: left;
		padding: .2em .45em 0 0;
		margin: 2em 0 1em 0 ;
		position: relative;
		top: 0;
		&.label{
			text-align: right;
		}
	}
	legend, .html-legend{
		text-align:left;
		background: none;
		&:before{
			content: '\2219';
			color: #d81e05;
			font-size: 2em;
			float: left;
			position: relative;
			top: 50%;
			left: -15px;
			width: 0;
		}
		&.wide {
			width: auto;
		}
	}
	label{
		&.left{
			text-align: left;
			width: auto;
		}
	}
	p{
		clear: both;
		&.with-padding{
			padding-bottom: 0;
			padding-left: .7em;
			margin-bottom: 0;
		}
		&.obligatorio{
			font-weight: normal;
		}
		&.error-message{
			clear: both;
			color: #d81e05;
			text-align: center;

		}
	}
	span{
		&.html-legend{
			padding-left: 0;
			font-weight: bold;
		}
	}
	#barraEstadoPasos{
		margin-top: 2.5em;
	}
	.fila{
		margin-top: 1em;
		a{
			font-size: 1.5em;
			line-height: 1.5em;
			margin-left: .5em;
		}
		fieldset{
			&.date{
				legend{
					margin-top: 0;
				}
			}
		}
		&.error{
			input[type="text"]{
				border: 1px solid #d81e05;
			}

		}
		&.literales{
			margin-top: 0;
			padding-top: 0;
			position: relative;
			padding-left: 10%;
			width: 90%;
			a{
				position: absolute;
				bottom: .5em;
			}
			span{
				width: 75%;
			}
		}
		.volver{
			margin-left: 0;
			&:before{
				content: "<<";
				display: inline-block;
				padding-right: .5em;
				text-decoration: none;
				
			}
		}
		.autorizacionMovil{
			clear: both;
			display: block;
			padding-left: 1.3em;
			position: relative;


			label{
				display: inline-block;
				float: none;
				font-size: 1.5em;
				margin-left: 2em;
				text-align: left;
				width: 70%;

			}
			input[type="checkbox"]{
				height: 1.1em;
				position: absolute;
				top: 3px;
				width: 1.1em;
				height: 1.1em;
			}

		}
	}
	.html-legend{
		letter-spacing: -0.05em;

	}
	.infoPasos{
		clear: both;
		margin-left: .8em;
		.title{
			&:before {
				color: #666;
				content:'>';
				float: left;
				left: -.5em;
				position: relative;
				width: 0;

			}
		}
	}
	.no-bullet{
		&:before{
			content: none;
		}
	}

	.roundcorners.formdegree.objectshadowsmoth{
		div{
			&:first-child{
				margin-top: 0;
			}
		}
		.cajadestico{
			background-color: #FFF;
			padding: 0;
			a{
				font-size: 1em;
				margin-top: 0;
			}
		}
		.no-margin-top {
			& + input[type="text"]{
				width: 55%;
			}
		}

	}
	#correoElectronico{
		width: 55%;
	}
}
/* fin autorizacion sanitaria */
/* required */
.required{
	margin-right: 1.5% !important;
	position: relative !important;
	width: 38.5% !important;
	&:after{
		color: #d81e05;
		content: '*';
		float: right;
		position: absolute;
		right: .25em;
		width: 0;
		top: .1em;
	}
	&.left{
		width: auto !important;
	}
	&.wide{
		width: auto !important;
	}
}
/* fin required */


/* DEYDE */
#contenido .interior #principal .siniestros h3{float: none; height: 1.1em; color:#666; }
#contenido .interior #principal .siniestros .link-right { font-size: 1.5em; line-height: 1.5em; float: right; }
#contenido .interior #principal .siniestros .estiloLista { background-color: #fff; border: 1px solid #ccc; color: #353535; position: absolute; z-index: 22; margin: 13px 5px 0 5px; left: 41%; font-size: 14px; }
#contenido .interior #principal .siniestros .estiloLista.Tipo2 { left: 67.2%;}
#contenido .interior #principal .siniestros .estiloLista .estiloItem { padding: 5px; cursor: pointer; }
#contenido .interior #principal .siniestros .estiloLista .estiloItem:hover { background: #1e90ff; color: #fff; cursor: pointer; padding: 5px !important; }
#contenido .interior #principal .siniestros .estiloLista .estiloItemSel { background: #1e90ff; color: #fff; cursor: pointer; padding: 5px !important; }
#contenido .interior #principal .siniestros #acCp + br { display: none; }
#contenido .interior #principal .siniestros .lista-seleccion-radio label[for="lunas"] br{display: none;}

//#contenido .interior #principal .siniestros #acPoblacion_list.estiloLista { background-color: #FF0;}
#contenido .interior #principal .siniestros fieldset .estiloLista { width: 178px;}
#contenido .interior #principal .siniestros fieldset.direccion .estiloLista { width: 178px;}
#contenido .interior #principal .llamamos .caja div.texto input[type="checkbox"]{
	    margin-top: 11px;
	}

#contenido {
	.interior{
		#principal{
			.deyde{
				display: inline-block;
				position: relative;
				width: 25%;
				input{
					width: 100% !important;
				}
				.estiloLista{
					left: 0;
					margin-left: 0;
					margin-right: 0;
					width: 203%;
					right: auto;
					div{
						line-height: 1em;
						&:nth-child(odd){
							background: #eeeeee;
						}
						&.estiloItemSel{
							background:#1e90ff;
						}
					}
				} 
			}
		}
	}
}


@-moz-document url-prefix() {  /* Estilos para firefox */
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.fixed-header {
						table {
							thead {
								th{
									&:first-child{
										div{
											margin-left: 0;
										}
									}
									div{
										margin-left: -1px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	#contenido .interior #principal .siniestros.patrimoniales {
		.tiposiniestromatriz li {
		    padding-bottom: 10px;
			.iframe {
				font-size: 1.5em;
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	#lateral { display:none }
	.twoCols  nav.subNav {
		width: 25%;
		margin-bottom: 2em;
		margin-right: 0;
		margin-left: 0;
	}
	.twoCols #principal{
		width: 100%;
		padding: 0 !important;
		margin:0;
	}
	.twoCols #principal .info{
		width: 80%;
	}
	#contenido #principal {
		.capaAlerta {
			.cajadestico {
				div:first-child {
					display: inline-block;
					padding: 2em 4% 2em 18%;
				}
			}
		}
	}
	#contenido {
		&.comunicacionCliente {
			margin-top: 0;
		}
	}
	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria{
						.bloqPest {
							.cajadestico {
								.ico-alert, .ico-info, .ico-OK{
									&:before{
										left: 1em;
									}
								}
							}
						}
						.fila{
							&.literales {
								span{
								}
							}
						}
					}
				}
			}
		}
	}


}
@media only screen and (min-width: 768px) and (max-width: 991px){

	#contenido {
		&.comunicacionCliente {
			.filaBotonTotal {
				ul {
					li {
						width: 100%;
						display: list-item;
						text-align: left;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 942px) and (min-width: 768px) {
	.filaBotonTotal{
		ul {
			li {
				width: 60%;
				margin-bottom: 1em;
				text-align: left;
				&:last-child {
					text-align: left;
				}
			}
		}
	}
	#pagoTarjetaOK {
		.filaBotonTotal {
			ul {
				li{
					&:last-child {
						text-align: right;
					}
				}
			}
		}
	}
	#divCuentaDiferente {
		#capaCCC {
			span{
				display: inline-block;
				width: 11% !important;
			}
			span.DC{
				width: 4% !important;
			}
			span.Cta{
				width: 20% !important;
			}
		}
	}
}

@media only screen and (max-width: 767px){

	.pestGY li a{
		max-width: 9.3em;
		padding: .5em 2em 0;
	}

	.ofertas{
		img{
			width: 90%;
			margin-left: 0;
		}
		article{
			img{
				width: auto;
			}
		}
	}

	#contenido {
		&.comunicacionCliente {
			#principal {
				width: 100%;
				float: none;
			}
			.interior {
				background: none;
			}
		}
	}

	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria {
						.fila{
							&.literales{
								display: inline-block;
								padding-left: 10%;
								width: 90%;
								span{
									margin-left: 0;
									padding: 0;
									width: 100%;
								}
								a{
									display: inline-block;
									margin-left: 0;
									margin-top: .5em;
									position: relative;
									padding-left: 0 !important;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 720px){
	.twoCols  nav.subNav {
		padding-right: 1em;
	}
	.filaBotonTotal ul li {
		display: list-item;
		width: 90%;
		margin-top: 1em;
		text-align: left;
		&:last-child {
			text-align: left; 
		};
	}
	#contenido .interior #principal {
		.bloqPest{
			&.redoficinas {
				div {
					form {
						input[type="button"] {
							float: none !important;
							margin-top: 1em !important;
						}
					}
				}
			}
			#pagoTarjetaOK {
				.filaBotonTotal {
					ul {
						li {
							width: 11em;
						}
					}
				}
			}
		}

	}
}

@media only screen and (min-width: 640px) {
	#contenido {
		.interior {
			#principal {
				.C70 {
					div.cajadestico {
						&.w60 {
							width: 60%;
							.ico-info, .ico-error, .ico-OK {
								padding-left: 20%;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 640px) {
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.cajadestico {
						.ico-alert {
							padding-left: 7.5em;
						}
					}
					&.talleres {
						article {
							div {
								.ico-info {
									padding-left: 7.5em;
									&:before {
										left: 2em;
									}
								}
							}
						}
					}
				}
				.C70 {
					div {
						&.cajadestico {
							.ico-info, .ico-error, .ico-OK, .ico-alert {
								padding-left: 6.5em;
								&:before {
									left: 2em;
								}
							}
							&.w60 {
								&+.filaBoton {
									margin-top: 0;
								}
							}
						}
					}
				}
				.caja {
					div.roundcorners.cajadestico {
						.ico-OK {
							padding-left: 6em;
							&:before {
								left: 1em; 
							}
						}
					}
				}
			}
			&.twoCols {
				#principal {
					.solicitudReembolso {
						.cajadestico {
							.ico-error {
								padding-left: 7.5em;
								&:before {
									left: 2em;
								}
							}
						}
					}
				}
			}
		}
	}
	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria{
						&.confirm {
							.cajadestico {
								.ico-alert{
									padding-left: 6.5em;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 580px) and (max-width: 720px) {
	#contenido.comunicacionCliente {
		.filaBotonTotal {
			ul {
				li {
					display: inline-block;
					&:last-child {
						text-align: right;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 580px) {
	.C70 {
		table.tablaRedonda, table.recibos  {
			display:none;
		}
	} 
	#contenido{
		.interior{
			#principal{
				.tableMobile {
					dd{
						&#ddCCC {
							input[type="text"]{
								&.sizeXS{
									margin-bottom: .5em;
								}
							}
						}
					}
				}
				#divCuentaDiferente {
					#capaCCC {
						span{
							display: inline-block;
							width: 15% !important;
						}
						span.DC{
							width: 6% !important;
						}
						span.Cta{
							width: 24% !important;
						}
					}
				}
                .siniestros.patrimoniales .resumen.tab{
                    padding-left: 0;
                }
			}
		}
	}
}
@media only screen and (max-width: 535px) {
	#contenido .interior #principal #nuevaCuenta{
		input[type="radio"] {
			width: auto;
		}
	}
	#contenido{
		.interior{
			#principal{
				#divCuentaDiferente{
					#capaIBAN, #capaCCC {
						input[type="text"] {
							&.sizeXS{
								width: 10%;
							}
						}
						label{
							width: 94%;
						}
					}
					#capaCCC {
						.literales {
							span{
								width: 0;
								padding: 0;
								margin: 0;

							}
						}
						p {
							padding-left: 0;
						}
						label.literalOc{
							width: 30%;
							text-align: right;
						}
					}
				}
			}
		}
	}
	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria {
						div{
							&.accordion{
								&.accordion-radio {
									div[role="tabpanel"] {
										.fila {
											input[type="radio"]{
												height: auto;
												width: auto;
											}
										}
									}
									div[role="heading"]{
										input[type="radio"]{
											float: left;
											margin-top: .5em;
											width: auto;
										}
										label{
											float: left !important;
											margin-left: 1%;
											width: 88%;
										}
									}
								}
							}
						}
						fieldset{
							padding-left: .75em;
							width: 100%;/**/
							&.yes-no {
								input[type="radio"]{
									width: auto !important;
								}
							}
							&.date{
								padding-left: 0;
								div{
									clear: both;
								}
							}
						}
						legend{
							margin-top: 0;
							text-align: left;
							width: 100%;
							&.label{
								text-align: left;
							}

						}
						span{
							&.lynd{
								margin-left: 0 !important;
							}
						}
						.caja{
							input[type="button"]{
								&.boton{
									width: auto;
								}
							}
							select{
								max-width: 90%;
							}
						}
						.fila{
							margin-top: 0;
						}
						.title{
							margin-top: .5em;
						}
						#divDocUnicio{
							input[type="number"]{
								width: 90%;
							}
						}
					}
				}
				.month-wrap{
					div{
						clear: none !important;
					}
				}
			}
		}
	}
	.required{
		width: auto !important;
	}
    #contenido .interior #principal .siniestros.patrimoniales{    
    .caja{
        label{
            width: auto;
        }
        #importe-factura label{
            width: auto;
        }
    }
    .bloqPest .caja .listados-danios-vehiculo {
        .ancho100 {
            label{
                width: auto;
            }
        }
    }
}
}

@media only screen and (max-width: 480px) {
	#contenido #contenidoInt .interior #principal .llamamos {
		.marcadorojo{ 
			padding-right: 0;
		}
		.radioahoramastarde{ 
			padding-right: 0;
		}
		p.leyenda.lyndH1{ 
			width: 97%;
		}
		.caja .fila label{ 
			width: 100%;
		}
		.caja .texto .fila.acepto label{
		    width: 90%;
		}
		.caja .fila input[type="text"],
		.caja .fila input[type="tel"]{ 
			width: 92%;
		}
	}
	header.C400 .CL96 h1 {
		margin-top: 16px;
	}
	.twoCols  nav.subNav {
		padding-right: 1em;
	}
	.twoCols #principal{
		padding-right: 1em !important;
	}
	.twoCols #principal .info{
		width: 98% !important;
	}
	#contenido {
		.interior {
			&.twoCols #principal .solicitudReembolso .cajadestico .ico-error {}
			#principal {
				.C70 {
					div.cajadestico {
						width: 90%;
						margin-top: 1em;
						&+.filaBoton {
							margin-top: 0;
						}
						.ico-info, .ico-error {}
						.ico-info p, .ico-error p {
							padding-top: 5px;
							width: 90%;
							padding-bottom: 5px;
						}
					}
					p.bono {
						width: 90%;
					}
					.enlaceAccion{
						float:none;
						margin-top: 0;
						margin-left: 1em;
					}
					.filaBoton {
						padding:0 1.5em 1.5em 1.5em;
						margin-top: 0;
						float: right;
						clear: both;
					}
				}
				.bloqPest {
					.cajadestico {
						.ico-alert{}
					}
					&.talleres{
						article{
							div{
								width: 100%;
								.cajadestico{
									margin-left: 0;
									p {
										width: 60%;
									}
								}
								.ico-info{}
							}
						}
					}
					&.redoficinas{
						img{
							margin-left: 1em;
						}
					}
					.modificarCuenta {
						margin-top: 0;
					}
				}
				dl.resumen.documentacion{
					dd {
						float: none;
						width: auto;
						clear: both;
					}
					dt{
						width: auto;
					}
				}
				.filaBoton.vidaColectivos {
					float: none;
					margin-top: 1em;
				}
				.enlaceAccion.fondoInversion{
					float:none;
					margin-top: 1em;
					padding-left: 1em;
				}
				.bloqPest{
					&.redoficinas{
					}
				}
				.caja input[type="text"]{
					width: 80%;
				}
				#divCuentaDiferente {
					#capaCCC, #capaIBAN {
						input[type="text"]{
							margin-left: 0 !important;
							&.sizeXS{
								width: 80%;
								
							}
						}
					}
					#capaCCC {
						&.fila {
							.literales {
								display: none;
							}
							label{
								&.literalOc {
									display: block;
									width: 90%;
									font-weight: normal;
									margin-left: 2%;
									margin-bottom: 0;
									text-align: left;
								}
							}
							input[type="text"]{
								width: 80% !important;
							}
						}
					}
				}
			}
			#barraEstadoPasos {
				display: none;
			}
		}
		#principal{
			.capaAlerta {
				.cajadestico {
					div:first-child {
						padding-left: 75px !important;
						padding-top: 1em;
					}
				}
			}
		}
	}
	#principal p {
		width: 90%;
	}
	.pestGY {
		border-bottom: 1px solid #fff;
		li {
			float: left;
			width: 100%;
			border-bottom: 1px solid #fff;
			background: #efefef;
			text-align: center;
			&:hover{
				background: #e41b13;
				color:#fff; 
			}
		}
		li.on{
			background: #e41b13;
			
		}
		a {
			min-height: 2.5em;
			float: none;
			display: inline-block;
			min-width: 80%;
			border-radius: 0;
			font-size: 1.2em;
			line-height: 1.1em;
			&:after, &:before {
				background-image: none;
			}
			&:hover{
				background: #e41b13;
				color:#fff;
			}
		}
	}
	#justificantePago {
		p {
			width: auto;
		}
	}

	#contenido #principal {
		.capaAlerta {
			.cajadestico {
				div:first-child {
					&:before {
						left: 2em;
					}
				}
			}
		}
	}
	.tableMobile {
		#ddCCC {
			label{
				width: 100%;
				text-align: left;
			}
		}
	}
	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria {
						fieldset{
							&.date {
								span{
									&.fecha{
										padding-left: .2em;
										padding-right: .2em;
									}
								}
							}
						}
						div{
							&.bloqPest {
								p{
									&.obligatorio{
										margin-top: -1.5em;
									}
								}
							}
						}
					}
				}
				.bloqPest {}
			}
		}
	}
}


@media only screen and (max-width: 1180px) and (min-width: 1024px) {
	#contenido .interior #principal .siniestros fieldset .estiloLista { width: 163px;}
	#contenido .interior #principal .siniestros fieldset.direccion .estiloLista.Tipo2 { width: 160px; left: 67.5%;}
}

@media only screen and (max-width: 1023px) and (min-width: 992px) { 
	#contenido .interior #principal .siniestros fieldset .estiloLista { width: 22.8%;}
	#contenido .interior #principal .siniestros fieldset.direccion .estiloLista.Tipo2 { width: 25%; left: 67.5%;}
}

@media only screen and (max-width: 991px) and (min-width: 768px) { 
	#contenido .interior #principal .siniestros fieldset .estiloLista { width: 22.8%;}
	#contenido .interior #principal .siniestros fieldset.direccion .estiloLista.Tipo2 { width: 24.7%; left: 67.6%;}
}

@media only screen and (min-width: 768px) {
	#fancybox-outer { background: none;}	
}

@media only screen and (max-width: 767px) and (min-width: 398px){
	#fancybox-wrap { height: 80% !important; overflow-y: auto;}	
	#fancybox-wrap.altoiphone { height: auto !important; }	
}

@media only screen and (max-width: 767px) and (min-width: 536px) {
	#contenido .interior #principal .siniestros fieldset .estiloLista { width: 22.7%; left: 36.4%;}
	#contenido .interior #principal .siniestros fieldset.direccion .estiloLista.Tipo2 { left: 62.6% !important; width: 24.7% !important;}
	#contenido .interior #principal .siniestros.patrimoniales fieldset .estiloLista { left: 41.1% !important;}
#contenido .interior #principal .siniestros fieldset.direccion .estiloLista.Tipo2 { left: 67.7% !important;}
}

@media only screen and (max-width: 767px) {
	#contenido .interior #principal .caja label { width:40%; text-align:left; margin-bottom: 10px; }
}

@media only screen and (max-width: 535px) and (min-width: 398px) {
	#contenido .interior #principal .caja div.fila { position:relative;}
	#contenido .interior #principal .siniestros.patrimoniales .caja .fila fieldset .estiloLista {width: 99.8% !important; left: 0 !important; }
	#contenido .interior #principal .siniestros fieldset.direccion .estiloLista.Tipo2 { left: 62.6% !important; width: 24.6%;}
#contenido .interior #principal .siniestros.patrimoniales .caja label { width:auto;}
}

@media only screen and (max-width: 397px) {
	#contenido .interior #principal .caja div.fila { position:relative;}
	#contenido .interior #principal .siniestros.patrimoniales .caja .fila fieldset .estiloLista {width: 99.1% !important; left: 0 !important; }
	#contenido .interior #principal .siniestros.patrimoniales .caja .fila input.euro-dcha-caja { width: 85% !important;}
	#contenido .interior #principal .siniestros.patrimoniales .caja label { width:auto;}
	#fancybox-wrap { height: 90% !important;}
}
@media only screen and (max-width: 340px) {
#contenido #contenidoInt .interior #principal .llamamos .radioahoramastarde{float: left;}
}
@media only screen and (max-width: 1024px) {
	#contenido .interior #principal .llamamos .caja div.texto input[type="checkbox"]{
		font-size: 17px;
	    margin-top: 9px;
	    margin-right: 5px;
	}
}
@media only screen and (max-width: 800px) {
	#principal .llamamos .caja .fila.error .error-message{
		position: relative;
		width: 90%;
		top: 0;
		text-align: center;
	}
	#principal .llamamos .caja .fila.error.acepto .error-message{
		position: relative;
		width: 90%;
		top: 0;
	}
}
@media only screen and (max-width: 900px) {
	#principal .llamamos .caja .fila.error .error-message.calendario{
		position: relative;
		width: 90%;
		top: 0;
		text-align: center;
	}
}