.caja {
	label {
		display:block;
		font-weight:bold;
		font-size: 1.4em;
    	line-height: 1.2em;
	}
	select {
		display:block;
		margin:1em 0;
		font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
		font-size:1.55em;
	}
}
.formdegree  {
	padding:2em;
}
.filaBoton {
	text-align:right;
}
dl.faq{
	margin-top:4em;
	dt {
		display:block;
		margin:.5em 0;
		padding:.3em 0 0 0;
		font-size:1.6em;
		line-height:1.3em;
		color:$color_mapfre;
		cursor:pointer;
		span {
			display:block;
			margin-left:2em;
			padding-bottom:.4em;
			border-bottom:1px solid #d6d6d5;
		}
		&:hover {
			text-decoration:none;
		}
		&:before {
			float:left;
			margin:0 .7em 0 0;
			width: 25px;
			height: 25px;
			content:"";
			background:url("../img/bck_panels.png") no-repeat 0 0;
		}
		&.up {
			span { border:none; }
			&:before {
				background-position:0 -25px;
			}
		}
		&:focus {
			border:1px dotted #000;
		}

	}
	dd {
		margin-left:2.8em;
		padding-left:1em;
		border-bottom:1px solid #d6d6d5;
	}
	.wysiwyg{
		ul {
			margin:2em;
			font-size:1.6em;
			ul {
				margin:1em 2em;
				font-size:1em;
			}
		}
		li{
			position: relative;
			margin-bottom: 1.4em;
			line-height: 1.1em;
			&:before {
				position: absolute;
				left: -.75em;
				top: -.05em;
				color: $color_mapfre;
				content:'\2022';
				font-size: 1.5em;
			}
		}
	}

}

@media only screen and (max-width: 767px) {
	.interior {
		#principal {
			position: static;
		}
	}
}

@media only screen and (max-width: 480px) {
	.caja {
		select {
			width:100%;
		}
	}
}
