


#contenido .interior #principal .caja{
	display:table;
	width:100%;
	margin-bottom:5em;
	

}
#contenido .interior #principal .caja fieldset.roundcorners{
	width:92%;
	padding:4%;
	position:relative;
	margin-bottom:1.5em;
	border: 2px solid #fff;
}
#contenido .interior #principal .caja div.roundcorners{
	width:92%;
	padding:4%;
	position:relative;
	margin-bottom:1.5em;
	border: 2px solid #fff;
	&.app-map{
		padding: 4% 0;
		width: 100%
	}
}

#contenido .interior #principal .caja legend{
	font-size:1.35em;
	font-weight:normal;
	color: $color_mapfre;
	margin:0;
	padding:0 0 1em .5em;
	background:url(../img/icos.gif) no-repeat 0 -470px;
	letter-spacing:-.05em;
	position:absolute;
	top:-1.5em;
	left:0;
}
#contenido .interior #principal .caja label,
#contenido .interior #principal .caja p.etiqueta{
	font-size:1.6em;
	font-weight:bold;
	line-height:1.2em;
	width:40%;
	float: left;
	text-align:right;
	padding:.2em .45em 0 0;
	margin: 0;
}
#contenido .interior #principal .caja p.texto{
	font-size:1.6em;
	line-height:1.2em;
	width:55%;
	float: left;
	padding:.2em .45em 0 0;
	margin: 0;

}
#contenido .interior #principal .caja input[type="text"], #contenido .interior #principal .caja input[type="password"], #contenido .interior #principal .caja input[type="tel"], #contenido .interior #principal .caja input[type="email"], #contenido .interior #principal .caja input[type="number"],
#contenido .interior #principal .caja select{
	font-size:1.6em;
	line-height:1.2em;
	float:left;
	margin:0 0 .5em 0;
	background:#fff;
	border:1px solid #ccc;
	height:1.2em;
	padding:3px 3px 1px 3px;
	width:25%;
	border-radius:1px;
	box-shadow:inset 2px 2px 7px 2px #ddd;
	&.disabled {
		background-color:#E8E8E8;
		color:#858585;
	}
}
#contenido .interior #principal .caja select{
	height:1.75em;
	width:auto;
	max-width:57%;
	font-size:1.5em;
	box-shadow:none;
	background:#fff;
	border-radius:0;
	height:auto;
	padding:0;
}
#contenido .interior #principal .caja input.dia,
#contenido .interior #principal .caja input.mes{
	width:1.7em;
}
#contenido .interior #principal .caja input.anio{
	width:2.2em;
}
#contenido .interior #principal .caja img.calendario,
.ui-datepicker-trigger,
.ui-datepicker-trigger:hover{
	width:37px;
	height:34px;
	background:url(../img/icos.gif) no-repeat -200px 0;
	margin:-5px 0 0 10px;
	/* Estylos para .ui-datepicker-trigger */
	cursor:pointer;
	border:none;
}
#contenido .interior #principal .caja input.sizeXL{
	width:57%;
}
#contenido .interior #principal .caja select.sizeXL{
	width:58%;
}
#contenido .interior #principal .caja input.sizeM{
	width:16%;
}
#contenido .interior #principal .caja select.sizeM{
	width:17%;
}
#contenido .interior #principal .caja input.sizeXS{
	width:10%;
}
#contenido .interior #principal .caja textarea{
	width:57%;
	background:#fff;
	border:1px solid #ccc;
	height:7em;
	font-family:$trebuchet;
	font-size:1.6em;
	padding:2px 3px;
	border-radius:1px;
	box-shadow:inset 2px 2px 7px 2px #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#contenido .interior #principal .patrimoniales .caja div.fila{
	padding:.3em 0!important;
}
#contenido .interior #principal .caja div.fila{
	width:100%;
	display:table;
	padding:.75em 0;
	&.error {
		position:relative;
		input, select, textarea {
			border:1px solid $color_mapfre;
		} 
	}
	&.nueva-linea{
		padding-left: 40%;
	}
}
#contenido .interior #principal .caja div.fila span{
	font-size:1.6em;
	line-height:1.2em;
	float: left;
	padding:.3em .5em 0 .5em;
	color:#333;
	
	&.infoError {
		display: block;
    	position:absolute; 
    	top:.5em;
    	right:0;
    	padding-top: 0.2em;
		font-size: 1.2em;
		font-weight: bold;
		color:$color_mapfre;
		width: 18%;
	}	
	&.infoErrorBloque {
		display: block;
	    position:absolute; 
	    top:.5em;
	    right:0;
	    padding-top: 0.2em;
		font-size: 1.2em;
		font-weight: bold;
		color:$color_mapfre;
		width: 25%;
	}	
	&.msgNewLine {
		position:static;
		float:none;
		display:block;
		text-align:right;
		font-size: 1.2em;
		font-weight: bold;
		color:$color_mapfre;
	}
}

#contenido .interior #principal .caja div.acepto {

	span.infoError {
		top:1.5em;
		right:12em;
	}
}

#contenido .interior #principal .caja .filaBoton {
	.fila.acepto {
		.infoError {
			top:.7em;
		}
	}
}

#contenido .interior #principal .caja form {
	.centrado {
		text-align: center;
		padding-right: 0 !important;
		padding-left: 0 !important;
		input {
			float: none !important;
			&.movilcode {
				width: 75px;
				text-align: center;
			    padding-left: 10px;
			    padding-right: 10px;
			}
		}
	}
}


#contenido .interior #principal .caja div.fila span.help{
	padding-top:.5em;
	width:29.5%;
	font-size:1.2em;
}
#contenido .interior #principal .caja div.fila span.helpLong{
	padding-top:.5em;
	width:41%;
	font-size:1.2em;
	margin-right:-2%;
}
#contenido .interior #principal .caja div.fila span.lynd{
	font-size:1em;
	line-height:.75em;
	float: none;
	color: $color_mapfre;
	padding:0;
	margin:0;
}
#contenido .interior #principal .caja div.filaRdCh{
	position:relative;
	margin:0 !important;
	padding:1em 0 !important;
	width:100%;
	display:table
}
#contenido .interior #principal .caja div.filaRdCh label{
	width:94%;
	float:left;
	text-align:left;
	line-height:1.2em;
}
#contenido .interior #principal .caja div.filaRdCh input{
	float:left;
	width:auto;
	border:1px solid red;
	margin:.25em .5em 0 0;
}
#contenido .interior #principal .caja div.filaBoton input{
	margin:.25em .5em 0 0;
	float:left;
	width:auto !important;
	text-align:left !important;
	vertical-align:middle;
}
#contenido .interior #principal .caja div.filaBoton label{
	float:left;
	padding-top:0;
	width:auto !important;
	text-align:left !important;
	line-height:1.2em;
}
#contenido .interior #principal .caja div.filaBoton a.volver{
	padding:.5em 0;
	font-size:1.6em;
	float:left;
}
#contenido .interior #principal form input.boton{
	float:right !important;
	margin:0 !important;
}
#contenido .interior #principal .caja a.ayuda{
	background:$color_mapfre;
	color: #fff;
	margin-left:.5em;
	text-decoration:none;
	padding:0 .5em;
}
#contenido .interior #principal form h3{
	margin-top:1em;
}
#contenido .interior #principal form .placeholder{
	color:#757575;
}
#contenido .interior #principal .leyenda{
	text-align:right;
}
#contenido .interior #principal .lyndH2{
	margin-top:-2.75em;
}
#contenido .interior #principal .leyenda span{
	color: $color_mapfre;
}
#contenido .interior #principal .mt0{
	margin-top:0;
}
#contenido .interior #principal h2.subTitlePpal + p.leyenda.lyndH2 {
	font-size: 1.5em;
	margin-top: -1.5em;
}
/* Formato para los check como la Política de privacidad. */

#contenido .interior #principal .caja div.texto{
	margin:.5em 0 1em 0;
	display:table;
	width:100%;
}
#contenido .interior #principal .caja div.texto label{
	width:90%;
	float: left;
	text-align:left;
	padding:.5em 0 0 0;
	margin: 0;
}
#contenido .interior #principal .caja div.texto input[type=checkbox],
#contenido .interior #principal .caja div.texto input[type=radio]{
	float:left;
	margin:.75em 0 0 0;
	height:auto;
	padding:2px 3px;
	width:5%;
	border:none;
	background:#fff !important;
	box-shadow:inset 0 0 0 0 #fff;
}


#contenido .interior #principal .boton {
	font-size:1.5em;
	background:$color_mapfre url(../img/icos.gif) no-repeat -960px -467px;
	color: #fff;
	height:auto;
	width:auto;
	padding: 5px 20px 5px 40px;
	border:none;
	cursor: pointer;
	margin-bottom:2em;
	text-decoration:none;
	border-radius:10px;
	box-shadow:none;
}

@media only screen and (max-width: 767px){

/* Formulario caja */
	#contenido .interior #principal .caja label,
	#contenido .interior #principal .caja p.etiqueta{
		width:35%;
	}

	#contenido .interior #principal .caja {
		margin-bottom: 1em !important;
		form {
			.filaBoton.centrado {
				text-align: right;
			}
		}
	}
}



@media only screen and (max-width: 535px) {

/* Formulario caja */
	#contenido .interior #principal .lyndH2{
		margin-top:0;
	}
	#contenido .interior #principal .caja label,
	#contenido .interior #principal .caja input,
	#contenido .interior #principal .caja input.sizeXL,
	#contenido .interior #principal .caja select.sizeXL,
	#contenido .interior #principal .caja textarea,
	#contenido .interior #principal .caja p.etiqueta,
	#contenido .interior #principal .caja p.texto,
	#contenido .interior #principal .caja div.fila span.help{
		width:94%;
		text-align:left;
		margin-bottom:.5em;
	}
	#contenido .interior #principal .caja input{
		&[type="checkbox"], &[type="radio"]{
			width: auto;
		}
	}
	#contenido .interior #principal .caja {


		div.fila{
			padding-left:.75em;

			span.infoError {
				display:block;
				float:none;
				width: 50%;
				padding-left:0;
				top: 3em;
			}

		}
	}
	#contenido .interior #principal .caja div.fila span.lynd{
		margin-left:-.7em;
	}
	#contenido .interior #principal .caja div.fila span.infoErrorBloque{
		width: 100%;
		position: relative;
	}


}




@media only screen and (max-width: 535px) {

/* Formato para los check como la Política de privacidad. */

	#contenido .interior #principal .caja div.texto input[type=checkbox],
	#contenido .interior #principal .caja div.texto input[type=radio]{
		margin:.75em 0 .25em 0;
	}
	
}
