.generica {
	#lateral {
		float:left;

	}
	#principal {
		float:right;
		h2 {
			padding-left:.6em;
			background:url("../img/bck_title.png") no-repeat 0 .3em;
			font-size:2.1em;
			border:none;
		}
	}
}

.popup {
	padding:.2em;
	.total {
		width:100%;
		max-width:100%;
	}
	header {
		padding:0 1.3em;
		@include box-sizing("border-box");
		background:$color_mapfre;
		border-radius:10px 10px 0 0;
	}
	#contenidoInt{
		border-top:none;
		border-radius:0;
	}
	#principal {
		float:none;
		width:96%;
		padding:2%;
		ul.normal {
			margin-left:2em;
		}
		.title{
			margin-bottom:3em;
			border-bottom:1px solid #d6d6d5;
			h1 {
				position:relative;
				top:9px;
				float:left;
				width:16em;
				background:#fff;
				font-style:normal;
				font-size:2.4em;
			}
			.printOption {
				float:right;
				padding-top:.5em;
			}
		}
	}

	.detalle {
		strong {
			display:block;
		}
		img {
			display:inline-block;
			vertical-align:middle;
		}
	}

	p {
		padding-left:.8em;
	}
}

.bienvenida {
	padding:0;
	background:#e8e8e8 url("../img/bck_popup.png") repeat-x 0 100% !important;
	#contenidoInt {
		width:100%;
		max-width:normal !important;
		min-height:554px;
		border-top:46px solid #b10000;
		text-align:right;
		background:url("../img/bck_bienvenida.jpg") no-repeat 0 0;
	}
	#principal {
		width:100%;
		padding:58px;
		@include box-sizing(border-box);
	}
	.wysiwyg {
		width:50%;
		margin-left:auto;
	}
	h1 {
		margin-bottom:34px;
		font-weight:normal;
		font-size:35px;
		span {
			font-weight:bold;
		}
	}
	p {
		line-height:22px;
		font-size:18px;
	}
	.tc {
		color:#b90000;
		span {
			color:#000;
		}
	}
	.firma {
		margin-top:2em;
	}
}

/* Bloque detalle del producto */

#datosProd{
	padding:1.5em; 
	background:#fcfcfc; 
	border:1px solid #d2d2d2; 
	border-radius:15px; 
	border-top-width: 2px;
	margin-bottom:1.5em; 
	font-size:1.2em; 
	color:#000;  
	P{
		margin:0; 
		padding:.35em 0 .15em 0;
		font-size: 1.3em; 
		font-weight: bold;
		a{
			font-weight:normal;
			margin-left: 1em;
		}
	}
	.dati {
		float: left;
		span { 
			font-size:1.2em;
		}
		.tit{
			font-weight:normal;
		}
	}
	.ncon{
		float: right;
		padding-top: .5em;
		.tit{ 
			font-weight:normal;
		}
	}
	&.prodycar {
		.ncon, .dati {
			float: none;
		}
		.consImg {
			width: 200px;
			float: right;
			text-align: center;
			border-left: 1px solid #d2d2d2;
			padding-left: 1.5em;
			img {
				display: block;
				margin: 0 auto 5px auto;
			}
		}
		p {
			font-size: 1.1em;
		}
	}
}

@media only screen and (max-width: 480px) {

	.popup {
			#principal {
				.title {
					h1 { width:auto }
				}
			}
		}

	#datosProd {
		&.prodycar {
			.consImg {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
}
