
/* Lateral Derecho */
.interior #lateral{
	width:25.5%;
	float: right;
	margin-bottom:2em;
	font-size:1.4em;
}
.interior #lateral .caja{
	border:1px solid #ccc;
	margin-bottom:1em;
	background:#fff;
	padding:8%;
	&.roundcorners a {
		white-space: nowrap;
	}
}
.interior #lateral .caja h1{
	color:$color_mapfre;
	font-size:1.4em;
	border-bottom:1px solid #ccc;
	padding-bottom:.75em;
	margin-bottom:.5em;
	line-height:1em;
}
.interior #lateral .caja h1 span.ico{
	width:41px;
	float:right;
}
.interior #lateral .caja h1.ayuda span{
	background:url(../img/icos.gif) no-repeat -100px 0;
	height:35px;
	margin-top:-.25em;
}
.interior #lateral .caja h1.faq span{
	background:url(../img/icos.gif) no-repeat -150px 0;
	height:50px;
	margin-top:-1em;
}
.interior #lateral .caja p{
	line-height:1.25em;
	padding-bottom:1em;
}
.interior #lateral .caja p tel{
	white-space:nowrap;
}
.interior #lateral .caja p.btn{
	padding:.25em 0 1em 0;
	display:table;
}
.interior #lateral .caja p.btn a.boton{
	text-decoration:none;
	float:left;
	width:auto !important;
	margin:0 !important;
	padding-top:.5em !important;
	padding-bottom:.5em !important;
}

.interior #lateral .caja ol.faq span.desplegable span.respuesta {
color: #666;
display: none;
line-height: 1.45em;}

.interior #lateral .caja ol.faq span.desplegable:hover span.respuesta {
display: block;}

.interior #lateral .caja ol.faq span.desplegable span.pregunta {
color: #dc291e;
cursor: pointer;
text-decoration: underline;
line-height:1.45em}

.interior #lateral .caja ol.faq span.desplegable:hover span.pregunta {
text-decoration: none;
color: #000;}

.desplegable {
display:inline-block;
}

.interior #lateral .caja ol.faq{
	list-style:none;
	line-height:1.45em;
}
.interior #lateral .caja ol.faq a{
	text-decoration:none;
	cursor:pointer;
}
/*.interior #lateral .caja ol.faq a span.pregunta{
	display:block;
	text-decoration:underline;
}
.interior #lateral .caja ol.faq a span.respuesta{
	display:none;
	color:#666;
}
.interior #lateral .caja ol.faq a:hover span.pregunta,
.interior #lateral .caja ol.faq a:focus span.pregunta{
	text-decoration:none;
	color:#000;
}
.interior #lateral .caja ol.faq a:hover span.respuesta,
.interior #lateral .caja ol.faq a:focus span.respuesta{
	display:block;
}*/
.interior #lateral .caja ol.faq{
	counter-reset:li;
    margin-left:0;
}
.interior #lateral .caja ol.faq > li{
	position:relative;
    margin:0 0 1em 2em;
    padding:0;
    list-style:none;
    background:#fff;
}
.interior #lateral .caja ol.faq > li:before {
    content:counter(li,decimal-leading-zero);
    counter-increment:li;
    position:absolute;
    top:0;
	font-size:.8em;
    left:-2.5em;
    @include box-sizing("border-box");
    width:1.75em;
    margin-right:0;
    padding:0;
    color:#fff;
    background:#696969;
    font-weight:bold;
    text-align:center;
	border-radius:25px;
	box-shadow:0 0 15px 3px #fafafa;
}
.interior #lateral div#tarjetaTC{
	background:url(../img/icos.gif) no-repeat 0 -75px;
	height:100px;
	padding:0;
}
.interior #lateral div#tarjetaTC a{
	width:100%;
	height:100%;
	display:block;
}
.interior #lateral .caja h2{
	font-size: 1.3em;
	clear: both;
	margin-bottom: .5em;
}
.interior #lateral .caja .resumen {
	font-size:1em;
	display: table;
	margin-top: 1em;
}
.interior #lateral .caja .resumen dt {
		float:left;
		clear:left;
		width:5em; 
		margin-bottom:.5em;
		padding-right:1em;
		text-align:right;
		font-weight:bold;
		line-height:normal;
	}
.interior #lateral .caja .resumen dd {
		float:left;
		width:8em;
		margin-bottom:.5em;
		line-height:normal;
	}
.interior #lateral .caja .resumen dd.doslineas{
	padding-top: 1.25em;
}
.interior #lateral .caja .cambiar {
	margin-left: 1.5em;
}


@media only screen and (max-width: 991px) {

/* CONTENIDO */

/* Plantillas Interiores */
	.interior #lateral{
		width:100%;
	}
	.interior #lateral .caja .resumen dt {
		width:40%; 
	}
	.interior #lateral .caja .resumen dd {
		width:40%;
	}
	.interior #lateral .caja .resumen dd.doslineas{
		padding-top:0; 
	}
}

