
.twoCols .caja {


	.reset {
		position:static;
		font-size:1.45em;
		background:none;
		letter-spacing:0;
		padding:0;
		color:#333;
		span {
			display:block;
			margin:1em 0;
		}
	}
	div.fila{
		span.help {
			clear:both;
			float:none;
			display:block;
			width:auto;
			margin-left:40%;
		}
		.info {
			position:relative;
			margin-left:1em;
			vertical-align:middle;
		}
		.tooltip {
			top:-11em;
			left:-10.5em !important;
			font-size:.9em;
			.ttbox {
				padding:1em;
			}
			.ttarrow {
				left:40%;
				bottom:-1em;
				padding:0;
			}
		}
		.reset{
			font-size:1em;
			span{
				display:inline;
				margin:0;
			}
		}
		select {

			font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
		}
		.noReq{
			width:38.4%;
			margin-right:.2em;
			padding-right:2.2%;
		}
		.respuesta {
			padding:.3em .5em 0 0;
		}
		.date {
			legend {
				> span {
					position:absolute;
					padding-left:4.8em;
					font-weight:bold;
				}
			}
			.wrap {
				margin-left:25.7em;
			}
			input {
				width:10%;
				&[type="button"]{
					width:38px;
					height:34px;
					margin-left:1em;
					border:none;
					background:url("../img/icos.png") no-repeat -200px 0;
					vertical-align:middle;
					cursor:pointer;
					text-indent:-100em;
				}
			}

		}


	}

	.cajadestico{
			background:url(../img/bg-dest-ico.gif) no-repeat left bottom #ffffff;
			margin-bottom: 2em;
			margin-top: 1em;
			border: 1px solid #eee;
			padding:0 !important;
			box-shadow: 1px 2px 2px #aaa;
			.ico-OK{
				display: inline-block;
				padding: 2em 4% 3em 17%;
				position: relative;
				&:before {
					position: absolute;
					top: auto;
					left: 3em;
					width: 43px;
					height: 43px;
					content: "";
					background: url(../img/iconos.png) no-repeat 0 0;
				}
				p{
					font-size: 1.6em;
					line-height: 1.6em;
					padding-top: .5em;
					&+p {
						padding-top: 0;
					}
				}
			}
			.ico-alert{
				display: inline-block;
				padding: 2em 4% 3em 17%;
				position: relative;
				&:before {
					position: absolute;
					top: auto;
					left: 3em;
					width: 43px;
					height: 43px;
					content: "";
					background: url(../img/iconos.png) no-repeat -43px 0;
				}
				p {
					padding-top: .5em;
					font-size: 1.6em;
					line-height: 1.2em;
					&+p {
						padding-top: 0;
					}
				}
			}
		}
		form fieldset .cajadestico {
			margin-left: 3.5em;
			width: auto !important;
		}
		&.olvido {
			margin-top: 3em;
			.cajadestico {
				width: 98% !important;
				margin-bottom: 2em !important;
			}
			.texto p{
				width: 94%;
				margin: 0 auto	0.5em auto;
			}
		}
	.filaRdCh {
		position: relative;
		margin: 0;
		padding: 1em 0;
		color: #666;
		h3 {
			position:relative;
			margin-top:0 !important;
			margin-bottom:.5em;
			padding:0 0 0 2em;
			font-size:1.6em;
			border:none;
			font-weight:normal;
			color:#666;
			&:before {
				position:absolute;
				top:-5px;
				left:0;
				width: 25px;
				height:25px;
				line-height:26px;
				background:url("../img/cd.png") no-repeat 0 100%;
				cursor:pointer;
				content:"";
			}
			&.on:before{
				background-position: 0 0;
			}
			&.cur {
				cursor:pointer;
			}
			&:focus {
				border:1px dotted #000;
			}
		}
	}
	.serviciosTelefonicos .filaRdCh h3{
		margin-bottom: 0px;
	}

}

.bloqueInfo {
	margin-bottom:2em;
	padding:1.4em;
	border:1px solid #dcdcdc;
	border-radius:10px;
	ul {
		margin:0 2em;
	}
	li {
		position:relative;
		margin-bottom:1em;
		font-size: 1.6em;
		line-height:normal;
		&:before{
			content:'\2022';
			color:$color_mapfre;
			position:absolute;
			top:-.2em;
			left:-.75em;
			font-size:1.5em;
		}
	}

}

#contenido .interior #principal .caja{
	.inline {
		label {
			float:none;
			text-align:left;
		}
		input {
			float:none;
			margin-top:0;
		}
	}
	label[for="tip"]{
		float:none;
		margin-bottom:1em;
		display:block;
		font-weight:bold;
		font-size: 1.4em;
    	line-height: 1.2em;
    	width:auto;
    	text-align:left;
	}
}

.contratoAreaClientes {
	a {
		&:before{
			background: url(../img/icos.png) no-repeat -332px -51px;
			width: 22px;
			height: 33px;
			padding-left: 1em;
			display: block;
			float: left;
			content: "";
			margin-top: -1em;
			margin-right: 0.5em;
		}
	}
	span{
		margin-top: 2em;

	}
}

.serviciosTelefonicos{
	background: url(../img/bgServiciosTelefonicos.jpg) no-repeat top right;
	margin-top: -1em;
	h3{
		span{
			color:$color_mapfre;
			display: block;
			width: 56%;
			border-bottom: 1px solid #d6d6d5;
			padding-bottom: 1em;
			}
	}
	.on span{
		border-bottom: none;
	}
	p{
		padding-left: 30px;
		margin: 10px 0 5px 0;
		span{
			margin-bottom: 1px;
		}
	}
	hr{
		margin-left: 3.1em;
	}
}

/* Clave de firma */
#contenido{
	.interior{
		#principal{
			fieldset{
				&.claveFirma{
					p{
						font-size: 1.2em;
						line-height: 1.2em;
					}
				}
			}
		}
	}
}
#container {
	float: left;
	margin: 0 0 1em 0;
	border: 1px solid #E0DBDB; 
	padding: 2%;
	&.anchoContainer{
		width: 96%;
	}
	#kbLayer{
		min-height: 199px;
		margin: 0 0 10px 0;
		display: inline-block;
		&.fleft {
			float: left;
			width: 70%;
			margin: 0;
		}
		#kbBox {
			position: relative;
			width: 328px;
			height: 129px;
			top: 35px;
			left: 86px;
			background-image: url("../img/keyboard.gif");
			background-position: 0px 0px;
			background-repeat: no-repeat;
		}
	}
	#kbForm{
		margin-top: 0px;
		&.fright {
			float: right;
			width: 27%;
			border-left: 1px solid #C0B9AF;
			padding: .5em .5em 0 .5em;
			height: 195px;
			label {
				margin-left: 1em;
				margin-top: .3em;
			}
		}
		label{
			font-weight: bold;
		}
		#dataInput {
			color: #000;
			margin-left: 1em;
		}
	}

	.ui-keyboard{
		margin-left: 0;
		&.ui-widget-content{
			background: none;
			border: none
		}
		.ui-keyboard-preview-wrapper{
			input{
				background: none;
				color: #000;
				padding-left: .3em;
			}
		}
		.ui-keyboard-button{
			min-width: 7%;
		}
		.ui-keyboard-space{
			width: 12em;
		}


	}
	.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
		background: #d81e05 !important;
		border: none !important;
	}
}

@media only screen and (max-width: 1024px){
	#container {
		#kbLayer{
			&.fleft{
				width: 100%;
			}
		}
		#kbForm{
			&.fright{
				width: 100%;
				height: auto;
				border-left: none;
				padding-top: 10px;
			}
		}
/*		.ui-keyboard{
			.ui-keyboard-button{
				min-width: 3em;
			}
		}*/
	}

}

@media only screen and (max-width: 991px) {

	#contenido div#contenidoInt.atencionCliente{
		background:url(../img/bg-atencionCliente.jpg) no-repeat 100% 8em;
	}

}

@media only screen and (max-width: 767px){

	#contenido div#contenidoInt.atencionCliente{
		background:none;
		.interior {
			#principal{
				.intro{
					width:100%;
				}
			}
		}
	}
	.interior {
		#principal {
			position: static;
		}
	}

}

@media only screen and (max-width: 640px) {
	.twoCols {
		.caja {
			.cajadestico {
				.ico-alert, .ico-OK {
					padding-left: 7.5em;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {

	.twoCols .caja {
		.cajadestico{
			.ico-OK, .ico-alert {
				&:before{
					left: 2em;
				}
			}
		}
	}
	
	#contenido .interior #principal .caja {
		input[type="text"], input[type="password"], select{
			width:100%;
			height:auto;
			padding:.3em .3em .3em .1em;
			@include box-sizing("border-box");
		}
		div.fila span.help, .noLbl input {
			margin-left:0;
		}
		div.fila .date {
			legend {
				span {
					position:static;
					padding-left:0;
				}
			}
			.wrap {
				margin-left:0;
			}
			input {
				width:5em;
			}
		}
	}
	#container {
		.ui-keyboard{
			.ui-keyboard-button{
				min-width: 16%; 
				min-height: 3em;
				font-size: 1.3em;
			}
		}
	}
}

@media only screen and (max-width: 320px) {

	#contenido .interior #principal .caja {

		div.fila .date {
			input {
				width:3em;
			}
		}

		div.fila span.infoError {
			position:static;
		}
		
	}

	
}

