.operativaAlta {

	#principal {
		float:none;
		width:100%;
		h2 {
			margin-bottom:0;
			padding-bottom:.5em;
			border:none;
			background:url("../img/bck_line.png") no-repeat 50% 90%;
			font-size:2.1em;
		}


		.flexslider {
			margin:0;
			border-radius:0;
		}

		/* Direction Nav */
		.flex-direction-nav {
			li{
				position:static;
				&:before{
					display:none;
					content:"";
					position:static;
				}
				a{
					position: absolute;
					top:50%;
					display: block;
					width: 92px; height: 92px;
					margin:-46px 0 0;
					background: url(../img/bck_arrows-oper.png) no-repeat 0 0;  cursor: pointer; text-indent: -9999px;
					&.next{
						background-position: -92px 0; right: -16px;
					}
					&.prev{
						background-position: 0 0; left: -16px;
					}
					&.disabled{
						opacity: .3; filter:alpha(opacity=30); cursor: default;
					}
				}
			}
		}

		.slides {
			ul {
				margin:0;
				padding:0;
				list-style:none;
			}
			li{
				position:static;
				margin:0;
				&:before{
					display:none;
					content:"";
					position:static;
				}
			}

		}

	}
	.num {
		float:left;
		display:block;
		padding-right:.1em;
		color:$color_mapfre;
		font-size:7em;
		font-style: italic;
		font-weight: bold;
		line-height: .7em;
	}
	.info {
		float:left;
	}
	.steps {
		margin:6em 0 0;
		padding-bottom:6em;
		text-align:center;
		background:url("../img/bck_steps.png") no-repeat 50% 100%;
		ol {
			display:inline-block;
			counter-reset: li;
			margin:0;
			padding:0;
			list-style:none;
		}
		li {
			float:left;
			position:relative;
			text-align:left;
			width:13em;
			margin-right:3em;
			padding-left:6.4em;
			span {
				display:none;
			}
			&:after {
				position: absolute;
				top: -.3em;
				left:0;
	    		width: 1.4em;
	    		height: 1.4em;
				margin: 0;
			    padding: .5em 0;
	  			@include box-sizing(border-box);
	    		@include background-image(linear-gradient(#fff, #767676));
	    		border-radius: 30px;
	    		color: #fff;
	    		content: counter(li, decimal);
	    		counter-increment: li;
	    		font-size: 4em;
	    		font-style: italic;
	    		font-weight: bold;
	    		text-align: center;
			}
		}
		a {
			text-decoration:none;
			font-size:1.4em;
			color:#555;
			&:hover {
				text-decoration:underline;
			}
		}
		.active {
			&:after{
				@include background-image(linear-gradient($color_mapfre,#ca150c));
			}
			&:before {
				position:absolute;
				top:6.4em;
				left:.5em;
				width:41px;
				height:20px;
				background:url("../img/bck_arrow.png") no-repeat 0 0;
				content:"";
			}
			a {
				color:$color_mapfre;
			}
		}
	}
	.step {
		height:23.1em;
		padding-left:10em;
		padding-top:16.8em;
		margin:0 auto;
	}
	.step1 {
		background:url("../img/bck_op-stp1.jpg") no-repeat 100% 0;
		.info {
			width:29em;
		}
	}
	.step2 {
		background:url("../img/bck_op-stp2.jpg") no-repeat 100% 0;
		.info {
			width:26em;
		}
	}
	.step3 {
		background:url("../img/bck_op-stp3.jpg") no-repeat 100% 0;
		.info {
			width:31em;
		}
	}



}

@media only screen and (max-width: 767px){
	.operativaAlta {
		.steps {
			display:block;
			margin-bottom:1em;
			padding-bottom:0;
			background:none;
			text-align: left;
			li {
				float:none;
				margin-bottom:4em;
				&.active:before {
					display:none;
				}
			}
		}
		.num, .flex-direction-nav {
			display:none;
		}
		.step {
			float:none;
			width:100%;
			height:auto;
			padding-top:0;
			padding-left:0;
			background:none;
		}
		.step1, .step2, .step3 {
			.info {
				width:100%;
			}
		}
	}
	.interior {
		#principal {
			position: static;
		}
	}

}
