
.queEsArea {
	background:url(../img/bck_quees.jpg) no-repeat 52% 12em;
	#principal {
		h2 {
			padding-left:.6em;
			background:url("../img/bck_title.png") no-repeat 0 .3em;
			font-size:2.1em;
			border:none;
		}
		.entry {
			width:60%;
		}
		.gestion-productos {
			margin-bottom:2em;
			h3 {
				position:relative;
				margin:0 0 .5em;
				padding:0 0 0 2.5em;
				font-size:1.5em;
				color:#333;
				background:none;
				&:before{
					position:absolute;
					left:0;
					content:"";
					background-image:url("../img/icos_gestion-pro.png");
					background-repeat:no-repeat;
				}

				&:focus {
					outline:1px dotted #000;
				}
			}
			li:before{
				font-size:1em;
				position:static;
				content:"";
			}
			> ul {
				>li{
					display:inline-block;
					width:47%;
					margin-right:1.5em;
					padding:1.5em .2em 1.5em 3.2em;
					@include box-sizing("border-box");
					vertical-align:top;
					border-bottom:1px solid #babbbe;
					background:url("../img/ico_mas.png") no-repeat .5em 1.4em;
					&.cur{
						cursor:pointer;
					}
					&.up{
						position: relative;
						border-radius:10px 10px 0 0;
						background-color:#f0efee;
						border-bottom:none;
						background-image:url("../img/ico_menos.png");
					}
					&.op1{
						h3:before {
							top:-24px;
							width:31px;
							height:45px;
							background-position:0 0;
						}
					}
					&.op2{
						h3:before {
							top:-15px;
							width:27px;
							height:53px;
							background-position:-247px 0;
						}
						.desplegable {
							top:5em;
						}
					}
					&.op3{
						h3{
							padding-left:3em;
							&:before {
								top:-24px;
								width:35px;
								height:46px;
								background-position:-100px 0;
							}
						}

					}
					&.op4{
						h3{
							padding-left:6em;
							&:before{
								top:-26px;
								width:84px;
								height:43px;
								background-position:-163px 0;
							}
						}
					}
					&.op5{
						h3:before {
							top:-22px;
							width:30px;
							height:46px;
							background-position:-70px 0;
						}
					}
					&.op6{
						h3:before {
							top:-22px;
							width:28px;
							height:45px;
							background-position:-135px 0;
						}
					}
					&.op7{
						h3{
							padding-left:3em;
							&:before {
								top:-17px;
								width:39px;
								height:51px;
								background-position:-31px 0;
							}
						}
						.desplegable {
							top:5em;
						}

					}
					&.op8{
						h3{
							&:before {
								top: -20px;
								width: 30px;
								height: 46px;
								background-position: -278px 0;
							}
						}
					}
					ul.desplegable {
						position:absolute;
						left:0;
						top:4em;
						z-index:100;
						width:100%;
						background:#f0efee;
						padding-left:7em;
						padding-bottom:1em;
						border-radius:0 0 10px 10px;
						@include box-sizing("border-box");
					}
					li {
						list-style:disc;
						margin-bottom:.4em;
						line-height:normal;
						font-size:1.6em;
					}
				}
			}
		}
	}
	.det {
		.normal {
			margin-left:0;
		}
		img {
			float:left;
			margin-right:1em;
		}
		div {
			width:75%;
			float:left;
		}
	}

}

@media only screen and (max-width: 991px) {

	.queEsArea {
		background-position:100% 12em;
		.det {
			img {
				float:none;
			}
			div {
				float:none;
				width:100%;
			}
		}
	}

}

@media only screen and (max-width: 767px){
	.queEsArea {
		background:none;
		#principal {
			.entry {
				width:100%;
			}
			.gestion-productos{
				> ul {
					>li{
						width:100%;
					}
				}
			}
		}
		#principal {
			position: static;
		}
	}

}

