#contenido .interior #principal .caja{
	div.fila {
		 span.help {
	    	clear: both;
	    	display: block;
	    	float: none;
	    	margin-left: 40%;
		    width: auto;
		    img{
		    	vertical-align: top;
		    }
	   	}
   	}
   	.inline {
   		margin-left:20em;
   		div.fila {
   			display:inline-block;
   			width:10em;
   		}
   		label {
   			width:auto;
   		}
   		input.sizeXS {
   			width:1.2em;
   		}
   		#portal {
   			margin-left:.6em;
   		}
   	}
	h3, h4 {
		margin-top:0;
		padding-top:0;
		font-size: 1.6em;
    	line-height: 1.2em;
    	color:#333;
    	border:none;
    	background:none;
	}
	.dir {
   		margin-left:4.1em;
   		margin-top:1em;
   	}
	.title {
		margin-top:2em;
		padding-left: .6em;
		background: url("../img/bck_title.png") no-repeat 0 .3em;
		font-size: 2.1em;
		color:$color_mapfre;
	}
	.reset {
		background: none;
	    color: #333;
	    font-size: 1em;
	    letter-spacing: 0;
	    padding: 0;
	    position: static;
	}
	.date {
		legend {
			> span {
				position:absolute;
				padding-left:4.8em;
				font-weight:bold;
			}
		}
		.wrap {
			margin-left:25.7em;
		}
		input {
			width:10%;
			&[type="button"]{
				width:38px;
				height:34px;
				margin-left:1em;
				border:none;
				background:url("../img/icos.png") no-repeat -200px 0;
				vertical-align:middle;
				cursor:pointer;
				text-indent:-100em;
			}
		}
	}
	div.cajadestico{
		width:100%;
		padding:0;
		.ico-OK {
			text-align:center;
			padding-bottom: 0;
		}
		
	}
	.action {
		margin-bottom:0;
		font-size:1em;
		text-align: right;
	    padding-bottom: 3em;
	    padding-right: 4%;
		.boton {
			margin-bottom:0;
		}
	}
	p.sep {
		margin-top:2em;
	}
	.sin-ico{
	 	display:inline-block;
	 	min-height:7em;
	 	padding:4% 2% 2% 4%;
	 	img{
	 		float: left;
	 		margin-right: 2em;
	 		margin-top: .5em;
	 	}
	 	.texto{
	 		float: left;
	 		width: 72%;
	 		p{
	 			margin: 0 0 .5em 0;
	 		}
	 	}
	 }
}


#contenido .interior #principal #alta-ttc-form .caja{
	label {
	    	width: 44%;
	   	}
	div.fila {
		 span.help {
	    	margin-left: 44%;
	    	}
	    }
   	}

.interior #principal {
	.tagLine {
		margin-bottom:.5em;
		font-size:2.1em;
		font-weight:bold;
	}
	.cajadestico {
		.ico-info{
/*			min-height:10em;*/
		}
		.ico-reloj {
			min-height:8em;
			p {
				margin-bottom:0;
			}
			.hor {
				color:$color_mapfre;
			}
		}
	}
	.infoAlta {
		.cajadestico {
			.ico-alert, .ico-reloj {
				min-height:8em;
				padding-left: 8em;
			}
			.ico-alert{
				p{
					margin-bottom: 0;
					span{
						color: $color_mapfre;
					}
				}
			}
		}
	}
}

.text-ico{
	color: #8e8d89;
	position: relative;
	padding-left: 35px;
	margin-bottom: 2em !important;
	&:before{
		background: url(../img/iconos.png) no-repeat;
		content: '';
		position: absolute;
		display: inline-block;
		height: 30px;
		width: 30px;
		background-size: auto 30px;
		top: -5px;
		left: 0;
	}
	&.ico-alert{
		&:before {
			background-position: -30px 0;
		}
	}
}

.infoAlta {
	.flt {
		width:33.1em;
	}
	.frt {
		width:33.1em;
	}

}

.edit {
	font-size:1.3em;
}

.resumen {
	font-size:1.6em;
	dt {
		float:left;
		clear:left;
		width:20em; 
		margin-bottom:1em;
		padding-right:1em;
		text-align:right;
		font-weight:bold;
		line-height:normal;
	}
	dd {
		float:left;
		width:17em;
		margin-bottom:1em;
		line-height:normal;
	}
}

.decl {
	span {
		display:block;
		margin-top:1em;
	}
	a {
		display:inline-block;
		margin-top:1em;
		&:before {
			display:block;
			float:left;
			width:22px;
			height:33px;
			margin-top:-1em;
			margin-right:.5em;
			padding-left:1em;
			background:url("../img/icos.png") no-repeat -332px -51px;
			content:"";
		}
		&.sin-icono:before {
			content: none;
		}
	}
	
}

.ifr{
	width:100%;
	height: 66em;
	margin-bottom: 1em;
	margin-top: 1em;
}

@media only screen and (min-width: 1083px) {
	.infoAlta {
		.flt {
			width:45%;
		}
		.frt {
			width:45%;
		}
	}
}
@media only screen and (max-width: 1083px) {
	.infoAlta {
		.flt {
			width:45%;
		}
		.frt {
			width:45%;
		}
	}
}

@media only screen and (max-width: 767px) {
	.resumen {
		dt {
			float:none;
			width:100%;
			text-align:left;
		}
		dd {
			float:none;
			width:auto;
		}
	}
	.infoAlta {
		.flt, .frt { 
			float:none; 
			width:auto 
		}

	}
	.interior #principal {
		position: static;
		.cajadestico {
			.ico-info{
				background-size:auto auto;
			}
			
		}
	}
}

@media only screen and (max-width: 660px){
	.interior {
		#principal {
			.cajadestico {
				.ico-block, .ico-reloj, .ico-OK, .ico-info, .ico-alert {
					padding-left: 7.5em;
				}
			}
		}
	}
}

@media only screen and (max-width: 480px) {

	.C360 {
		width:100%;
		
	}

	.interior #principal {
		.cajadestico {
			.ico-OK{}
			.ico-block {
				padding-left: 6.5em;
				&:before {
					left: 2em;
				}
			}
		}
		.infoAlta .cajadestico .ico-alert {}
	}


	#contenido .interior #principal .caja {
		input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"], select{
			width:100%;
			height:auto;
			padding:.3em .3em .3em .1em;
			@include box-sizing("border-box");
		}
		div.fila span.help, .noLbl input {
			margin-left:0;
		}
		.dir {
			margin-left:0;
		}
		
		.inline {
			margin-left:0;
			input.sizeXS {
				width:2em;
			}
		}
		div.fila span.infoError {
			clear:both;
			display:block;
			position:static;
			top:6.5em;
			width: 75%;
		}
	}
}

@media only screen and (max-width: 535px) {
	#contenido {
		.interior {
			#principal {
				#alta-ttc-form, #alta-sms-form {
					.caja{
						label {
						    	width: 94%;
						    	text-align: left;
					   	}
						div{
							&.fila {
								span{
								 	&.help {
						    			margin-left: 0;
					    			}
					    		}
					    	}
					    }
						.lynd{
					    	margin-left: 0;
				    	}
				    }
				}
			}
		}
   	}
}


@media only screen and (max-width: 320px) {
	.interior #principal .cajadestico .ico-block{}
	#contenido .interior #principal .caja {		
		.date {
			legend {
				> span {
					padding-left:0;
				}
			}			
			padding-left: 0;
			.reset{
				clear:both;
				display:block;
				position:relative;
				.lynd{
					float: right;
				}
			}
			.wrap {
				margin-left:12.7em;		
				clear: both;		
			}
		}
	}	
}




