
.interior #principal {
	margin-top:1em;
	h1 {
		width:14em;
	}
	ul.normal > li {
		margin-bottom:1em;
	}
	.copy {
		width:52em;
		font-weight:bold;
	}
	.tagLine {
    	font-size: 2.2em;
    	font-style:italic;
    	font-weight: normal;
    	letter-spacing: -0.05em;
    	margin: 0 0 0.75em;
	}
	.tc {
    	color:$color_mapfre;
    }
    .banner {
		padding:2.9em 2.6em 2.2em 25em;
		border:1px solid #ddd;
		@include border-radius(5px);
		background:url("../img/bck_banner.jpg") no-repeat 0 0;
		text-align:center;
		p {
			margin-bottom:.5em;
			font-size: 2.2em;
	    	font-style:italic;
	    	letter-spacing: -0.05em;
		}
		strong{
			color:$color_mapfre;
			font-weight:normal;
		}
		.boton {
			display:inline-block;
			padding: 9px 20px 9px 40px;
			a { 
				color:#fff;
				text-decoration:none;
				font-size:1.5em;
			}
		}
	}
}

.generica {
	#lateral {
		position:static;
		float:right;
	}
	#principal {
		float:left;
		h2 {
			font-size:2.1em;
			border:none;
		}
	}
}



@media only screen and (max-width: 991px) {
	#lateral { display:none }
	.interior #principal {
		margin-top:1em;
		h1, .copy {
			width:auto;
		}
	}
}

@media only screen and (max-width: 767px){

	.interior {
		#principal {
			position: static;
		}
	}

}

@media only screen and (max-width: 480px) {
	.interior #principal {
		.banner {
			padding:2em 0;
			background:none;
		}
	}

}
