@import "compass/css3";
$experimental-support-for-svg: true; // Necesario para que los degradados css3 funcionen en IE9 y Opera
$color_mapfre:#d81e05;
$trebuchet:"Trebuchet MS", Arial, Helvetica, sans-serif;

@import "mixins";
