@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?frm2ib');
  src:  url('../fonts/icons.eot?frm2ib#iefix') format('embedded-opentype'),
    url('../fonts/icons.ttf?frm2ib') format('truetype'),
    url('../fonts/icons.woff?frm2ib') format('woff'),
    url('../fonts/icons.svg?frm2ib#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-asistencia-informatica:before {
  content: "\e900";
}
.icon-bricolaje-hogar:before {
  content: "\e901";
}
.icon-danhos-agua:before {
  content: "\e902";
}
.icon-danhos-electricos:before {
  content: "\e903";
}
.icon-fenomenos-atmosfericos:before {
  content: "\e904";
}
.icon-intento-de-robo:before {
  content: "\e905";
}
.icon-juridico:before {
  content: "\e906";
}
.icon-perdida-de-llaves:before {
  content: "\e907";
}
.icon-reparacion-electrodomesticos:before {
  content: "\e908";
}
.icon-responsabilidad-civil:before {
  content: "\e909";
}
.icon-robo:before {
  content: "\e90a";
}
.icon-roturas-cristales:before {
  content: "\e90b";
}
.icon-todoriesgo:before {
  content: "\e90c";
}