#contenido {
	.interior {
		#principal{
			.bloqPest{
				.capa-iban{
					input{
						width: 3em;
						&+input{
							margin-right: 1%;
						}
						&[type="text"]{
							margin-left: 0 !important;
							margin-right: 1%;
						}
						&:last-child{
							margin-right: 0;
						}
					}
				}
				.capa-ccc{
					.literales{
						padding-top: 0;
						
						label{
							font-weight: normal;
							padding-right: .5em;
							text-align: left;
							width: 8%;
							&[for="entidad"]{
								margin-left: 41%;
							}
							&[for="numCuenta"] { 
								width: 25%; 
							}
						}
					}
					.literalOc{
						display: none;
					}
					legend{
						&+label{
							&+input{
								margin-left: 0;
							}
						}
					}
					input{
						margin-bottom: 0;
						margin-left: 1%;
						width: 7%;
						height: auto !important;
						-webkit-box-sizing: content-box;
						-moz-box-sizing: content-box;
						box-sizing: content-box;
						&.num-cuenta{
							width: 25%;
						}

					}
					p{
						margin-left: 0 !important;
					}
				}
				.desplazado-izquierda{
					.capa-ccc {
						.literales {
							label[for="entidad"]{
								margin-left: 32.5%;
							}
						}
					}
				}
			}
		}
	}
}