// Mixins
@mixin clear($elemento) {
	#{$elemento}:before, #{$elemento}:after { content:""; display:table; }
	#{$elemento}:after { clear:both; }
}

@mixin formato_titulo_ppal {
	color: $color_mapfre;
    font-size: 3.2em;
    font-style: italic;
    font-weight: normal;
    letter-spacing: -0.05em;
    line-height: 1em;
    margin-bottom: 0.2em;
}

@mixin formato_subtitulo_ppal {
	color: $color_mapfre;
    font-size: 2.5em;
/*    font-style: italic;*/
    font-weight: normal;
    letter-spacing: -0.05em;
    line-height: 1em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid #D6D6D5;
}

@mixin rwd_menu(){

	.CL93{
		div{
			ul{
				background:#494949;
				a {
					color:#fff;
				}
			}
			li {
				.pixel {
					display:none;
				}
			}
		}
	}
	.CL94 {
		margin-top:6em;
	}
	.CL95{
		background:#494949;
		display:none;
		float:right;
		width:auto;
		ul {
			width:auto;
		}
		li, a {
			float:none;
			display:block;
			min-height:.1em;
		}
		br {
			display:none;
		}
	}
	.wrapNav {
		position:relative;
		z-index:112;
		margin-top:5em;
		.on {
			position:absolute;
			left:0;
			top:1.8em;
			z-index:1000;
			display:block;
			width:100%;
			padding-top:1em;
			border-top-left-radius:0;
			border-top-right-radius:0;
			@include box-sizing(border-box);
		}
		div:hover .menuPrip span.ico {
			background-position:-150px -50px;
		}
	}
	.posicion, .logado{
		.wrapNav {
			margin-top:0;
		}
		.menuPrip, .CL95 {
			background:$color_mapfre;
		}
	}
	.menuPrip {
		display:block;
		position:relative;
		z-index:9999;
		padding:.9em 1.8em;
		font-size:1.5em;
		background:#494949;
		color:#fff;
		border-top-left-radius:10px;
		border-top-right-radius:10px;
		@include box-sizing(border-box);
		span.ico {
			display:inline-block;
			width:18px;
			height:18px;
			vertical-align:middle;
			background:url(../img/icos.png) no-repeat -125px -50px;
		}
	}
}

@mixin rwd_menu_opciones(){
	.CL93{
		div{
			ul{
				background:#494949;
				a {
					color:#fff;
				}
			}
			li {
				.pixel {
					display:none;
				}
			}
		}
	}
}

@mixin rwd_logos(){
	.CL92 {
		float:none;
		a.tcpa{
			display:block;
			position:static;
			margin-top:1em;
		}
	}
}

@mixin rwd_logo_mapfre(){
	.CL96 {
		float:none;
		width:auto;
		clear:both;
		margin:1em 0;
		text-align:left;
		h1 {
			position:static;
		}
		p {
			float:none;
			width:auto;
			margin-bottom:0;
		}
	}

}

@mixin rwd_carrusel_posicion(){
	.C340 {
		.flex-pauseplay, .flex-control-nav{
			position:static;
			margin-top:2em;
		}
	}
}
