@media (-webkit-min-device-pixel-ratio: 0) {
  #contenido select,
  #contenido select[size="0"],
  #contenido select[size="1"] {
    background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==) !important;
    background-repeat: no-repeat !important;
    background-position: right center !important;
   	padding-right: 20px !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
  }
}

@media only screen and (max-width: 1000px){
	#fancybox-frame{
		max-width: 100%;
	}
	/*#fancybox-wrap{
		width: 95% !important;
	}*/
	#fancybox-content{
		&>div{
			max-width: 100% !important;
		}
	}
}

@media only screen and (min-width: 769px) and (max-width: 1200px){
	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria {
						.fila{
							&.literales{
								padding-left: 5%;
								width: 95%;
							}
						}
					}
				}
			}
		}
	}
}

@media only screen and (min-width: 1190px)  {
	#fancybox-wrap{

	}
	body,.body{
		&.popup {
			.autorizacion-sanitaria {
				form {
					.fila {
						.description{
							margin-left: 47%;
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 1180px)  {
	.posicion, .logado{
		.CL95 {
			a {
				padding:1em 2.4em;
			}
		}
	}

}
@media only screen and (max-width: 1180px){
	.content-video .kWidgetIframeContainer{
		width: 100% !important;
	}
}
@media only screen and (max-width: 1180px){
	#contenido {
		.interior{
			#principal{
				.deyde{
					.estiloLista{
						width: 170%;
					}
				}
			}
		}
	}
}


@media only screen and (min-width: 992px) and (max-width: 1180px) {

	header{
			&.posicion, &.pestTC{
				height:auto;
			}
	}


	/* CL10 Login particulares y empresas */

	.CL10 {
		width:40%;
	}

	.posicion, .logado{
		
		.CL95 {
			a {
				padding:1em 1.9em;
			}
		}
	}
	.CL61 {
		width:48em;
		li {
			width:47%;
		}

	}
	.CL95 {
			a.line1{
				padding:1.5em 1.25em;
			}
		}

	.twoCols #principal{
		width: 71.3em;
	}
	#barraEstadoPasos{
		&.p9{
			img{
				&+ul{
					li{
						font-size: 1em;
					}
				}
			}
		}
	}
}



/*@media only screen and (max-width: 1024px) { *//* ipad landscape */
@media only screen and (max-width: 1024px), screen and (max-device-width : 1024px)  {
	section#contenido {
		/* faq */
		div#contenidoInt.total div.interior.cl article#principal form.caja div.filaBoton input.boton {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
		/* fin faq */
		/* carrusel */
		&.posicion {
			div#contenidoInt {
				section#carrusel.C340 {
					margin-top: 22px;
				}
				&.total div.C360 {
					top: 3.6em;
				}
			}
		}
		/* fin carrusel */
	}
	/* atencion cliente */
	.twoCols #principal{
		width: 64.3em;
	}
	/* fin atencion cliente */
	/* scroll */
	#shadowbox_body_inner, #sb-body-inner {
		overflow:auto;
		-webkit-overflow-scrolling:touch;
	}
	/* fin scroll */


	#contenido {
		.interior {
			#principal {
				.caja {
					select{
						padding-left: 3px;
					}
				}
				.siniestros input[type="checkbox"]{
					margin-bottom: 7px;
					margin-top: 0px;
					vertical-align: middle !important;

					height: 1.2em !important;
					width: 1.2em !important;
				}
			}
		}
	}

/* Nueva home tablet horizontal ----------------------------------------------------------------------------------------------------------- */
	/*
	body {
		&#nueva-home {
			background: url("../img/bg_body.png") repeat-x 0 -6px !important;
			header {
			    padding-bottom: 53px;
			    .cabecera {
			    	.menu {
						a {
							font-size: 1.5em;
						}
			    	}
			    }
			}
			section {
				.total {
				    width: 95.3%;
				    #contenido, .video {
				    	width: 50%;
					    box-sizing: border-box;
				    }
				    #contenido {
					    padding-left: 1%;
					    margin-top: 33px;
		    			width: 50%;
					    #formulario {
					    	#acceso {
					    		fieldset {
					    			margin: 0 5%;
				        			width: 90%;
	    							legend {
	    								padding-top: 0.75em;
	    								padding-bottom: 0.75em;
	    							}
	    						}
					    	}
					    }

					    .reg {
					    	.links {
								.con, .faq {
								    width: 50%;
								}
					    	}
					    }
				    }

				    .video {
					    padding-right: 1%;
					    h1 {
				    	    font-size: 2.4em;
    						width: 150%;
					    }
				    }
				}
			}
		}
	}
	*/

/* Fin de Nueva home tablet horizontal ----------------------------------------------------------------------------------------------------------- */

}


@media only screen and (min-width: 992px) and (max-width: 1023px) {
		.twoCols .subNav,
		.twoCols #principal{
		}
}

@media only screen and (min-width: 1024px) and (max-width: 1040px){
	.twoCols .subNav {width: 17em;}
	.twoCols #principal {width: 70.6em;}
}


@media only screen and (max-width: 1023px){
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.no-form {
						input[type="checkbox"]{
							vertical-align: top !important;
							position: relative;
							top: 3px;
							&+ label{
								max-width: 90%;
							}
						}
					}
					.fila{
						&.fila-mitad{
							width: 100%;
							float: none;

						}
					}
				}
				.siniestros {
					.calendario-no-popup{
						margin-left: 0;
					}
					.buscador-fecha {
						.boton{
							margin-top: 0 !important;

						}
					}
				}
				.tooltip-informacion{
					&.derecha {
						.infoMsg{
							left: auto !important;
							right: 0;
							top: 22px;
	/*						width: auto;*/
							&:before, &:after{
								content: none;
							}
						}
					}
				}
			}
		}
	}
	/* IBAN-CCC */
	#contenido {
		.interior {
			#principal{
				.bloqPest{
					.capa-ccc{
						.literales{
							label{
								width: auto;
							}
						}
					}
				}
			}
		}
	}
	/* fin IBAN-CCC */
}
@media only screen and (max-width: 991px) {
	@include clear("#headerInt");
	header{
		&.posicion, &.pestTC{
			min-height:14em;
			height:auto;
		}
	}
	.CL92{
		position:static;
		float:left;
	}
	/* CONTENIDO */

	#contenidoInt.particulares {
	/*	background:url(../img/bg-particulares.jpg) no-repeat 50% 0;*/
	}
	#contenidoInt.empresas {
		background:url(../img/bg-empresas.jpg) no-repeat 70% 0;
	}

	.interior #central,
	.interior #lateral,
	.interior #principal,
	.interior .subNav {
	/*	width:73%;*/
	}



	/* CL10 Login particulares y empresas */

	.CL10 {
		width:55%;
		max-width:405px;
	}

	/* CL91 Informacion usuario conectado */

	.CL91 {
			width:60%;
	}
	.CL91 .buzon {
		width:100%;
		padding:0 0 1em 0;
		text-align:right
	}
	.CL91 .usuario {
		width:68%;
		padding:0 1%;
	}
	.CL91 .empresa {
		width:30%;
	}
	.CL91 .empresa img {
		width:97%;
	}

	/* CL95 Menu horizontal principal */

	.posicion .CL95, .logado .CL95 {
		margin-bottom: 0;
	}



	/* CL96 Texto clientes (cabecera acceso) */

	.CL96 {
		margin:0 0 0 30%;
		width:70%;
	}
	.CL96 p {
		float:right;
		margin-bottom:1em;
		width:17em;
	}

	/* C340 Carrusel de campañas y ofertas */

	.C340 {
		margin-bottom:-5em;
	}
	.C340 .flex-caption{
		bottom:5em;
	}
	.C340 .flex-caption-txt {
		font-size:2.5em;
	}
	.C340 .flex-control-nav {
		bottom:75px;
		left:20%;
	}
	.C340 .flex-pauseplay {
		bottom:75px;
	}

	/* C360 Menu de migas */

	.posicion .C360 {
		top:4.9em;
	}

	#lateral {
		&> .caja{
			&:first-child{
				margin-top: 0;
			}
		}
	}
	.avisopopup {
		.interior {
			#principal, #lateral, #central {
				width: 100%;
			}
			#principal {
				margin-top: 7em;
			}
		}
		.C340 {
			.flex-control-nav, .flex-pauseplay {
				bottom: 0;
			}
		}
	}


	#contenido {
		.interior {
			#principal {
				.bloqPest{
					.apps-smartphone { 
						.des-apli {
							&>div{
								max-width: none;
								width: 99%;
								margin-left: 0;
								margin-right: 0;
							}
							p{
								padding-right: 2%;
								width: 94%;

							}
						}
					}
					.fondo-blanco {
						.form {
							label, .label{
								width: 30%;
							}
						}
					}
					.no-form {
						label{
							margin-bottom: .5em;
						}
					}
				}
				.siniestros {
					fieldset{
						&.date {
							&+ .boton{
								margin-top: 0;
							}
						}
					}
				}
			}
		}
		div#contenidoInt{
			&.registro-online {
				&> .C360:first-child{
					margin-top: 1em;
				}
			}
			&.particulares {
				&> .cl:first-child{
					margin-top: 3em;
				}
			}
		}
	}

	body, .body{
		&.popup {
			.cajadestico {
				div[class*="ico-"]{
					padding-left: 5em;
					&:before{
						left: 1em;
					}
				}
			}
		}
	}


	#barraEstadoPasos{
		&.p7, &.p8, &.p9{
			img{
				&+ul{
					li{
						color: #fff;
						font-size: 1px;
						strong{
							color: #333;
							font-size: 13px;
						}
					}
				}
			}
		}
	}
	#contenidoInt{
		&.total{
			&.particulares{
				.CL61{
					float:  none;
					margin: 1em auto;
				}
				#acceso {
					float: none;
					display: inline-block;
					margin: 0 auto;
				}

				article{
					text-align: center;
				}
				.wrapNav{
					display: inline-block;
					margin-bottom: .5em;
				}
			}
		}
	}
	.CL92.reg-online{
		position: absolute;
	}

}
@media only screen and (max-width: 917px){
	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria {
						.fila{
							&.literales {
								a{
									display: inline-block;
									margin-left: 0;
									margin-top: .5em;
									position: relative;
									padding-left: .5em;
								}
							}
						}
					}
				}
			}
		}
	}
}




@media only screen and (min-width: 768px) and (max-width: 979px) { /* Large tablets */

	header {
		&.posicion {
			.group {
				float:left;
				width:52%;
			}
			@include rwd_logo_mapfre;
			.CL92 {
				float:none;
			}
			.CL91 {
				float:right;
				width:48%;

			}
		}
		.CL95 {
			a{
				font-size:8em;
			}
		}
	}
	.CL96 {
		.title {
			display:block;
		}
	}
	@include rwd_carrusel_posicion;

	.twoCols {

		.subNav, #principal {
	/*		float:none;
			width:100%;*/
			
			@include box-sizing(border-box);
		}
		.subNav {
			width: 24%;
			a {
				display:block;
			}
			margin-bottom:2em;
		}
		#principal {
			width: 74%;
		}
	}

	.CL61 {
		padding-top:0;
	}

	#contenido {
		.interior {
			#principal {
				.caja {
					textarea{
						width: 56%;
					}
				}
				.bloqPest{
					.desplazado-izquierda{
						label, legend{
							&.required{
								float: none;
								text-align: left;
								margin-bottom: .2em;
								width: auto !important;

							}
						}
						#capaCCC{
							p{
								margin-left: 0;
								width: auto;
							}
							input[type="text"]{
								float: none;
							}
						}
						.tres-inputs{
							input[type="text"]{
								width: 30%;
							}
						}
					}
				}
			}
		}
	}

	/* IBAN-CCC */
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.desplazado-izquierda {
						.capa-ccc {
							.literales {
								label[for="entidad"]{
									margin-left: 0;
								}
							}
						}
					}
				}
			}
		}
	}
	/* fin IBAN-CCC */


/* Nueva home tablet vertical ----------------------------------------------------------------------------------------------------------- */

	body {
		&#nueva-home {
			background: url("../img/bg_body.png") repeat-x 0 -5px !important;
			header {
				padding-bottom: 58px;
				#headerInt {
					width: 93.2%;
					.cabecera {
				    	.menu {
							a {
								font-size: 1.5em;
							}
				    	}
				    }
				}
				
			}

			section {
				.total {
					width: 93.2%;
					#contenido, .video {
					    box-sizing: border-box;
				    }
					#contenido {
						overflow: hidden;
						float: none;
					    width: 100%;
					    margin-top: 0;
					    padding: 0;
					    #formulario, .reg {
						    width: 50%;
						    box-sizing: border-box;
					    }
						#formulario {
						    float: left;
						    padding-right: 1%;
							#acceso {
								fieldset {
									margin: 0 5%;
				        			width: 90%;
				        			legend {
	    								padding-top: 0.75em;
	    								padding-bottom: 0.75em;
	    							}
									.entrar {
										input {
											width: 6.5em;
										}
									}
								}
							}
						}

						.reg {
						    float: right;
						    padding-left: 1%;
						    clear: none;
						    .links {
						    	padding-top: 11px;
						    }
						}
					}

					.video {
						float: none;
    					width: 100%;
    					padding-right: 1%;
						h1 {
							font-size: 2.1em;
							margin-top: 8px;
							padding-bottom: 21px;
						    width: 100%;
						}
					}
				}
			}
		}
	}

/* Fin de Nueva home tablet vertical ----------------------------------------------------------------------------------------------------------- */


}

@media only screen and (min-width: 768px) and (max-width: 925px) {
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.fixed-header {
						table {
							thead {
								th{
									&:first-child{
										div {
											padding-top: 1em;
										}
									}
									div{
										width: 57px;
										padding-top: .5em;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 830px) {
	footer{
		&.C380 {
			.patrocinador {
				float: none;
				margin-right: 0;
				text-align: right;
				img{
					display: inline;
					margin: 0;
				}
			}
			#logo{
				top: -3em;
			}
		}
	}

	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.calendario-no-popup {
						.legend{
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 800px){
	.interior {
		#principal {
			#main {
				.secciones-vistas {
					.seleccion {
						.C70{
							display: inline-block !important;
							div{
								display: inline-block !important;
							}
						}
					}
				}
			}
		}
	}
	#contenido {
		.interior {
			#principal {
				.secciones-vistas{
					.C70 {
						div{
							&.cajadestico {
								.ico-error{
									&:before {
										left: 1em;
									}
								}
							}
						}
					}
				}
				.siniestros{
					input{
						&[type="checkbox"]{
							height: 1.5em !important;
							width: 1.5em !important;

						}
					}
				}
			}
		}
	}
}

/*@media only screen and (max-width: 768px){ *//* ipad portrait */
@media only screen and (max-width: 768px), screen and (max-device-width : 768px) {
	section#contenido {
		/* faq */
		div#contenidoInt.total div.interior.cl article#principal form.caja div.filaBoton input.boton {
			padding-top: 0.5em;
			padding-bottom: 0.5em;
		}
		/* fin faq */
		/* carrusel */
		&.posicion {
			div#contenidoInt {
				section#carrusel.C340 {
					margin-top: 15px;
				}
				&.total div.C360 {
					top: 0.5em;
					padding-bottom: 0em;
					&.anchoipad {
						top: 3.6em !important;
						padding-bottom: 24px !important;
					}
				}
			}
		}
		/* fin carrusel */
	}
	/* scroll */
	#shadowbox_body_inner, #sb-body-inner {
		/*overflow:auto;*/ 
		overflow:hidden; 
		-webkit-overflow-scrolling:touch;
	}
	/* fin scroll */
	

	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria {
						.fila {
							.autorizacionMovil {
								label{
									width: 90%;
								}
							}
						}
					}
				}
				.bloqPest {
					div{
						&.buscador-direccion{
							.fila{
								
								.label{
									display: block;
									text-align: left;
									width: auto !important;
									float: none;

								}

							}

						}
						&.buscador-fecha{
							display: block;

						}
						&.contenedor-horario{
							.horario{
								th, td{
									font-size: 1.2em;
								}
							}

						}
					}
					.solucion{
						.lateral{
							a{
								padding-right: 0;
							}
						}
					}
				}
				.C70 {
					div{
						&.cajadestico {
							.ico-info{
								&:before{
									left: 2em;
								}
							}
						}
					}
				}
				#pagoPaypalOK {
					p{
						margin-bottom: .5em;
						padding-bottom: .5em;

					}
				}
			}
		}
	}
	.twoCols {
		#principal {
			.cajadestico {
				.ico-OK{
					&:before{
						left: 1em;
					}
				}
			}
		}
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
	.mwEmbedKalturaIframe{
		max-width: 768px !important;
	}
	.CL10{
		&#acceso {
			fieldset {
				legend {
					padding-bottom: .5em;
				}
			}
		}
	}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape){
	.CL10{
		&#acceso {
			.alta{
				margin-top: 3.75em;
			}
		}
	}

}


@media only screen and (min-width: 692px) and (max-width: 921px){
	body,.body{
		&.popup {
			table{
				&.recibos {
					th{
						&#nombre{
							width: 6em;
						}
						&#recomendado{
							width: 7.5em;
						}
						&#codPostal{
							width: 6em;

						}
						&#localidad{
							width: 6em;

						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 767px){
	*{
		-webkit-text-size-adjust: none;
	}
	#fancybox-frame {
		max-width: 100% !important;
	}
	/*#fancybox-wrap{
		padding: 0 !important; 
		width: 96% !important;
	}*/
	.fancybox-bg{
		width: 0 !important;
	}

	header{
		&.posicion, &.pestTC{
			min-height:14em;
			height:auto;
			.CL91 {
				float:none;
				width:100%;
				margin-top:2%;
				.usuario{
					width:100%;
				}
			}
			.CL92 {
				float:none;
				width:auto;
			}
			.CL96 {
				float:none;
				width:auto;
				margin-left:0;
				margin-top:1em;
				h1 {
					float:none;
					position:static;
				}
				text-align:left;
			}
			@include rwd_menu_opciones;
		}

	}

	.twoCols {
			
			.subNav, #principal {
				float:none;
				width:100%;
				margin-left:0;
				padding-left:0;
				@include box-sizing(border-box);
			}
			.subNav {
				a {
					display:block;
				}
				margin-bottom:2em;
			}
			nav.subNav {
				width:100%;
			}
		}

	@include rwd_menu;

	.posicion a.imprimir {
		display:none;
	}

	/* CONTENIDO */

	#contenidoInt{
		&.particulares,
		&.empresas {
			background:none;
		}
		&.particulares{
			.cl:first-child{
				margin-top: 0;
			}
		}
	}
	#contenido {
		div{
			&#contenidoInt{
				&.registro-online{
					margin-top: -5em;
					.sep{
						.texto{
							&.centrado{
								p{
									margin-bottom: 2em;
								}
							}
						}
					}

				}
			}
		}
	}

	/* CL10 Login particulares y empresas */

	.CL10 {
		width:100%;
		margin:0;
		max-width:100%;
	}
	.CL10 span.error span.texto {
		right:-1em;
		top:3em;
	}
	.CL10 span.error span.flecha {
		border-left:0.5em solid transparent;
		border-right:0.5em solid transparent;
		border-bottom:1em solid #333;
		top:-1.5em;
		left:15em;
	}
	.CL10 input.boton {
		width:6.5em !important;
	}

	/* CL60 Destacados home */

	.CL60 ul {
		width:100%;
		margin:0;
		max-width:100%;
	}
	.CL60 ul a {
		margin:0;
		font-size:1.5em;
	}
	.CL60 ul a span.txt2 {
		font-size:.9em;
	}

	/* CL91 Informacion usuario conectado */

	.CL91 {
		width:57%;
	}
	.CL91 .usuario .acceso span {
		white-space:nowrap;
	}

	/* CL93 Menu recursivo cabecera */

	.CL93 div {
		position:relative;
	}
	.CL93 div div{
		display:block;
		float:right;
		margin:0;
	}
	.CL93 div div a#opciones {
		display:block;
		float:left;
		min-height:18px;
		height:auto;
		z-index:999;
		position:relative;
	}
	.CL93 div div span.ico {
		float:right;
		width:18px;
		height:18px;
		background:url(../img/icos.png) no-repeat -125px -50px;
	}
	.CL93 div div:hover span.ico {
		background:url(../img/icos.png) no-repeat -150px -50px;
	}
	.CL93 div div span.txt {
		float:left;
		margin:2px 3px;
	}
	.CL93 div ul {
		display:none;
		top:15px;
		right:0;
		position:absolute;
		background:$color_mapfre;
		padding:10px;
		width:145px;
		z-index:1000;
		border-radius:10px;
		box-shadow:0 0 15px 3px #ccc;
	}
	.CL93 div ul li {
		border:none;
		float:none;
	}
	.CL93 div ul a {
		padding:10px;
		float:left;
		width:125px;
		font-size:1.5em;
	}
	.CL93 div ul.on {
		display:block;
	}
	.CL93 li img{
		margin-top:-4px;
	}

	/* CL94 Pestanias de contenido */

	.CL94 li a span {
		font-size:1.5em;
		padding-left:0 !important;
		padding-right:0 !important;
	}

	/* CL95 Menu horizontal principal */


	.CL95 {
		padding:0 2%;

	}

	.CL95 a {
		padding:.5em 1.75em;
	}
	.CL95 a.line1{
		padding:1em 1.75em;
	}

	/* C340 Carrusel de campañas y ofertas */

	.C340 {
		margin-bottom:0 !important;
	}
	.C340 .flex-control-nav {
		bottom:25px;
		left:25%;
	}
	.C340 .flex-pauseplay {
		bottom:25px;
	}
	.C340 .flex-caption {
		bottom:1.25em;
	}
	.C340 .flex-caption-txt {
		font-size:2em;
	}

	/* C360 Menu de migas */

	.posicion .C360 {
		top:2.5em;
	}

	/* C380 Pie de pagina */

	.C380 #logo {
		top:-3em;
		margin-top:0;
	}

	.patrocinador {
		float:none;
		img{
			display:block;
			margin:0 auto;
		}
	}

	.C70 {
		.mostrartodas {
			width:100%;
		}

	}

	.CL10 {
			span.error {
				position:static;
				float:none;
				margin:1em 0;
				span.texto {
					position:static;
					width:auto;
					height:auto;
				}
			}
		}


	.C640{
			.misPr {
				
				ul {
					width:100%;
					@include box-sizing(border-box);
					box-shadow:none;
				}
			}
		}

	.CL61 {
		float:none;
		width:100%;
		padding-top:0;
		li {
			width:100%;
		}
	}


	.C10 {
		.ico-error {
			padding-left: 7.5em;
		}
	}


	body,.body{
		&.popup {
			.autorizacion-sanitaria {
				dl {
					dd {
						&+ dt{
							margin-top: .8em;
						}
					}
				}
				h3{
					&.title{
						margin-bottom: .5em;
					}
				}
				.datos{
					position: relative;
					.volver{
						margin-top: 1em;
	/*					position: absolute;
						right: -100%;*/
						bottom: .5em;

						display: inline-block;

						&+.boton{
							margin-top: .5em;

	/*						position: absolute;
							right: -35%;*/
						}
					}
				}
				.descripcion{
					h3{
						margin-bottom: .5em;
					}
					p{
						margin-bottom: .5em;
					}
				}
				.formulario{
					.fila{
						margin: 1em auto;
					}
				}

			}
			table{
				&.recibos {
					td, th {
						padding-left: 2px;
					}
					th {
						span{
							padding-right: 0;
						}
					}
				}
			}
		}
	}

	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.listados-danios-vehiculo {
						fieldset{
							float: none;
							margin-bottom: 1.5em !important;
							width: 100%;

							ul{
								li{
									width: 100%;
									label{
										width: 90%;
									}
								}
							}
						}
					}
					p{
						&.obligatorio{
							clear: both;
							margin-top: 0 !important;
							float: none !important;
							text-align: right;
						}
					}
					.tres-inputs{
						input{
							&[type="text"]{
								width: 31%;
								margin: 0 1% .5em 0;
								& + input[type="text"]{
									margin-left: 0;
								}
							}
						}
					}
				}
				h3{
					&.title{
						height: auto;
					}
				}
				.siniestros{
					#btn_date, #btn_date_h{
						display: block;
						width: 38px !important;
						float: left;
					}
				}
				div{
					&.autorizacion-sanitaria {
						.fila {
							.autorizacionMovil {
								input[type="checkbox"]{
									width: 1.5em;
									height: 1.5em;
								}
							}
						}
					}
				}
				.deyde{
					.estiloLista{
						left: auto;
						right: 0;
						width: 203%;
					}
				}
				#pagoPaypalOK {
					.filaBotonTotal {
						ul{
							width: 100%;
							li{
								float: left;
								&+li{
									text-align: right;
								}
							}

						}
					}
				}
			}
		}

	}
	#contenidoInt.total.particulares .wrapNav{
		margin-bottom: 0;
	}
	.CL10{
		&#acceso{
			#dnie{
				display: none;
			}
			fieldset {
				legend{
					padding-bottom: .5em;
				}
			}
			.fila2{
				margin-top: .2em;
				margin-bottom: 0;
			}
			.alta{
				margin-top: .5em;
			}
			.boton{
				font-size: 1em;
				background-position: -8px -2px;
			}

		}
	}


/* Nueva home movil ----------------------------------------------------------------------------------------------------------- */

	body {
		&#nueva-home {
			background: url("../img/bg_body.png") repeat-x 0 -49px !important;

			header {
				padding-bottom: 29px;
				#headerInt {
					width: 93.69%;
					.cabecera {
						.bloque-logo {
							.logo {
								img {
									width: 156px;
								}
							}
							.tc {
								#teCuidamos {
									width: 115px;
								    height: 37px;
								    background: url(../img/logos.png) no-repeat -207px 0px;
								    margin: 3px 0 0 0;
								    display: block;
								}
							}
						}
						.titulo {
							padding-top: 0px;
						    float: right;
						    margin-top: -27px;
						    width: auto;
							h1 {
								font-size: 2em;
							}
						}
					}
				}
				
			}

			section {
				.total {
				    width: 93.69%;
					#contenido {
						clear: both;
	    				width: 100% !important;
	    				margin: 0;
    					padding: 0;
						#formulario {
							#acceso {
								fieldset {
									margin: 0 4%;
				        			width: 92%;
				        			.fila2 {
				        				.olvido {
											padding-right: 9px;
				        				}
				        			}
				        			.entrar {
						    			padding-right: 6px;
				        			}
								}
							}
							.dnie {
								/*padding-left: 0px;
	    						padding-right: 0px;*/
	    						display: none;
							}
						}
						.reg {
							margin-top: 2em;
							.links {
								padding-left: 0px;
	    						padding-right: 0px;
							}
						}
					}

					.video {
						width: 100% !important;
						padding: 0;
						h1 {
						    font-size: 1.7em;
	    					width: 100%;
	    					padding-bottom: 10px;
						}
					}
				}
			}

			footer {
				padding-bottom: 10px;
				margin-top: 8px;
				.texto {
					li {
						display: inline-block;
					    font-size: 1.1em;
					    border-left: 1px solid #fff;
					    padding: 0 10px;
					    margin: 0px;
					    &:first-child {
				    	    padding-left: 0;
		    				border-left: 0;
					    }
					}
				}
				.logos {
	    			width: 164px;
					.patrocinador {
					    margin-top: 2px;
					    margin-bottom: 0;
						img {
							width: 70px;
						}
					}
					.logo {
						width: 88px;
					    height: 76px;
					    margin-top: -42px;
					    #logo {
					    	width: 88px;
					    	height: 76px;
						    background: url(../img/logos.png) no-repeat -21px -188px;
					    }
					}
				}
			}
		}
	}

/* Fin de Nueva home movil ----------------------------------------------------------------------------------------------------------- */


}
@media only screen and (max-width: 720px){
	#contenido {
		.interior {
			#principal {
				.ordenarTabla{
					display: block;
					vertical-align: bottom;
					position: absolute;
					right: 3px;
					bottom: 3px;
				}
			}
		}
	}
	.tableOverflow{
		table{
			thead{
				th{
					padding-right: 1.5em;
				}
			}
		}
	}

}

@media only screen and (max-width: 640px){
	body,.body{
		&.popup {
			.autorizacion-sanitaria {
				dl{
					dd{
						&+dt{
							margin-top: .25em;
						}
					}
				}
				h3{
					&.t2{
						margin-bottom: .5em;
					}

				}
				.interiorModal{
					.datos, .mapa{
						width: 100%;
					}
					.mapa{
						margin-top: 1em;
					}
				}
				form{
					&.formulario{
						width: 100%;
						label{
							text-align: left;
							width: auto;
						}
						select, input[type="text"]{
							margin-top: .2em;
							width: 100%;
						}
						.description{
							width: 100%;
						}
					}
				}
				.datos{
					.volver{
						margin-top: 2em;
						position: relative;
						right: auto;
						margin-bottom: 1em;
						&+.boton{
							margin-top: 1em;
							right: 3%;
						}
					}
				}
				.descripcion{
					width: 100%;
				}

			}
		}
	}
}
@media only screen and (min-width: 581px) and (max-width: 767px){	
	#contenido {
		.interior {
			#principal {
				.bloqPest{
					.apps-smartphone { 
						.Opc-iph {
							ul{
								clear: none;
								display: inline;
								li{
									max-width: none;
									width: 50%;
									&:nth-child(2n){
										clear: right;
									}
									&:nth-child(2n+1){
										clear: left;
									}
									p{}
								}
								&+ul{
									li{
										&:first-child{
											clear: none;
										}
										&:nth-child(2n+1){
											clear: right;
										}
										&:nth-child(2n){
											clear: left;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
@media only screen and (min-width: 581px) and (max-width: 700px){
	body,.body{
		&.popup {
			table{
				&.recibos {
					th {
						position: relative;
						span{
							display: block;
							margin-bottom: .2em;
						}
						.ordenarTabla{
							position: absolute;
							bottom: 0;
							right: 2px;
						}
					}
				}
			}
		}
	}
}
@media only screen and (max-width: 600px) {
	#sinisterMapLocator_container {
		#sinisterMapLocator{
			min-width: 1px !important;
			.botonSeleccionar{
				float: right;
				margin-left: 0 !important;
			}
			.siniestros{
				margin-left: 0;
				margin-right: 0;
				width: 90%;
				#map-canvas{
					width: 100%;
				}

			}
		}
	}
}


@media only screen and (min-width: 581px) and (max-width: 650px) {
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.fixed-header {
						table {
							thead {
								th{
									&:first-child{
										div {
											padding-top: 1em;
										}
									}
									div{
										width: 57px;
										padding-top: .5em;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}


@media only screen and (max-width: 580px) {
	header{
		&.posicion, &.pestTC{
			min-height:14em;
			height:auto;
			.CL91 {
				float:none;
				width:100%;
				.usuario{
					width:100%;
				}
			}
		}
	}
	.CL92{
		position:static;
	}
	.CL96 {
		float:none;
		margin:0;
		width:auto;
		p{
			margin-top: -40px;
		}
	}
	#central .colum {
		width:100%;
		margin-top:4%;
	}

	/* C75 (NOMBRE TEMPORAL) Combo de acciones 'Quiero ir directo a...' */

	.C75 > a {
		background:none;
		padding:0;
		color:#666;
	}
	.C75 .irDirecto {
		top:15px;
	}
	.C75 ul li {
		border:none !important;
	}

	/* C390 Bloque Calcule su seguro MAPFRE */

	.C390 img.fondo{
		background:url(../img/banners.png) no-repeat 125px 0;
	}

	.C70 {
		h3 + .subtitulo {
			width: auto;
		    margin-bottom: 35px;
		}
		.encabezado {
				li.last {
					position:static;
					margin-bottom:1em;
					font-size:1em;
				}
			}
		.tabla { display:none }
		.tableMobile {
			display:block;
			.mostrartodas {
	                position:static;
	                display:block !important;
	                margin-top:2em;
	            }
			.sep {
				margin-top:1em;
				padding-top:1em;
				border-top:2px solid #3C3C3C;
			}
			dl{
				&.dos-checks{
					dd{
						label, input{
							float: none !important;
						}
					}
					.oculto{
						display: none;
						&.visible{
							display: block;
						}
					}
				}
			}
		}
		.mostrartodas {
			display:none;
			div {
				width:100%;
			}
		}

		.info{
			.show {
				position:static;
				width:auto;
				background-image:none;
				&:after, &:before {
					display:none;
				}
			}
		}
		&.sinBorde {
			border: none;
		}
	}



	body,.body{
		&.popup{
			.autorizacion-sanitaria{
				.tableMobile{
					dl{
						font-size: 1em;
					}
				}
			}
		}
	}

	#contenido {
		.interior {
			#principal {
				.bloqPest{
					.apps-smartphone { 
						.Opc-iph {
							ul{
								li{
									margin: .2em 0;
									max-width: none;
									width: 100%;
									img{
										float: left;
										width: 75px;
									}
									p{
										float: left;
										padding-left: 5px;
										width: 70%;
									}
								}
								&+ul{
									margin-bottom: 2em;
								}
							}
						}
						.des-apli{
							width: 100%;
							h5{
								line-height: 25px;
								width: 65%;
								span{
									display: inline-block;
								}
							}
							ol{
								li{
									a{
										word-break: break-all;
									}
								}
							}
						}
					}
					table{
						&.general{
							display: none;
						}
					}
					.buscador-direccion{
						.label{
							width: auto;
							text-align: left;
						}
						select{
							clear: both;
							display: block;
							float: none;
							margin-left: 0 !important;
							width: 100%;
							max-width: none;
						}
					}
					.buscador-fecha{
						.fila{
							padding-left: 0;
						}
						.label{
							
							width: auto !important;
						}
						#hora{
							display: none;
						}
					}
					.fondo-blanco{
						.form{
							.boton{
								margin-top: 0 !important;
							}
						}
						&.roundcorners{
							padding: 1em;
						}
						p{
							padding: 0;
							width: 100%;
						}
					}
					.talleresMobile{
						.icon-ok{
							background: url(../img/ico-ok-small.png) no-repeat;
							display: inline-block;
							height: 21px;
							text-indent: -9999px;
							width: 21px;

						}
						input[type="radio"]{
							margin-left: 0;
							float: left;
						}
						label{
							float: left;
							width: 80%;
						}
						dd,dt{
							display: inline-block;
							width: 100%;
						}
						dt{
							&.detalle{
								display: none;
								&.seleccionada{
									display: block;
									& + dd{
										display: block;
									}
								}
								& + dd{
									display: none;
								}
							}
						}
					}
					#capaIBAN {
						input[type="text"] {
							&+ input[type="text"]{
								margin-left: .25em;

							}
						}
					}
					.calendario-no-popup {
						.datepicker{
							float: none;
						}
						.legend{
							float: none;
							margin-top: 1em;
							margin-bottom: 1em;
							width: 100%;

						}
					}
				}
				.siniestros{
					.tableMobile{
						label{
							font-size: 1em;
							font-weight: normal;
							width: auto;
						}
						.horarioMobile{
							label{
								float: none;
							}
							.no-disponible{
								padding-left: 1.9em;
								span{
									color: #d81e05;
								}
							}
							.disponible{
								span{
									color: #03af39;
								}
								input[type="radio"]{
									font-size: 1.1em;
								}
							}
						}
					}
					fieldset{
						&.yes-no{
							&.ancho-total {
								legend{
									max-width: none !important;
									width: 100%;

								}
							}
						}
					}
				}
			}
		}
	}


	#barraEstadoPasos{
		&.p6{
			img{
				&+ul{
					li{
						color: #fff;
						font-size: 1px;
						strong{
							color: #333;
							font-size: 13px;
						}
					}
				}
			}
		}
	}

	.paypal-logo{
		margin-left: 0;
	}

	@include rwd_carrusel_posicion;

	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.fixed-header {
						background: none;
						border: none;
						padding-top: 0;
						.table-container {
							display: none;
						}
					}
				}
			}
		}
	}

}

@media only screen and (max-width: 535px) {

	header{
		&.posicion, &.pestTC{
			min-height:14em;
			height:auto;
			.CL91 {
				margin-top:0;
				.usuario{
					width:100%;
				}
			}
		}
	}

	/* CL10 Login particulares y empresas */

	.CL10 div.fila1,
	.CL10 div.fila2 {
		float:left;
		width:101%;
	}
	.CL10 div.dnie {
		padding:1.75em -2em 0 0;
		background:none;
		width:111%;
		.ico {
				display:block;
				position:static;
				margin-top:2em;
				margin-bottom:0;
			}
	}
	.CL10 div.dnie a.info {
		margin:-3px -2em 0 5px;
		position:relative;
		text-indent:-9999em;
	}
	.CL10 div.alta span {
		margin-right:0;
	}
	.CL10 div.directo {
		margin:0;
	}

	/* CL60 Destacados home */

	.CL60 ul {
		padding-top:1em;
	}
	.CL60 ul li {
		width:90%;
		padding:0 5%;
		border:none;
		margin:0;
		font-size:1.25em;
	}
	.CL60 ul li {
		border:none !important;
	}
	.CL60 ul li span.ico {
		width:50px
	}

	/* C-10 MENSAJES (Informacion, alerta, error, conformidad) */

	.C10 div {
		min-height: 5em;
		padding-left: 75px;
		background-size:1700px;
	}
	.C10 .ico-alert {
		background-position: -25px 0;
	}
	.C10 .ico-info {
		background-position: -567px 0;
	}
	.C10 .ico-OK {
		background-position: -1107px 0;
	}
	.C10 .ico-error{
	/*	background-position: -1647px 0;*/
	}

	/* C70 Grupo de producto en Posicion Global */

	.C620{
		a[aria-describedby] {
			display:none;
		}
		 & [role="tooltip"] {
			position:static;
			display:block;
			width:100%;
			@include box-sizing("border-box");
			box-shadow:none;
			border-radius:0;
			border:none;
			background:none;
			img{
				display:none;
			}
			a{
				display:block;
				width:100%;
				float:none;
			}
		}
	}
	.C70 table {
		display: block;
		position: relative;
		width: 100%;
		margin-bottom:6em;
	}
	.C70 table caption {
		margin-bottom:2em;
		display: block;
		position: relative;
	}
	.C70 table thead {
		display: none;
		float: left;
	}
	.C70 table tbody {
		display: block;
		width: auto;
		position: relative;
		overflow: auto;
		white-space: nowrap;
	}
	.C70 table thead tr {
		display: block;
	}
	.C70 table th {
		display: block;
		font-size:1em !important;
		font-weight:bold !important;
		margin:0 1em 0 0;
		padding:.55em 0 !important;
	}
	.C70 table tbody tr {
		display: inline-block;
		vertical-align: top;
	}
	.C70 table td {
		display: block;
		min-height: 1.25em;
	}
	.C70.mt {
		margin-bottom:2em;
	}
	.C70 a.newsegu {
		bottom:5em;
	}
	.C70 a.consult {
		top:auto;
		bottom:3em !important;
	}
	.C70 a.daralta {
		top:auto;
		bottom:1em !important;
	}

	.C70 .mostrartodas {
		display:none !important;
	}

	/* C75 (NOMBRE TEMPORAL) Combo de acciones 'Quiero ir directo a...' */

	.C75:hover span + ul.irDirecto {
		top:-100px;
		left:0;
		height:120px;
		overflow:auto;
		width:97%;
	}
	.C75 .irDirecto li {
		width:100%;
		border:1px solid red;
		float:left;
		height:1em;
	}

	/* CL91 Informacion usuario conectado */

	.CL91 {
		width:100%;
		margin-top:10em;
	}
	.CL91 .buzon {
		width:100%;
		padding:0 0 1em 0;
		text-align:right
	}
	.CL91 .usuario {
		width:50%;
		padding:0;
	}
	.CL91 .empresa {
		width:50%;
		float:right;
		margin-top:1em;
	}
	.CL91 .empresa img {
		margin:-1em 0 0 0 !important;
		width:auto;
	}

	/*---------------------------------------------------------------------------------------------------------------------------------------- CL94 Pestanias de contenido ---------------------------------------------------------------------------------------------------------------------------------------- */

	.CL94 ul {
		margin: 0 0 0 1em;
		&.salud{
			margin-right: 3em;
			li{
				padding-left: 1em;
				padding-right: 1em;
				width: 100%;
			}
		}
	}
	.CL94 li,
	.CL94 li a,
	.CL94 li a span,
	.CL94 li.act,
	.CL94 li.act a,
	.CL94 li.act a span {
		background-image: none;
		margin: 0;
		padding: 0;
	}
	.CL94 li {
		width: 45%;
		font-size: 1.5em;
		line-height: 1.25em;
		text-align: center;
		margin-right: 5% !important;
	}
	.CL94 li a span,
	.CL94 li.act a span {
		padding: 10% 5%;
		height: 2em;
		font-size: 1em;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}

	/* CL95 Menu horizontal principal */

		@include rwd_menu;


	/* CL96 Texto clientes (cabecera acceso) */
	.CL96 {
		p{
			margin-top: 0;
		}
	}
	.CL92 {
		float:none;
		a.tcpa{
			display:block;
			position:static;
			margin-top:1em;
		}
	}

	header {
		&.posicion {
			@include rwd_logo_mapfre;
			.CL91 {
				float:none;
				width:100%;

			}
		}
	}


	/* C340 Carrusel de campañas y ofertas */

	.C340 .flex-caption-txt {
		font-size:1.5em;
	}

	/* C390 Bloque Calcule su seguro MAPFRE */

	.C390 ul li {
		width:31%;
		padding:0 1%;
	}
	.C390 img.fondo {
		background:url(../img/banners.png) no-repeat 175px 0;
	}

	/* C380 Pie de pagina */

	.C380 #logo, .patrocinador {
		margin:1em 0;
		position:static;
	}

	.patrocinador {
		float:none;
		img{
			display:block;
			margin:0 auto;
		}

	}

	@include rwd_carrusel_posicion;


	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria {
						.roundcorners{
							&.formdegree{
								&.objectshadowsmoth {
									.no-margin-top {
										& + input[type="text"]{
											width: 95%;
										}
									}
								}
							}
						}
						.fila{
							&.literales{
								padding-left: .75em;
							}
							.autorizacionMovil {
								padding-left: 0;
								label{}
							}
						}
						fieldset{
							&.yes-no{
								padding-left: 0;
							}
						}
						#correoElectronico{
							width: 95%;
						}
					}
					.caja{
						div{
							&.fila{
								span{
									padding-left: 3px;
								}
							}
						}
					}
				}
				.bloqPest {
					legend{
						&.label{
							float: none;
							text-align: left;
							width: auto;

						}
					}
					label{
	/*					float: none;
						clear: both;*/
					}
					fieldset{
						&.yes-no{
							legend{
								&.label{
									display: block;
									clear: both;
								}
							}
							label{
								float: left;
							}
							input[type="radio"]{
								width: auto !important;
								&+label{
	/*								clear: none;*/
								}
							}
							&.campo{
								.radios{
									width: 100%;
								}
							}
							&.ancho-total{
								div{
									display: block;
								}
							}
						}
						&.direccion{
							legend{
	/*							margin-bottom: 0;*/
								margin-bottom: .5em;
							}
							select, input{
								&+input{
									margin-left: 0;
								}
							}
						}
					}
					.caja{
						.fila{
							input[type="text"], input[type="tel"], select{
								float: none;
								display: block;
								width: 90%;
								clear: both;
							}
							.date{
								input[type="text"]{
									clear: none;
									display: inline-block;
									float: left;

									&.W2em{
										width: 2em !important;
									}
									&.W2_5em{
										width: 2.5em !important;
									}
									&.W3em{
										width: 3em !important;
									}
								}
							}
							.volver{
								&+.boton{
									width: auto !important;
								}
							}
						}
					}
					form{}
					.lista-seleccion-radio{
						input[type="radio"]{
							width: auto;
						}
					}
					.desplazado-izquierda{
						legend, label{
							&.required{
								width: auto !important;
							}
						}
						#capaCCC{
							p{
								margin-left: 0;
								width: auto;
							}
						}
					}
					#capaIBAN{
						input[type="text"]{
							width: 90%;
							&+input[type="text"]{
								margin-left: 0;
							}
						}
					}
					.tres-inputs{
						input[type="text"]{
							&+input[type="text"]{
								margin-left: 0;
							}
						}
					}
					.fondo-blanco{
						.form{
							padding: 1.5em 0;
							label, .label{
								width: 100%;
							}
							select{
								max-width: none;
								width: 100%;
								&+select{
									margin-left: 0;
								}
							}
							.boton{
								margin-left: 0 !important;
								width: 100%;
							}
							input[type="text"]{
								width: 100%;
								box-sizing: border-box;
								height: auto;
							}
							.fila{
								padding-left: 0; 
							}
						}
					}
					div.buscador-fecha{
						.boton{
							margin-left: 0 !important;
						}
					}
					.no-form{
						label{
							max-width: 85% !important;
						}
						input[type="checkbox"]{
							vertical-align: top;
						}
					}
					.documentos-seleccionados{
						padding: 3em 0;
					}
					.lista-seleccion-radio {
						.fila {
							div{
								margin-left: 0;
							}
						}
					}
				}
				.siniestros {
					.fila{
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						&.fila-mitad{
							float: none;
							width: 100%;
						}
						.nueva-linea{
							padding-top: 1em;
							padding-left: 0 !important;
						}
					}
					.form20, .form30 {
						label, .label{
							width: auto !important;
						}
					}
					.size10, .size12, .size20, .size29, .size50, .size51, .size75{
						width: 100% !important;
					}
					input{
						width: 100% !important;
						&[type="radio"]{
							width: auto !important;
						}
						&[type="checkbox"]{
							top: 1px !important;
						}
					}
					select{
						max-width: none;
						width: 100% !important;
					}
					.buscador-fecha {
						.boton{
							margin: 0 !important;
						}
					}
					textarea{
						width: 100%;
					}
				}
				.deyde{
					width: 100%;
					.estiloLista{
						left: 0 !important;
						white-space: normal;
						width: 100%;
					}
				}
			}
		}
	}
	
	.accordion{
		&.accordion-radio{
			div[role="tabpanel"]{
				.fila{
					input[type="radio"]{

					}
				}
			}
		}
	}
	/* IBAN-CCC */
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.capa-iban {
						input{
							&[type="text"]{
								width: 3em;
							}
						}
					}
					.capa-ccc{
						input{
							width: 14%;
						}
					}
				}
				.caja {
					.capa-ccc{
						div{
							&.fila.literales {
								/*display: none;*/
								padding-left: 0;
								label[for="entidad"]{
									margin-left: 0;
								}
								label[for="dc"]{
									margin-left: 4px;
								}
								label[for="numCuenta"]{
									margin-left: 23px;
									text-align: right;
								}
							}
						}
					}
				}
			}
		}
	}
	/* fin IBAN-CCC */


	/* IBAN-CCC */
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					.capa-iban {
						input{
							width: 20% !important;
							&+input{
								margin-right: 4px;
							}
							&[type="text"]{
								width: 20% !important;
								float: left !important;
								margin-right: 4px !important;
							}
						}
					}
					.capa-ccc{
						label{
							&.literalOc{
								/*font-weight: normal;
								display: block;
								margin-left: 0;
								margin-top: .5em;
								margin-bottom: 0;*/
								display: none;
							}
						}
						input{
							margin-left: 0;
							margin-right: 4px;
							width: 20% !important;
						}
					}
				}
				.siniestros{
					.capa-iban{
						input{
							width: 23% !important;
							&[type="text"]{
								width: 23% !important;
							}
						}
					}
				}

			}
		}
	}
	/* fin IBAN-CCC */


	/* Lista de direcciones DEYDE*/
	#contenido .interior #principal .siniestros .estiloLista { margin: -20px 5px 0 0px; left: 25px; }

	#contenido {
		.interior {
		 	#principal {
		 		.fila {
		 			.date {
		 				.wrap{
		 					label{
		 						&:first-child{
		 							float: none;
		 							clear: both;
		 							display: table;
		 						}
		 					}
		 				}
		 			}
		 		}
		 	}
		}
	}
 	.CL92.reg-online{
 		position: static;
 	}
}

@media only screen and (min-width: 480px) and (max-width: 767px){
	header.pestTC {
		.CL93 {
			position: absolute;
		}
		.CL91 {
			margin-top:-29px;
		}
		.CL94 {
		    margin-top: 0;
		}
	}
	body, body.home{
		background-position: 0 -40px;
	}
	body{
		&.home{
			#contenido{
				#contenidoInt{
					&>.cl{
						&:first-child{
							margin-top: 2em;
						}
					}

				}
			}
		}
	}
}


@media only screen and (max-width: 480px) {


	body {
		background-image:none;
		&.pestTC {
			background-position:0 -71px;
		}
	}
	@include rwd_menu;
	header{
		&.C400{
			position:relative;
			min-height:14em;
			height:auto;
			.group {
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:5em;
				background:$color_mapfre;
				.logo {
					position:absolute;
					left:0;
					top:.5em;
					img {
						width:85%;
						height:85%;
					}
				}
				.tcpa, .tc {
					position:absolute;
					left:auto;
					right:0;
					top:.5em;
					display:inline;
					width:auto;
					margin:0;
					img {
						display:none;
					}
					&:after {
						display:block;
						width:130px;
						height:38px;
						background:url("../img/tc_rwd.png") no-repeat 0 0;
						content:"";
					}
				}
			}
			@include rwd_menu_opciones;
			.CL93 {
				position:absolute;
				top:5em;
				.total {
					width:auto;
					margin:0;
				}
			}


			.CL91 {
				float:none;
				width:100%;
				margin:12em 0 0;
				.buzon {
					padding-left:3em;
					@include box-sizing(border-box);
					background:url("../img/bck_user.png") no-repeat 0 .2em;
					a {
						position:absolute;
						right:5em;
						top:6.3em;
					}
					text-align:left;
				}
				.usuario{
					float:none;
					width:100%;
				}
			}
			.CL94{
				margin-top: 0;
			}
			@include rwd_logo_mapfre;
			.CL96{
				position:absolute;
				top:4em;
				left:1.2em;
				color:#494949;
				.title {
					position:relative;
					font-size:2.2em;
					top:-.7em;
				}
			}

		}
	}
	@include rwd_carrusel_posicion;
	.patrocinador {
		margin-top:-35px;
	}

	.C10 {

		.ico-error{
			&:before {
				left: 2em;
			}
		}
	}
	#contenido .interior #principal .caja div.fila span.lynd {
		margin-left:0 !important;
		width: 0;
	}
	#contenido {
		.interior {
			#principal {
				.bloqPest{
					.apps-smartphone {
						.des-apli {
							h5{
								line-height: 1em;
								padding-top: .5em;
							}
						}
					}
					.solucion {
						.listado{
							float: none;
							width: 100%;
						}
						.lateral{
							float: none;
							width: 100%;
							position: relative;
							img{
								display: none;
							}
							a{
								margin-top: 0;
								position: relative;
								white-space: normal;
								bottom: auto;
								margin-left: 2.25em;
							}

						}
					}
					.calendario-no-popup{
						.datepicker{
							margin: 0;
						}
					}
				}
				.siniestros {
					.caja {
						.fila {
							.volver{
								display: inline-block;
								margin-bottom: 1em;
							}
						}
					}
					.mini-mapa{
						.mapa, .direccion{
							width: 100%;
						}
						.direccion{
							margin-top: 1em;
						}
					}
				}
				.paso-mobile{
					display: inline-block;
					font-size: 1.5em;
					line-height: 1.5em;
					text-align: center;
					padding:  .5em 0;
					width: 100%;
					p{
						width: 100%;
					}
				}
				#pagoPaypalOK {
					p{
						margin-bottom: 0;
						padding-bottom: 0;
					}
					.ico-OK{
						padding-bottom: 1em;
					}
				}
			}

		}
	}
	.tableMobile {
		dd{
			.paypal-logo{
				margin-left: .5em;
				margin-top: .25em;
			}
			.tarjetas{
				margin-top: .35em;
			}
		}
	}

}


				

@media only screen and (max-width: 420px) { /* arreglo cabecera */
	#contenido {
		.interior {
			#principal {
				.bloqPest {
					fieldset{
						&.yes-no {
							legend{
								&.label{
									display: inline-block;
									float: left;
									&+label{
										    clear: both;
									}
								}
							}
							&.ancho-total{
								legend{
									float: none;
								}
							}
						}
					}
				}
			}
		}
	}
	
	.CL96 {
		width:auto;
		p {
			float:none;
			width:auto;
		}
	}

	

	.interior #lateral .caja h1.faq span {
		display:none;
	}

	#contenido {
		.interior {
			#principal {
				div{
					&.autorizacion-sanitaria {
						.fila {
							#telefono, #telefonoMovil{
								width: 90%;
							}
						}
					}
				}
				.tooltip-informacion{
					&.derecha {
						.infoMsg{
							width: auto;
						}
					}
				}

			}
		}
	}

}

@media only screen and (max-width: 380px) {
	#justificantePago {
		background: none;
		padding-right: 0;
		text-align: center;
		width: 100%;
	}
	#contenido{
		.interior{
			#principal{
				form{
					.radios{
						clear: both;
						display: inline-block;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {

	
	.posicion {
		.C360 {
			top:.7em;
		}
	}

	.C340 {
		display:none;
	}
	.C340#carrusel {
		display:block;
	}
	#contenido .interior #principal form.caja div.filaBoton label{
		font-size:1.3em;
	}
	#contenido .interior #principal{
		margin-bottom: 0;
	}
	.interior #lateral .caja h1.faq span{
		background:url(../img/icos.png) no-repeat -500px -250px !important;
	}
	.interior #lateral .caja h1.faq{
		font-size:1.3em;
	}
	.patrocinador {
		float:none;
		right: 0;
		margin-top:-40px;
		margin-bottom:25px;
		display: inline-block;
		width: 100%;
	}

	#hogar.C70 {
		margin-bottom:1.5em;
	}



	.C380 {
		.texto {
			margin-top:4em;
			li {
				display:block;
				margin-bottom:1em;
				padding:0;
				border:none;
			}
		}
		.imagen {
			position:relative;
			top:-100px;
			margin-left:195px;
		}
		.logos {
			float:none;
		}
		#logo {
			float:none;
			width:110%;
			padding:1em 0;
			background:$color_mapfre;
			top:0;
			margin:-10px 0 0 -14px;
			img {
				width:283px;
				height:132px;
				background: url("../img/logos.png") no-repeat 0 -56px;
			}
		}
	}
	.distributiva {
		.txt {
			width:auto;
		}
		li {
			width:auto;
			margin-right:0;
		}
	}
	.C70 .info {
		float:none;
		img {
			margin-left:.5em;
		}
		.show {
			width:100%;
			@include box-sizing(border-box);
			p {
				width:auto;
			}
		}
	}
	section#contenido div#contenidoInt form#acceso {
		input.boton {
			clear:both;
			margin-top: 5px;
		}
		div.directo {
			float:none;
		}
	}
	section#contenido.posicion div#contenidoInt.total div.C360 {padding-bottom: 1em;}

	.content-video {
		.kWidgetIframeContainer{
			height: 200px !important;
		}
	}
	#contenido .interior #principal .siniestros .lista-seleccion-radio label[for="lunas"] br{display: inline-block;}
}