@charset "utf-8";
/* CSS Document */

@import "common";

@include clear(".pasos");
.pasos{

	font-size:1.5em;
	line-height:1.2em;
	counter-reset:li;
    margin:4.5em 0 1.5em .75em !important;	

	width:100%;
	> li{
		position:relative;
	    margin:0 0 1em 0;
	    padding:0;
	    list-style:none;
	    background:#fff;
		float:left;
		text-align:center !important;
		display:table;
		&:before{
		    content:counter(li);
		    counter-increment:li;
		    position:absolute;
		    top:-2em;
		    @include box-sizing(border-box);
		    @include background-image(linear-gradient(#fff, #767676));
		    width:1.8em;    
			margin:0;
		    padding:.5em 0;
		    color:#fff;
		    font-weight:bold;    
		    text-align:center;
			font-size:1.5em;
			font-style:italic;
			border-radius:25px;
			
		}
		&.activo {
			color:#e41b13;
			&:before {
				color:#fff;
		    	@include background-image(linear-gradient($color_mapfre,#ca150c));
			}
		}
		a{
			text-decoration:none;
		}
	}
}

#barraEstado7{
	margin: auto;
	text-align:center;
	padding:0 0 1em 0;
	display:table;
	img{
		width:37em;
	}
	ul{
		margin:0;
		padding:0 0 0 6em;
		list-style:none;
		width:49em;
		margin:auto;
		li{
			float:left;
			width:19em;
			font-size:1.1em;
		}
	}
}

 .p2 > li{
	width:23%;
}

 .p3 > li{
	width:33%;
}
 .p4 > li{
	width:25%;
}
 .p5 > li{
	width:20%;
}
.p6 > li{
	width:16%;
}

.p2 > li:before {
	left:40%;
}
 .p3 > li:before {
	left:40%;
}
 .p4 > li:before {
	left:36%;
}
 .p5 > li:before {
	left:33%;
}
 .p6 > li:before {
	left:33%;
}

.infoPasos {
	.title {
		margin-bottom: 1em;
		padding:0 !important;
		border-bottom: 1px solid #D6D6D5;
	    color: #666;
	    font-size: 2.5em;
	    font-weight: normal;
	    letter-spacing: -.05em;
	    line-height: 1em;
	    background:none !important;
	    span {
	    	padding-right: .25em;
	    	background: none repeat scroll 0 0 #fff;
	    }
	}
	.lyndH2 {
		margin-top: -2.75em;
  		font-size: 1.6em;
    	line-height: 1.2em;
	}
}

@media only screen and (max-width: 991px) {

	.p2 > li{
		width:22%;
	}
	.p3 > li{
		width:32%;
	}
	.p4 > li{
		width:24%;
	}
	.p5 > li{
		width:19%;
	}
	.p6 > li{
		width:16%;
	}

}


@media only screen and (max-width: 767px){

	.pasos{
		font-size:1.3em !important;
	}
	.p2 > li{
		width:22%;
	}
	.p3 > li{
		width:32%;
	}
	.p4 > li{
		width:24%;
	}
	.p5 > li{
		width:19%;
	}
	.p6 > li{
		width:16%;
	}

}




@media only screen and (max-width: 535px) {


	.pasos{
		font-size:1.4em !important;
		margin:3.5em 0 0 .75em !important;	
	}
	
	.p2 > li{
		width:22%;
	}
	.p3 > li{
		width:33%;
		margin-bottom:4em;
	}
	.p4 > li{
		width:50%;
		margin-bottom:4em;
	}
	.p5 > li{
		width:33%;
		margin-bottom:4em;
	}
	.p6 > li{
		width:33%;
		margin-bottom:4em;
	}	
}


@media only screen and (max-width: 480px) {
	#barraEstado7{
		ul{
			list-style:none;
			width:39em;
			li{
				width:16em;
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	#barraEstado7{
		ul{
			width:29em;
			padding-left: 0;
			li{
				width:10em;
				margin-left: 2em;
			}
		}
		img{width: 90%;}
	}
}