.datepicker {
   margin: 10px;
   padding: 2px;
   position: absolute;
   width: 261px;
   background-color: #fff;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size:1.2em;
   z-index:1000;
}
.close {
   display: block;
   margin:0;
   margin-bottom: 3px;
   cursor:pointer;
   font-size: 1.1em;
   text-align:right;
   color:#322e2e;
   text-decoration:none;
   &:hover {
      text-decoration:underline;
   }
}
.selAny {
   padding:1em;
   button {
      margin-left:1em;
      margin-top:.3em;
   }
   select {
      display:block;
      width:10em;
      height:auto !important;
      padding:0 !important;
      margin:0 auto 0 !important;
   }
}
.month-wrap {
   height: 30px;
   background-color: #ddd;
   border: 1px solid #000;
   border-radius: 4px;
}
.bn_prev {
   margin: 3px;
   float: left;
   width: 24px;
   height: 24px;
}
.bn_next {
   margin: 3px;
   float: right;
   width: 24px;
   height: 24px;
}

.bn_prev:hover,
.bn_prev:focus,
.bn_next:hover,
.bn_next:focus {
   margin: 2px;
   background-color: #fc3;
   border: 1px solid #800;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}
img.bn_img {
   margin: 0;
   padding: 2px;
}
.month {
   float: left;
   padding-top: 6px;
   width: 199px;
   height:23px;
   line-height: 22px;
   text-align: center;
   font-weight: bold;
   font-size: 1.2em;
}
.cal {
   width: 261px;
   font-size: 1.2em;
   text-align: center;
}
.cal th,
.cal td {
   width: 35px;
   height: 30px;
   padding: 0;
   vertical-align:middle;
}
.cal td {
   background-color: #ddd;
   border: 1px solid #999;
}

.cal td.today {
   background-color: #FFF0C4;
   border: 1px solid #999;
}

.cal td.empty {
   background-color: #f9f9f9;
   border: 1px solid #eee;
}

.cal td:hover,
.cal td.focus {
   border-color: #800;
   background-color: #fc3;
}

.cal td.empty:hover {
   background-color: #f9f9f9;
   border: 1px solid #eee;
}

[aria-hidden="true"] {
   display: none;
}

@media only screen and (max-width: 700px) {
   #btn_date { display:none }
}
