@charset "utf-8";
/* CSS Document */
.caja label { display: block; font-weight: bold; font-size: 1.4em; line-height: 1.2em; }
.caja select { display: block; margin: 1em 0; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif; font-size: 1.6em; }

.formdegree { padding: 2em; }

.filaBoton { text-align: right; }

dl.faq { margin-top: 4em; }
dl.faq dt { display: block; margin: .5em 0; padding: .3em 0 0 0; font-size: 1.6em; line-height: 1.3em; color: #d81e05; cursor: pointer; }
dl.faq dt span { display: block; margin-left: 2em; padding-bottom: .4em; border-bottom: 1px solid #d6d6d5; }
dl.faq dt:hover { text-decoration: none; }
dl.faq dt:before { float: left; margin: 0 .7em 0 0; width: 25px; height: 25px; content: ""; background: url("../img/bck_panels.png") no-repeat 0 0; }
dl.faq dt.up span { border: none; }
dl.faq dt.up:before { background-position: 0 -25px; }
dl.faq dt:focus { border: 1px dotted #000; }
dl.faq dd { margin-left: 2.8em; padding-left: 1em; border-bottom: 1px solid #d6d6d5; }
dl.faq .wysiwyg ul { margin: 2em; font-size: 1.6em; }
dl.faq .wysiwyg ul ul { margin: 1em 2em; font-size: 1em; }
dl.faq .wysiwyg li { position: relative; margin-bottom: 1.4em; line-height: 1.1em; }
dl.faq .wysiwyg li:before { position: absolute; left: -0.75em; top: -0.05em; color: #d81e05; content: '\2022'; font-size: 1.5em; }

@media only screen and (max-width: 767px) { .interior #principal { position: static; } }
@media only screen and (max-width: 480px) { .caja select { width: 100%; } }
