@charset "utf-8";
/* CSS Document */
/* Artículo principal ------------------------------------------------------------------------ */
.interior #principal { width: 68%; float: left; margin-bottom: 2em; }
.interior #principal .sep p { margin-bottom: .5em; }

/* Textos: títulos, párrafos, listas, listas ordenadas */
.entry { font-size: 1.1em; font-weight: bold; }

.interior #principal h1 { font-size: 3.2em; font-weight: normal; color: #d81e05; margin-bottom: .2em; line-height: 1em; letter-spacing: -0.05em; }

.interior #principal h2 { font-size: 2.5em; font-weight: normal; color: #d81e05; margin-bottom: 1em; border-bottom: 1px solid #d6d6d5; line-height: 1em; letter-spacing: -0.05em; }

.interior #principal h2 span { padding-right: .25em; }

.interior #principal h3 { font-size: 2.15em; font-weight: normal; color: #d81e05; padding: .4em 0 1em .5em; background: url(../img/icos.gif) no-repeat 0 -460px; line-height: 1em; letter-spacing: -0.05em; }

.interior #principal h4 { font-size: 2em; font-weight: normal; color: #000; padding: .5em 0 1em .5em; line-height: 1em; letter-spacing: -0.05em; }

.interior #principal p { font-size: 1.6em; line-height: 1.2em; margin: 0 0 1.5em 0; }

.interior #principal form.texto { margin: 0 0 1.5em 0; }

.interior #principal form.texto label { font-size: 1.6em; line-height: 1.2em; }

.interior #principal form.texto input[type=checkbox], .interior #principal form.texto input[type=radio] { margin-top: -0.2em; }

.interior #principal p a.FNMT { width: 95%; padding-left: 5%; display: table; height: 5em; }

.interior #principal p a.FNMT span { margin: -55px 0 0 65px; display: block; }

.interior #principal p a.FNMT img { background: url(../img/icos.gif) no-repeat 0 0; width: 50px; height: 75px; }

.interior #principal ul li { position: relative; margin-bottom: 1.4em; }

.interior #principal ul li:before { content: '\2022'; color: #d81e05; position: absolute; top: -0.05em; left: -0.75em; font-size: 1.5em; }

.interior #principal ul.normal { margin-left: 1em; margin-bottom: 2.5em; }

.interior #principal ul.normal > li { font-size: 1.6em; line-height: 1.2em; margin: 0 0 .3em .35em; }

.interior #principal ul.imagenes > li { display: inline-block; }

.interior #principal ul.imagenes li:before { content: ''; }

.interior #principal ol.numeros { font-size: 1.6em; line-height: 1.2em; counter-reset: li; margin: 0 0 1.5em .75em; }

.interior #principal ol.numeros > li { position: relative; margin: 0 0 1em 2.35em; padding: 0; list-style: none; background: #fff; }

.interior #principal ol.numeros > li:before { content: counter(li); counter-increment: li; position: absolute; top: -3px; left: -2.35em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 1.7em; margin-right: 0; padding: .25em; color: #fff; background: #696969; font-weight: bold; text-align: center; border-radius: 25px; box-shadow: 0 0 15px 3px #fafafa; }

.interior #principal ol.numeros > li strong { display: table; }

#contenido div.sinPest h1.ppal { font-size: 3.2em; font-style: italic; font-weight: normal; color: #d81e05; margin-bottom: .8em; line-height: 1em; letter-spacing: -0.05em; clear: both; }

#contenido div.sinPest h1.ppal span { font-size: .7em; }

/* Destacados */
.interior #principal .cajadestico { background: url(../img/bg-dest-ico.gif) no-repeat left bottom; margin-bottom: 2em; border: 1px solid #eee; box-shadow: 1px 2px 2px #aaa; }

.interior #principal .cajadestico .ico-alert { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-alert:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -43px 0; }
.interior #principal .cajadestico .ico-alert p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-alert p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-info { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-info:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -129px 0; }
.interior #principal .cajadestico .ico-info ul { margin-left: 1em; padding-top: .5em; }
.interior #principal .cajadestico .ico-info ul li p { padding-top: 0; }
.interior #principal .cajadestico .ico-info p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-info p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-OK { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-OK:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat 0 0; }
.interior #principal .cajadestico .ico-OK p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-OK p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-error { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-error:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -172px 0; }
.interior #principal .cajadestico .ico-error p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-error p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-reloj { position: relative; padding: 2em 4% 3em 12%; display: inline-block; }
.interior #principal .cajadestico .ico-reloj:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -215px 0; }
.interior #principal .cajadestico .ico-reloj p { margin-bottom: 0; padding-top: .5em; }
.interior #principal .cajadestico .ico-reloj p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-block { position: relative; padding: 2em 4% 3em 12%; display: inline-block; }
.interior #principal .cajadestico .ico-block:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -86px 0; }
.interior #principal .cajadestico .ico-block p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-block p + p { padding-top: 0; }

.interior #principal .cajadestico li p { margin: 0; }

@media only screen and (max-width: 991px) { /* CONTENIDO */
  /* Artículo principal */
  .interior #principal { width: 100%; } }
@media only screen and (max-width: 640px) { .interior #principal .cajadestico .ico-alert, .interior #principal .cajadestico .ico-OK, .interior #principal .cajadestico .ico-info, .interior #principal .cajadestico .ico-block { padding-left: 7.5em; }
  .interior #principal .cajadestico .ico-alert:before, .interior #principal .cajadestico .ico-OK:before, .interior #principal .cajadestico .ico-info:before, .interior #principal .cajadestico .ico-block:before { left: 2em; } }
@media only screen and (max-width: 535px) { /* Destacados */ }
@media only screen and (max-width: 480px) { /* Destacados */
  .interior #principal .cajadestico .ico-alert:before { left: 2em; }
  .interior #principal .cajadestico .ico-info:before { left: 2em; }
  .interior #principal .cajadestico .ico-info ul { margin-left: 20px; }
  .interior #principal .cajadestico .ico-info ul p { padding-top: 0; }
  .interior #principal .cajadestico .ico-info p { padding-top: 4%; }
  .interior #principal .cajadestico .ico-OK:before { left: 2em; }
  .interior #principal .cajadestico .ico-error:before { left: 2em; }
  .interior #principal .cajadestico .ico-reloj { padding-left: 6.5em; }
  .interior #principal .cajadestico .ico-reloj:before { left: 2em; } }
#contenido .interior #principal .caja { display: table; width: 100%; margin-bottom: 5em; }

#contenido .interior #principal .caja fieldset.roundcorners { width: 92%; padding: 4%; position: relative; margin-bottom: 1.5em; border: 2px solid #fff; }

#contenido .interior #principal .caja div.roundcorners { width: 92%; padding: 4%; position: relative; margin-bottom: 1.5em; border: 2px solid #fff; }
#contenido .interior #principal .caja div.roundcorners.app-map { padding: 4% 0; width: 100%; }

#contenido .interior #principal .caja legend { font-size: 1.35em; font-weight: normal; color: #d81e05; margin: 0; padding: 0 0 1em .5em; background: url(../img/icos.gif) no-repeat 0 -470px; letter-spacing: -0.05em; position: absolute; top: -1.5em; left: 0; }

#contenido .interior #principal .caja label, #contenido .interior #principal .caja p.etiqueta { font-size: 1.6em; font-weight: bold; line-height: 1.2em; width: 40%; float: left; text-align: right; padding: .2em .45em 0 0; margin: 0; }

#contenido .interior #principal .caja p.texto { font-size: 1.6em; line-height: 1.2em; width: 55%; float: left; padding: .2em .45em 0 0; margin: 0; }

#contenido .interior #principal .caja input[type="text"], #contenido .interior #principal .caja input[type="password"], #contenido .interior #principal .caja input[type="tel"], #contenido .interior #principal .caja input[type="email"], #contenido .interior #principal .caja input[type="number"], #contenido .interior #principal .caja select { font-size: 1.6em; line-height: 1.2em; float: left; margin: 0 0 .5em 0; background: #fff; border: 1px solid #ccc; height: 1.2em; padding: 3px 3px 1px 3px; width: 25%; border-radius: 1px; box-shadow: inset 2px 2px 7px 2px #ddd; }
#contenido .interior #principal .caja input[type="text"].disabled, #contenido .interior #principal .caja input[type="password"].disabled, #contenido .interior #principal .caja input[type="tel"].disabled, #contenido .interior #principal .caja input[type="email"].disabled, #contenido .interior #principal .caja input[type="number"].disabled, #contenido .interior #principal .caja select.disabled { background-color: #E8E8E8; color: #858585; }

#contenido .interior #principal .caja select { height: 1.75em; width: auto; max-width: 57%; font-size: 1.5em; box-shadow: none; background: #fff; border-radius: 0; height: auto; padding: 0; }

#contenido .interior #principal .caja input.dia, #contenido .interior #principal .caja input.mes { width: 1.7em; }

#contenido .interior #principal .caja input.anio { width: 2.2em; }

#contenido .interior #principal .caja img.calendario, .ui-datepicker-trigger, .ui-datepicker-trigger:hover { width: 37px; height: 34px; background: url(../img/icos.gif) no-repeat -200px 0; margin: -5px 0 0 10px; /* Estylos para .ui-datepicker-trigger */ cursor: pointer; border: none; }

#contenido .interior #principal .caja input.sizeXL { width: 57%; }

#contenido .interior #principal .caja select.sizeXL { width: 58%; }

#contenido .interior #principal .caja input.sizeM { width: 16%; }

#contenido .interior #principal .caja select.sizeM { width: 17%; }

#contenido .interior #principal .caja input.sizeXS { width: 10%; }

#contenido .interior #principal .caja textarea { width: 57%; background: #fff; border: 1px solid #ccc; height: 7em; font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; font-size: 1.6em; padding: 2px 3px; border-radius: 1px; box-shadow: inset 2px 2px 7px 2px #ddd; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

#contenido .interior #principal .caja div.fila { width: 100%; display: table; padding: .75em 0; }
#contenido .interior #principal .caja div.fila.error { position: relative; }
#contenido .interior #principal .caja div.fila.error input, #contenido .interior #principal .caja div.fila.error select, #contenido .interior #principal .caja div.fila.error textarea { border: 1px solid #d81e05; }
#contenido .interior #principal .caja div.fila.nueva-linea { padding-left: 40%; }

#contenido .interior #principal .caja div.fila span { font-size: 1.6em; line-height: 1.2em; float: left; padding: .3em .5em 0 .5em; color: #333; }
#contenido .interior #principal .caja div.fila span.infoError { display: block; position: absolute; top: .5em; right: 0; padding-top: 0.2em; font-size: 1.2em; font-weight: bold; color: #d81e05; width: 18%; }
#contenido .interior #principal .caja div.fila span.infoErrorBloque { display: block; position: absolute; top: .5em; right: 0; padding-top: 0.2em; font-size: 1.2em; font-weight: bold; color: #d81e05; width: 25%; }
#contenido .interior #principal .caja div.fila span.msgNewLine { position: static; float: none; display: block; text-align: right; font-size: 1.2em; font-weight: bold; color: #d81e05; }

#contenido .interior #principal .caja div.acepto span.infoError { top: 1.5em; right: 12em; }

#contenido .interior #principal .caja .filaBoton .fila.acepto .infoError { top: .7em; }

#contenido .interior #principal .caja div.fila span.help { padding-top: .5em; width: 29.5%; font-size: 1.2em; }

#contenido .interior #principal .caja div.fila span.helpLong { padding-top: .5em; width: 41%; font-size: 1.2em; margin-right: -2%; }

#contenido .interior #principal .caja div.fila span.lynd { font-size: 1em; line-height: .75em; float: none; color: #d81e05; padding: 0; margin: 0; }

#contenido .interior #principal .caja div.filaRdCh { position: relative; margin: 0 !important; padding: 1em 0 !important; width: 100%; display: table; }

#contenido .interior #principal .caja div.filaRdCh label { width: 94%; float: left; text-align: left; line-height: 1.2em; }

#contenido .interior #principal .caja div.filaRdCh input { float: left; width: auto; border: 1px solid red; margin: .25em .5em 0 0; }

#contenido .interior #principal .caja div.filaBoton input { margin: .25em .5em 0 0; float: left; width: auto !important; text-align: left !important; vertical-align: middle; }

#contenido .interior #principal .caja div.filaBoton label { float: left; padding-top: 0; width: auto !important; text-align: left !important; line-height: 1.2em; }

#contenido .interior #principal .caja div.filaBoton a.volver { padding: .5em 0; font-size: 1.6em; float: left; }

#contenido .interior #principal form input.boton { float: right !important; margin: 0 !important; }

#contenido .interior #principal .caja a.ayuda { background: #d81e05; color: #fff; margin-left: .5em; text-decoration: none; padding: 0 .5em; }

#contenido .interior #principal form h3 { margin-top: 1em; }

#contenido .interior #principal form .placeholder { color: #757575; }

#contenido .interior #principal .leyenda { text-align: right; }

#contenido .interior #principal .lyndH2 { margin-top: -2.75em; }

#contenido .interior #principal .leyenda span { color: #d81e05; }

#contenido .interior #principal .mt0 { margin-top: 0; }

#contenido .interior #principal h2.subTitlePpal + p.leyenda.lyndH2 { font-size: 1.5em; margin-top: -1.5em; }

/* Formato para los check como la Política de privacidad. */
#contenido .interior #principal .caja div.texto { margin: .5em 0 1em 0; display: table; width: 100%; }

#contenido .interior #principal .caja div.texto label { width: 90%; float: left; text-align: left; padding: .5em 0 0 0; margin: 0; }

#contenido .interior #principal .caja div.texto input[type=checkbox], #contenido .interior #principal .caja div.texto input[type=radio] { float: left; margin: .75em 0 0 0; height: auto; padding: 2px 3px; width: 5%; border: none; background: #fff !important; box-shadow: inset 0 0 0 0 #fff; }

#contenido .interior #principal .boton { font-size: 1.5em; background: #d81e05 url(../img/icos.gif) no-repeat -960px -467px; color: #fff; height: auto; width: auto; padding: 5px 20px 5px 40px; border: none; cursor: pointer; margin-bottom: 2em; text-decoration: none; border-radius: 10px; box-shadow: none; }

@media only screen and (max-width: 767px) { /* Formulario caja */
  #contenido .interior #principal .caja label, #contenido .interior #principal .caja p.etiqueta { width: 35%; } }
@media only screen and (max-width: 535px) { /* Formulario caja */
  #contenido .interior #principal .lyndH2 { margin-top: 0; }
  #contenido .interior #principal .caja label, #contenido .interior #principal .caja input, #contenido .interior #principal .caja input.sizeXL, #contenido .interior #principal .caja select.sizeXL, #contenido .interior #principal .caja textarea, #contenido .interior #principal .caja p.etiqueta, #contenido .interior #principal .caja p.texto, #contenido .interior #principal .caja div.fila span.help { width: 94%; text-align: left; margin-bottom: .5em; }
  #contenido .interior #principal .caja input[type="checkbox"], #contenido .interior #principal .caja input[type="radio"] { width: auto; }
  #contenido .interior #principal .caja div.fila { padding-left: .75em; }
  #contenido .interior #principal .caja div.fila span.infoError { display: block; float: none; width: 50%; padding-left: 0; top: 3em; }
  #contenido .interior #principal .caja div.fila span.lynd { margin-left: -0.7em; }
  #contenido .interior #principal .caja div.fila span.infoErrorBloque { width: 100%; position: relative; } }
@media only screen and (max-width: 535px) { /* Formato para los check como la Política de privacidad. */
  #contenido .interior #principal .caja div.texto input[type=checkbox], #contenido .interior #principal .caja div.texto input[type=radio] { margin: .75em 0 .25em 0; } }
/* Lateral Derecho */
.interior #lateral { width: 25.5%; float: right; margin-bottom: 2em; font-size: 1.4em; }

.interior #lateral .caja { border: 1px solid #ccc; margin-bottom: 1em; background: #fff; padding: 8%; }

.interior #lateral .caja h1 { color: #d81e05; font-size: 1.4em; border-bottom: 1px solid #ccc; padding-bottom: .75em; margin-bottom: .5em; line-height: 1em; }

.interior #lateral .caja h1 span.ico { width: 50px; float: right; }

.interior #lateral .caja h1.ayuda span { background: url(../img/icos.gif) no-repeat -100px 0; height: 35px; margin-top: -0.25em; }

.interior #lateral .caja h1.faq span { background: url(../img/icos.gif) no-repeat -150px 0; height: 50px; margin-top: -1em; }

.interior #lateral .caja p { line-height: 1.25em; padding-bottom: 1em; }

.interior #lateral .caja p tel { white-space: nowrap; }

.interior #lateral .caja p.btn { padding: .25em 0 1em 0; display: table; }

.interior #lateral .caja p.btn a.boton { text-decoration: none; float: left; width: auto !important; margin: 0 !important; padding-top: .5em !important; padding-bottom: .5em !important; }

.interior #lateral .caja ol.faq span.desplegable span.respuesta { color: #666; display: none; line-height: 1.45em; }

.interior #lateral .caja ol.faq span.desplegable:hover span.respuesta { display: block; }

.interior #lateral .caja ol.faq span.desplegable span.pregunta { color: #dc291e; cursor: pointer; text-decoration: underline; line-height: 1.45em; }

.interior #lateral .caja ol.faq span.desplegable:hover span.pregunta { text-decoration: none; color: #000; }

.desplegable { display: inline-block; }

.interior #lateral .caja ol.faq { list-style: none; line-height: 1.45em; }

.interior #lateral .caja ol.faq a { text-decoration: none; cursor: pointer; }

/*.interior #lateral .caja ol.faq a span.pregunta{
	display:block;
	text-decoration:underline;
}
.interior #lateral .caja ol.faq a span.respuesta{
	display:none;
	color:#666;
}
.interior #lateral .caja ol.faq a:hover span.pregunta,
.interior #lateral .caja ol.faq a:focus span.pregunta{
	text-decoration:none;
	color:#000;
}
.interior #lateral .caja ol.faq a:hover span.respuesta,
.interior #lateral .caja ol.faq a:focus span.respuesta{
	display:block;
}*/
.interior #lateral .caja ol.faq { counter-reset: li; margin-left: 0; }

.interior #lateral .caja ol.faq > li { position: relative; margin: 0 0 1em 2em; padding: 0; list-style: none; background: #fff; }

.interior #lateral .caja ol.faq > li:before { content: counter(li, decimal-leading-zero); counter-increment: li; position: absolute; top: 0; font-size: .8em; left: -2.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 1.75em; margin-right: 0; padding: 0; color: #fff; background: #696969; font-weight: bold; text-align: center; border-radius: 25px; box-shadow: 0 0 15px 3px #fafafa; }

.interior #lateral div#tarjetaTC { background: url(../img/icos.gif) no-repeat 0 -75px; height: 100px; padding: 0; }

.interior #lateral div#tarjetaTC a { width: 100%; height: 100%; display: block; }

.interior #lateral .caja h2 { font-size: 1.3em; clear: both; margin-bottom: .5em; }

.interior #lateral .caja .resumen { font-size: 1em; display: table; margin-top: 1em; }

.interior #lateral .caja .resumen dt { float: left; clear: left; width: 5em; margin-bottom: .5em; padding-right: 1em; text-align: right; font-weight: bold; line-height: normal; }

.interior #lateral .caja .resumen dd { float: left; width: 8em; margin-bottom: .5em; line-height: normal; }

.interior #lateral .caja .resumen dd.doslineas { padding-top: 1.25em; }

.interior #lateral .caja .cambiar { margin-left: 1.5em; }

@media only screen and (max-width: 991px) { /* CONTENIDO */
  /* Plantillas Interiores */
  .interior #lateral { width: 100%; }
  .interior #lateral .caja .resumen dt { width: 40%; }
  .interior #lateral .caja .resumen dd { width: 40%; }
  .interior #lateral .caja .resumen dd.doslineas { padding-top: 0; } }
.generica #lateral { float: left; }
.generica #principal { float: right; }
.generica #principal h2 { margin-bottom: 0; padding-left: .6em; font-size: 2.1em; border: none; }
.generica #principal .info { padding: 0 0 0 .8em; font-size: 1.8em; font-weight: bold; background: url("../img/bck_title.png") no-repeat 0 0.3em; }

#contenido .interior #principal .C70 { margin-bottom: 2.7em; }
#contenido .interior #principal .C70 h2 { color: #333; min-height: 2em; line-height: 2em; font-weight: normal; }
#contenido .interior #principal .C70 h2 span { padding: 0 0 1em; background-color: transparent; }
#contenido .interior #principal .C70 a { font-size: 1em; }
#contenido .interior #principal .C70 .tabla { margin-bottom: 1em; }
#contenido .interior #principal .C70 .pixel { display: inline-block; background: url(../img/icos.png) no-repeat -745px 0; margin: 0 0.5em -0.75em 0; width: 44px; height: 23px; vertical-align: text-top; }
#contenido .interior #principal .C70#hogar .pixel { width: 24px; height: 23px; background-position: -836px 0; }
#contenido .interior #principal .C70#vida .pixel { width: 24px; height: 23px; background-position: -801px 0; }
#contenido .interior #principal .C70#inversion .pixel { width: 33px; height: 32px; background-position: -563px -54px; }
#contenido .interior #principal .C70#otros .pixel { width: 33px; height: 32px; background-position: -487px -54px; }
#contenido .interior #principal .C70#salud04 .pixel { width: 30px; height: 32px; background-position: -523px -54px; }
#contenido .interior #principal .C70#tc .pixel { width: 65px; height: 20px; background-position: -638px -53px; }
#contenido .interior #principal .C70#pension .pixel { width: 33px; height: 32px; background-position: -603px -50px; }
#contenido .interior #principal .C70#accidentes .pixel { width: 20px; height: 30px; background-position: -720px -47px; }
#contenido .interior #principal .tableMobile label, #contenido .interior #principal .tableMobile input[type="text"] { float: none; }
#contenido .interior #principal .caja label, #contenido .interior #principal .caja input[type="text"] { width: auto; padding: 0; font-size: 1em; font-weight: normal; }

.filaBoton { padding-top: 1.5em; border-top: 1px solid #d6d6d5; }

@media only screen and (max-width: 991px) { #lateral { display: none; } }
@media only screen and (max-width: 767px) { .interior #principal { position: static; } }
