@charset "utf-8";
/* CSS Document */
/* Artículo principal ------------------------------------------------------------------------ */
.interior #principal { width: 68%; float: left; margin-bottom: 2em; }
.interior #principal .sep p { margin-bottom: .5em; }

/* Textos: títulos, párrafos, listas, listas ordenadas */
.entry { font-size: 1.1em; font-weight: bold; }

.interior #principal h1 { font-size: 3.2em; font-weight: normal; color: #d81e05; margin-bottom: .2em; line-height: 1em; letter-spacing: -0.05em; }

.interior #principal h2 { font-size: 2.5em; font-weight: normal; color: #d81e05; margin-bottom: 1em; border-bottom: 1px solid #d6d6d5; line-height: 1em; letter-spacing: -0.05em; }

.interior #principal h2 span { padding-right: .25em; }

.interior #principal h3 { font-size: 2.15em; font-weight: normal; color: #d81e05; padding: .4em 0 1em .5em; background: url(../img/icos.gif) no-repeat 0 -460px; line-height: 1em; letter-spacing: -0.05em; }

.interior #principal h4 { font-size: 2em; font-weight: normal; color: #000; padding: .5em 0 1em .5em; line-height: 1em; letter-spacing: -0.05em; }

.interior #principal p { font-size: 1.6em; line-height: 1.2em; margin: 0 0 1.5em 0; }

.interior #principal form.texto { margin: 0 0 1.5em 0; }

.interior #principal form.texto label { font-size: 1.6em; line-height: 1.2em; }

.interior #principal form.texto input[type=checkbox], .interior #principal form.texto input[type=radio] { margin-top: -0.2em; }

.interior #principal p a.FNMT { width: 95%; padding-left: 5%; display: table; height: 5em; }

.interior #principal p a.FNMT span { margin: -55px 0 0 65px; display: block; }

.interior #principal p a.FNMT img { background: url(../img/icos.gif) no-repeat 0 0; width: 50px; height: 75px; }

.interior #principal ul li { position: relative; margin-bottom: 1.4em; }

.interior #principal ul li:before { content: '\2022'; color: #d81e05; position: absolute; top: -0.05em; left: -0.75em; font-size: 1.5em; }

.interior #principal ul.normal { margin-left: 1em; margin-bottom: 2.5em; }

.interior #principal ul.normal > li { font-size: 1.6em; line-height: 1.2em; margin: 0 0 .3em .35em; }

.interior #principal ul.imagenes > li { display: inline-block; }

.interior #principal ul.imagenes li:before { content: ''; }

.interior #principal ol.numeros { font-size: 1.6em; line-height: 1.2em; counter-reset: li; margin: 0 0 1.5em .75em; }

.interior #principal ol.numeros > li { position: relative; margin: 0 0 1em 2.35em; padding: 0; list-style: none; background: #fff; }

.interior #principal ol.numeros > li:before { content: counter(li); counter-increment: li; position: absolute; top: -3px; left: -2.35em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 1.7em; margin-right: 0; padding: .25em; color: #fff; background: #696969; font-weight: bold; text-align: center; border-radius: 25px; box-shadow: 0 0 15px 3px #fafafa; }

.interior #principal ol.numeros > li strong { display: table; }

#contenido div.sinPest h1.ppal { font-size: 3.2em; font-style: italic; font-weight: normal; color: #d81e05; margin-bottom: .8em; line-height: 1em; letter-spacing: -0.05em; clear: both; }

#contenido div.sinPest h1.ppal span { font-size: .7em; }

/* Destacados */
.interior #principal .cajadestico { background: url(../img/bg-dest-ico.gif) no-repeat left bottom; margin-bottom: 2em; border: 1px solid #eee; box-shadow: 1px 2px 2px #aaa; }

.interior #principal .cajadestico .ico-alert { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-alert:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -43px 0; }
.interior #principal .cajadestico .ico-alert p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-alert p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-info { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-info:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -129px 0; }
.interior #principal .cajadestico .ico-info ul { margin-left: 1em; padding-top: .5em; }
.interior #principal .cajadestico .ico-info ul li p { padding-top: 0; }
.interior #principal .cajadestico .ico-info p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-info p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-OK { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-OK:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat 0 0; }
.interior #principal .cajadestico .ico-OK p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-OK p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-error { display: inline-block; padding: 2em 4% 3em 12%; position: relative; }
.interior #principal .cajadestico .ico-error:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -172px 0; }
.interior #principal .cajadestico .ico-error p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-error p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-reloj { position: relative; padding: 2em 4% 3em 12%; display: inline-block; }
.interior #principal .cajadestico .ico-reloj:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -215px 0; }
.interior #principal .cajadestico .ico-reloj p { margin-bottom: 0; padding-top: .5em; }
.interior #principal .cajadestico .ico-reloj p + p { padding-top: 0; }

.interior #principal .cajadestico .ico-block { position: relative; padding: 2em 4% 3em 12%; display: inline-block; }
.interior #principal .cajadestico .ico-block:before { position: absolute; top: auto; left: 3em; width: 43px; height: 43px; content: ""; background: url(../img/iconos.png) no-repeat -86px 0; }
.interior #principal .cajadestico .ico-block p { padding-top: .5em; margin-bottom: 1em; }
.interior #principal .cajadestico .ico-block p + p { padding-top: 0; }

.interior #principal .cajadestico li p { margin: 0; }

@media only screen and (max-width: 991px) { /* CONTENIDO */
  /* Artículo principal */
  .interior #principal { width: 100%; } }
@media only screen and (max-width: 640px) { .interior #principal .cajadestico .ico-alert, .interior #principal .cajadestico .ico-OK, .interior #principal .cajadestico .ico-info, .interior #principal .cajadestico .ico-block { padding-left: 7.5em; }
  .interior #principal .cajadestico .ico-alert:before, .interior #principal .cajadestico .ico-OK:before, .interior #principal .cajadestico .ico-info:before, .interior #principal .cajadestico .ico-block:before { left: 2em; } }
@media only screen and (max-width: 535px) { /* Destacados */ }
@media only screen and (max-width: 480px) { /* Destacados */
  .interior #principal .cajadestico .ico-alert:before { left: 2em; }
  .interior #principal .cajadestico .ico-info:before { left: 2em; }
  .interior #principal .cajadestico .ico-info ul { margin-left: 20px; }
  .interior #principal .cajadestico .ico-info ul p { padding-top: 0; }
  .interior #principal .cajadestico .ico-info p { padding-top: 4%; }
  .interior #principal .cajadestico .ico-OK:before { left: 2em; }
  .interior #principal .cajadestico .ico-error:before { left: 2em; }
  .interior #principal .cajadestico .ico-reloj { padding-left: 6.5em; }
  .interior #principal .cajadestico .ico-reloj:before { left: 2em; } }
/* Lateral Derecho */
.interior #lateral { width: 25.5%; float: right; margin-bottom: 2em; font-size: 1.4em; }

.interior #lateral .caja { border: 1px solid #ccc; margin-bottom: 1em; background: #fff; padding: 8%; }

.interior #lateral .caja h1 { color: #d81e05; font-size: 1.4em; border-bottom: 1px solid #ccc; padding-bottom: .75em; margin-bottom: .5em; line-height: 1em; }

.interior #lateral .caja h1 span.ico { width: 50px; float: right; }

.interior #lateral .caja h1.ayuda span { background: url(../img/icos.gif) no-repeat -100px 0; height: 35px; margin-top: -0.25em; }

.interior #lateral .caja h1.faq span { background: url(../img/icos.gif) no-repeat -150px 0; height: 50px; margin-top: -1em; }

.interior #lateral .caja p { line-height: 1.25em; padding-bottom: 1em; }

.interior #lateral .caja p tel { white-space: nowrap; }

.interior #lateral .caja p.btn { padding: .25em 0 1em 0; display: table; }

.interior #lateral .caja p.btn a.boton { text-decoration: none; float: left; width: auto !important; margin: 0 !important; padding-top: .5em !important; padding-bottom: .5em !important; }

.interior #lateral .caja ol.faq span.desplegable span.respuesta { color: #666; display: none; line-height: 1.45em; }

.interior #lateral .caja ol.faq span.desplegable:hover span.respuesta { display: block; }

.interior #lateral .caja ol.faq span.desplegable span.pregunta { color: #dc291e; cursor: pointer; text-decoration: underline; line-height: 1.45em; }

.interior #lateral .caja ol.faq span.desplegable:hover span.pregunta { text-decoration: none; color: #000; }

.desplegable { display: inline-block; }

.interior #lateral .caja ol.faq { list-style: none; line-height: 1.45em; }

.interior #lateral .caja ol.faq a { text-decoration: none; cursor: pointer; }

/*.interior #lateral .caja ol.faq a span.pregunta{
	display:block;
	text-decoration:underline;
}
.interior #lateral .caja ol.faq a span.respuesta{
	display:none;
	color:#666;
}
.interior #lateral .caja ol.faq a:hover span.pregunta,
.interior #lateral .caja ol.faq a:focus span.pregunta{
	text-decoration:none;
	color:#000;
}
.interior #lateral .caja ol.faq a:hover span.respuesta,
.interior #lateral .caja ol.faq a:focus span.respuesta{
	display:block;
}*/
.interior #lateral .caja ol.faq { counter-reset: li; margin-left: 0; }

.interior #lateral .caja ol.faq > li { position: relative; margin: 0 0 1em 2em; padding: 0; list-style: none; background: #fff; }

.interior #lateral .caja ol.faq > li:before { content: counter(li, decimal-leading-zero); counter-increment: li; position: absolute; top: 0; font-size: .8em; left: -2.5em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; width: 1.75em; margin-right: 0; padding: 0; color: #fff; background: #696969; font-weight: bold; text-align: center; border-radius: 25px; box-shadow: 0 0 15px 3px #fafafa; }

.interior #lateral div#tarjetaTC { background: url(../img/icos.gif) no-repeat 0 -75px; height: 100px; padding: 0; }

.interior #lateral div#tarjetaTC a { width: 100%; height: 100%; display: block; }

.interior #lateral .caja h2 { font-size: 1.3em; clear: both; margin-bottom: .5em; }

.interior #lateral .caja .resumen { font-size: 1em; display: table; margin-top: 1em; }

.interior #lateral .caja .resumen dt { float: left; clear: left; width: 5em; margin-bottom: .5em; padding-right: 1em; text-align: right; font-weight: bold; line-height: normal; }

.interior #lateral .caja .resumen dd { float: left; width: 8em; margin-bottom: .5em; line-height: normal; }

.interior #lateral .caja .resumen dd.doslineas { padding-top: 1.25em; }

.interior #lateral .caja .cambiar { margin-left: 1.5em; }

@media only screen and (max-width: 991px) { /* CONTENIDO */
  /* Plantillas Interiores */
  .interior #lateral { width: 100%; }
  .interior #lateral .caja .resumen dt { width: 40%; }
  .interior #lateral .caja .resumen dd { width: 40%; }
  .interior #lateral .caja .resumen dd.doslineas { padding-top: 0; } }
.generica #lateral { float: left; }
.generica #principal { float: right; }
.generica #principal h2 { padding-left: .6em; background: url("../img/bck_title.png") no-repeat 0 0.3em; font-size: 2.1em; border: none; }

.popup { padding: .2em; }
.popup .total { width: 100%; max-width: 100%; }
.popup header { padding: 0 1.3em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #d81e05; border-radius: 10px 10px 0 0; }
.popup #contenidoInt { border-top: none; border-radius: 0; }
.popup #principal { float: none; width: 96%; padding: 2%; }
.popup #principal ul.normal { margin-left: 2em; }
.popup #principal .title { margin-bottom: 3em; border-bottom: 1px solid #d6d6d5; }
.popup #principal .title h1 { position: relative; top: 9px; float: left; width: 16em; background: #fff; font-style: normal; font-size: 2.4em; }
.popup #principal .title .printOption { float: right; padding-top: .5em; }
.popup .detalle strong { display: block; }
.popup .detalle img { display: inline-block; vertical-align: middle; }
.popup p { padding-left: .8em; }

.bienvenida { padding: 0; background: #e8e8e8 url("../img/bck_popup.png") repeat-x 0 100% !important; }
.bienvenida #contenidoInt { width: 100%; max-width: normal !important; min-height: 554px; border-top: 46px solid #b10000; text-align: right; background: url("../img/bck_bienvenida.jpg") no-repeat 0 0; }
.bienvenida #principal { width: 100%; padding: 58px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.bienvenida .wysiwyg { width: 50%; margin-left: auto; }
.bienvenida h1 { margin-bottom: 34px; font-weight: normal; font-size: 35px; }
.bienvenida h1 span { font-weight: bold; }
.bienvenida p { line-height: 22px; font-size: 18px; }
.bienvenida .tc { color: #b90000; }
.bienvenida .tc span { color: #000; }
.bienvenida .firma { margin-top: 2em; }

/* Bloque detalle del producto */
#datosProd { padding: 1.5em; background: #fcfcfc; border: 1px solid #d2d2d2; border-radius: 15px; border-top-width: 2px; margin-bottom: 1.5em; font-size: 1.2em; color: #000; }
#datosProd P { margin: 0; padding: .35em 0 .15em 0; font-size: 1.3em; font-weight: bold; }
#datosProd P a { font-weight: normal; margin-left: 1em; }
#datosProd .dati { float: left; }
#datosProd .dati span { font-size: 1.2em; }
#datosProd .dati .tit { font-weight: normal; }
#datosProd .ncon { float: right; padding-top: .5em; }
#datosProd .ncon .tit { font-weight: normal; }
#datosProd.prodycar .ncon, #datosProd.prodycar .dati { float: none; }
#datosProd.prodycar .consImg { width: 200px; float: right; text-align: center; border-left: 1px solid #d2d2d2; padding-left: 1.5em; }
#datosProd.prodycar .consImg img { display: block; margin: 0 auto 5px auto; }
#datosProd.prodycar p { font-size: 1.1em; }

@media only screen and (max-width: 480px) { .popup #principal .title h1 { width: auto; }
  #datosProd.prodycar .consImg { width: 100%; margin-bottom: 10px; } }
